#error-message {
	text-align: center;
}
@media (min-width: 1440px) { /* min-content: 1280px, margin: 80px */
	#error-message > img {
		margin-bottom: 40px;
		height: 300px;
	}
}
@media (min-width: 1024px) and (max-width: 1439.9px) { /* min-content: 920px, margin: 52px */
	#error-message > img {
		margin-bottom: 26px;
		height: 240px;
	}
}
@media (min-width: 768px) and (max-width: 1023.9px) { /* min-content: 680px, margin: 44px */
	#error-message > img {
		margin-bottom: 22px;
		height: 200px;
	}
}
@media (min-width: 640px) and (max-width: 767.9px) { /* min-content: 570px, margin: 30px */
	#error-message > img {
		margin-bottom: 15px;
		height: 150px;
	}
}
@media (min-width: 480px) and (max-width: 639.9px) { /* min-content: 430px, margin: 25px */
	#error-message > img {
		margin-bottom: 12.5px;
		height: 125px;
	}
}
@media (max-width: 479.9px) { /* min-content: 280px, margin: 20px */
	#error-message > img {
		margin-bottom: 10px;
		height: 100px;
	}
}
