#hero {
	background-image: url('/img/hero-6.jpg');
}

/***********
 * Content *
 ***********/
.accolade {
	
}
.accolade > .title {	
	margin-bottom: 10px;
	max-height: 54px; /* 54px (2 lines) */
	overflow: hidden;
	text-transform: none;
}

.accolade > img {
	margin-bottom: 10px;
	border: 2px solid rgb(238, 238, 238); /* lighter gray */
}

@media (min-width: 1366px) { /* Desktop */	
	.accolade {
		display: inline-block;
		vertical-align: top;
		margin: 0 20px 40px;
		width: 280px;
	}
	.accolade:nth-of-type(3n - 2) {
		margin-left: 0;
	}
	.accolade:nth-of-type(3n) {
		margin-right: 0;
	}
	.accolade > img {
		width: 280px;
		height: 280px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	.accolade {
		display: inline-block;
		vertical-align: top;
		margin: 0 20px 40px;
		width: 200px;
	}
	.accolade:nth-of-type(3n - 2) {
		margin-left: 0;
	}
	.accolade:nth-of-type(3n) {
		margin-right: 0;
	}
	.accolade > img {
		width: 200px;
		height: 200px;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	.accolade {
		display: block;
		margin: 0 0 30px;
	}
	.accolade > img {
		width: 280px;
		height: 280px;
	}
}
