#hero {
	background-image: url('/img/hero-1.jpg');
}

#main {
	padding: 0;
	background-color: rgb(255, 255, 255); /* white */
}
#features {
	text-align: center;
}
.feature {
	position: relative;
	color: rgb(220, 19, 81); /* pink */
	text-align: center;
}
.feature > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.feature > h3,
.feature > p,
.feature > .button-link {
	position: relative;
}
.feature > h3 {
	font-size: 18px;
	text-transform: uppercase;
}

#therapy-categories {
	position: relative;
	text-align: center;
}
.category {
	position: relative;
	background-repeat: repeat;
	background-image: url('/img/ui/bg-tile-2.png');
	background-size: 31px 55px;
	color: rgb(137, 127, 113); /* sand */
	text-align: center;
}
.category > img {
	position: absolute;
	top: 0;
	left: 0;
}
.category > h3,
.category > p,
.category > .button-link {
	position: relative;
}
@media (min-width: 1366px) { /* Desktop */
	.feature {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 4px 0;
		width: 50%;
		height: 400px;
	}
	.feature > h3 {
		padding-top: 150px;
		margin: 0;
	}
	.feature > p {
		margin-bottom: 14px;
	}
	.category {
		display: inline-block;
		vertical-align: top;
		margin: 0 2px 4px 2px;
		width: 450px;
		height: 200px;
	}
	.category > img {
		width: 200px;
	}
	.category > h3 {
		margin-left: 200px;
		padding-top: 65px;
		color: inherit;
		text-transform: none;
	}
	.category > .button-link {
		margin-left: 200px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	.feature {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 4px 0;
		width: 50%;
		height: 300px;
	}
	.feature > h3 {
		padding-top: 100px;
	}
	.feature > p {
		margin-bottom: 14px;
	}
	.category {
		display: inline-block;
		vertical-align: top;
		margin: 0 2px 4px 2px;
		width: 336px;
		height: 150px;
	}
	.category > .button-link {
		margin-left: 150px;
	}
	.category > img {
		width: 150px;
	}
	.category > h3 {
		margin-left: 150px;
		padding-top: 40px;
		color: inherit;
		text-transform: none;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	.feature {
		display: block;
		height: 187px;
	}
	.feature > img {
		width: 100%;
		height: auto;
		min-height: 100%;
		overflow: auto;
	}
	.feature > h3 {
		padding-top: 45px;
	}
	.feature > p {
		margin-bottom: 14px;
	}
	#therapy-categories {
		display: none;
	}
}
