#hero {
	background-image: url('/img/hero-3.jpg');
}

#main {
	background-repeat: no-repeat;
	background-image: url('/img/bg-slope.jpg');
	background-size: cover;
	background-position: center;
}
#philosophy {
	position: relative;
}
#philosophy h2 {
	margin-bottom: 21px;
}

.panel {
	position: relative;
	font-weight: bold;
}

#sign-off {
	text-align: center;
}
#signature {
	width: 100%;
}
#signator {
	color: rgb(220, 19, 81); /* pink */
}
@media (min-width: 1366px) { /* Desktop */
	.panel {
		display: inline-block;
		vertical-align: top;
		margin-right: 40px;
		width: 280px;
	}
	.panel:last-of-type {
		margin-right: 0;
	}
	#sign-off {
		padding: 40px 0;
		width: 280px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	.panel {
		display: inline-block;
		vertical-align: top;
		margin-right: 40px;
		width: 200px;
	}
	.panel:last-of-type {
		margin-right: 0;
	}
	#sign-off {
		padding: 40px 0;
		width: 200px;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	#sign-off {
		padding: 20px 0;
		width: 320px;
	}
}
