<article class=job-listing><h3>{{title}}</h3><h4>Responsibility:</h4><p class=responsibilities>{{responsibilities}}</p><h4>Traits:</h4><ul class=traits> {{{traits-html}}} </ul><a class=button-link href="mailto:careers@tarabliss.com.sg?subject={{title}}">Contact Us</a></article>