<article class=accolade><img src="{{img-file}}" alt="{{img-alt}}"/><h3 class=title>{{title}}</h3><p class=description>{{description}}</p><a class=button-link href="{{href}}" target=_blank>More Info</a></article>