/********* Colors **************
   Name            RGB              HEX
  ------          -----            -----
 black           0, 0, 0          #000000
 dark gray       68, 68, 68       #444444
 gray            170, 170, 170    #AAAAAA
 light gray      204, 204, 204    #CCCCCC
 lighter gray    238, 238, 238    #EEEEEE
 white           255, 255, 255    #FFFFFF

 pink            220, 19, 81      #DC1351
 dark pink       165, 14, 61      #A50E3D
 sand            137, 127, 113    #897F71
 light sand      196, 191, 184    #C4BFB8

 blue            22, 94, 150      #165E96
 light blue      128, 187, 227    #80BBE3
*******************************/

#dialog-overlay  {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	background-color: rgba(255, 255, 255, 0.95); /* white */
	opacity: 0;
	
	visibility: hidden;
	opacity: 0;
	transition: visibility 1ms 0.1s, opacity 0.1s; /* fade out duration */
}
#dialog-overlay.shown {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s linear; /* fade in duration */
}

#dialog-box {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	text-align: center;
}

/* Close button */
#dialog-close-button { /* same as UI's close button */
	position: fixed;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	box-shadow: none;
	background-color: transparent;
	color: rgb(204, 204, 204); /* light gray */
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	transition: color 0.2s, box-shadow 0.2s;
}
#dialog-close-button::after {
	content:'×';
	font-size: 35px;
}
#dialog-close-button:focus,
#dialog-close-button:hover,
#dialog-close-button:active {
	box-shadow: none;
	background-color: transparent;
	color: rgb(255, 255, 255); /* white */
	text-shadow: 0 0 2px rgb(68, 68, 68); /* dark gray */
}

/* Message */
#dialog-box-message {
	font-size: 14px;
	color: rgb(220, 19, 81); /* pink */
	line-height: 21px;
	text-align: left;
}
#dialog-box-message .error-message {
	font-weight: bold;
	color: rgb(165, 14, 61); /* dark pink */
}

/* Button */
#dialog-box > button::after {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	margin-left: 2px;
	width: 11px;
	height: 11px;
	background-image: url('/img/ui/more-FFFFFF.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
#dialog-box > button {
	margin-right: 20px;
}
#dialog-box > button:last-of-type {
	margin-right: 0;
}
@media (min-width: 1366px) { /* min-content: 1280px, margin: 80px */
	#dialog-box {
		width: 1240px;
		height: 300px;
	}
	#dialog-box-message {
		margin-bottom: 40px;
	}
	#dialog-box > button {
		width: 125px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* min-content: 920px, margin: 52px */
	#dialog-box {
		width: 960px;
		height: 300px;
	}
	#dialog-box-message {
		margin-bottom: 40px;
	}
	#dialog-box > button {
		width: 125px;
	}
}
@media (max-width: 1023.9px) { /* min-content: 680px, margin: 44px */
	#dialog-box {
		width: 100%;
		height: 100%;
		padding: 70px 15px;
	}
	#dialog-box-message {
		margin-bottom: 40px;
	}
	#dialog-box > button {
		width: 125px;
	}
}

/**********
 *  Halt  *
 **********/
#dialog-box.halt {
	width: 100%;
	height: 100%;
}
#dialog-box.halt + #dialog-close-button {
	display: none;
}
#dialog-box.halt > #dialog-box-message::before {
	content:"";
	position: relative;
	display: block;
	margin-bottom: 5vh;
	height: 10vh;
	background-image: url("/img/ui/warning-FFFFFF.svg");
	background-position: center bottom 10%;
	background-size: contain;
	background-repeat: no-repeat;
}
