/********* Colors **************
   Name            RGB              HEX
  ------          -----            -----
 black           0, 0, 0          #000000
 dark gray       68, 68, 68       #444444
 gray            170, 170, 170    #AAAAAA
 light gray      204, 204, 204    #CCCCCC
 lighter gray    238, 238, 238    #EEEEEE
 white           255, 255, 255    #FFFFFF

 pink            220, 19, 81      #DC1351
 dark pink       165, 14, 61      #A50E3D
 sand            137, 127, 113    #897F71
 light sand      196, 191, 184    #C4BFB8

 blue            22, 94, 150      #165E96
 light blue      128, 187, 227    #80BBE3
*******************************/

/******* Z-Indices ************
 0         : Normal
 1         : Fixed Navs
 99        : Overlays
 999       : Critical Dialogs
 ******************************/

/*******************
 * Site Dimensions *
 *******************/
@-ms-viewport{width:device-width}

html, body, #page, #overlay, noscript {
	width:100%;
	height:100%;
	min-width: 320px;
	min-height: 372px;
}
html, body {
	overflow: hidden;
	-ms-scroll-chaining:none;
	-ms-overflow-style:none;
	-ms-touch-action: none;
	touch-action: none;
}
#page {
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-ms-scroll-chaining: none;
	-ms-overflow-style:-ms-autohiding-scrollbar;
}
#overlay, noscript {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
#overlay {
	z-index: 99;
}
noscript {
	z-index: 999;
}

@media (min-width: 1366px) { /* Desktop */
	#site-header,
	#hero,
	#main,
	#site-links,
	#site-footer {
		margin: 0 auto;
		width: 1366px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	#site-header,
	#hero,
	#main,
	#site-links,
	#site-footer {
		margin: 0 auto;
		width: 1024px;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	#site-header,
	#hero,
	#main,
	#site-links,
	#site-footer {
		width: 100%;
	}
}

#page {
	background-repeat: repeat;
	background-image: url('/img/ui/bg-tile-1.png');
	background-size: 31px 55px;
}

/***************
 * Site Header *
 ***************/
#site-header {
	height: 60px;
	background-color: rgb(255, 255, 255); /* white */
}
#header-home-link {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 60px;
	background-image: url('/img/ui/logo-crown-DC1351.svg');
	background-repeat: no-repeat;
	background-position: center;
	color: transparent;
}
#header-main-nav > a {
	height: 60px;
	line-height: 60px;
}
#header-tel-link,
#header-whatsapp-link,
#header-reservations-link {
	display: inline-block;
	vertical-align: top;
	height: 60px;
	border-radius: 0;
	line-height: 60px;
}

#header-tel-link::before,
#header-whatsapp-link::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	width: 15px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#header-tel-link::before {
	background-image: url('/img/ui/phone-C4BFB8.svg');
}
#header-whatsapp-link::before {
	background-image: url('/img/ui/social-media-icon-whatsapp-897F71.svg');
}
@media (min-width: 1366px) { /* Desktop */
	#site-header {
		position: relative;
	}
	#header-home-link {
		border-right: 1px solid rgb(238, 238, 238); /* lighter gray */
		background-size: 50px;
	}
	#header-main-nav {
		display: inline-block;
		vertical-align: top;
	}
	#header-tel-link,
	#header-whatsapp-link,
	#header-reservations-link {
		padding: 0 15px;
		font-size: 16px;
	}
	#header-aux-nav {
		position: absolute;
		top: 0;
		right: 0;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	#site-header {
		position: relative;
	}
	#header-home-link {
		border-right: 1px solid rgb(238, 238, 238); /* lighter gray */
		background-size: 50px;
	}
	#header-main-nav {
		display: inline-block;
		vertical-align: top;
	}
	#header-tel-link,
	#header-whatsapp-link,
	#header-reservations-link {
		padding: 0 10px;
		font-size: 14px;
	}
	#header-aux-nav {
		position: absolute;
		top: 0;
		right: 0;
	}
	
}
@media (max-width: 1023.9px) { /* Mobile */
	#site-header {
		position: fixed;
		z-index: 1;
	}
	#header-home-link {
		border-right: none;
		background-size: 50px;
	}
	#header-main-nav {
		display: none;
	}
	#header-aux-nav {
		display: none;
	}
}

/********************
 *    Mobile Nav    *
 ********************/
#mobile-nav {
	position: fixed;
	top: 60px;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 0;
	text-align: right;
}
#mobile-nav::before { /* Overlay  */
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7); /* black */
}
#mobile-nav-icon {
	position: absolute;
	top: -60px;
	right: 0;
	width: 60px;
	height: 60px;
	background-color: rgb(255, 255, 255);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
#mobile-nav-icon > div {
	position: absolute;
	left: 20%;
	height: 7px;
	width: 60%;
	background-color: rgb(220, 19, 81); /* pink */
	border-radius: 7px;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#mobile-nav-icon > div:nth-child(1) {
	top: 15.5px;
}
#mobile-nav-icon > div:nth-child(2),
#mobile-nav-icon > div:nth-child(3) {
	top: 26.5px;
}
#mobile-nav-icon > div:nth-child(4) {
	top: 37.5px;
}
#mobile-nav.shown > #mobile-nav-icon > div:nth-child(1),
#mobile-nav.shown > #mobile-nav-icon > div:nth-child(4) {
	top: 21.5px;
	left: 35%;
	width: 0;
	height: 0;
}
#mobile-nav.shown > #mobile-nav-icon > div:nth-child(2) {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
#mobile-nav.shown > #mobile-nav-icon > div:nth-child(3) {
 	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#mobile-nav > a {
	position: relative;
	height: 0;
	line-height: 50px;
	overflow: hidden;

	transition: height 0.25s; /* Close faster than open */
}
#mobile-nav.shown {
	height: 100%;
}
#mobile-nav.shown > a {
	height: 50px;

	transition: height 0.5s; /* Close faster than open */
}
#mobile-nav.shown::before {
	width: 100vw;
}

@media (min-width: 1366px) { /* Desktop */
	#mobile-nav {
		display: none;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	#mobile-nav {
		display: none;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	#mobile-nav {
		display: block;
	}
}

/*********************
 *       Hero        *
 *********************/
#hero {
	background-size: cover;
	background-position: center;
	text-align: center;
}
#hero-social-media-links {
	text-align: left;
}
#hero-social-media-links > a {
	display: inline-block;
	vertical-align: top;
	padding: 0;
}

#hero > h1 {
	padding: 0;
	border-bottom: none; /* overwrite UI style */
}
#hero > h2 {
	font-family: 'Roboto', serif;
	font-weight: normal;
	color: rgb(255, 255, 255); /* white */
	border-bottom: none; /* overwrite UI style */
}

@media (min-width: 1366px) { /* Desktop */
	#hero {
		padding: 15px;
		height: 600px;
	}
	#hero-social-media-links {
		margin-bottom: 90px;
	}
	#hero-social-media-links > a {
		width: 50px;
		height: 50px;
	}
	#hero-logo {
		width: 375px;
	}
	#hero > h1 {
		margin-bottom: 21px;
	}
	#hero > h2 {
		font-size: 24px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	#hero {
		padding: 15px;
		height: 600px;
	}
	#hero-social-media-links {
		margin-bottom: 90px;
	}
	#hero-social-media-links > a {
		width: 50px;
		height: 50px;
	}
	#hero-logo {
		width: 375px;
	}
	#hero > h1 {
		margin-bottom: 21px;
	}
	#hero > h2 {
		font-size: 24px;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	#hero {
		margin-top: 60px;
		padding: 15px;
		height: 110px;
	}
	#hero-social-media-links {
		display: none;
	}
	#hero-social-media-links > a {
		width: 50px;
		height: 50px;
	}
	#hero-logo {
		width: 160px;
	}
	#hero > h1 {
		margin-bottom: 10px;
	}
	#hero > h2 {
		font-size: 18px;
	}
}

/**********
 *  Main  *
 **********/
#main {
	visibility: visible; /* to be switched during page transition */
	position: relative;
	background-color: rgb(255, 255, 255); /* white */
	opacity: 1; /* to be switched during page transition */
	transition: opacity 0.15s linear; /* fade out duration */
}
#main::after {
	content: "";
	visibility: hidden; /* to be switched during page transition */
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url('/img/ui/loading-spikes-DC1351.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
}
#main.loading {
	visibility: hidden;
	opacity: 0.5;
	transition: visibility 1ms 0.1s, opacity 0.1s; /* fade in duration */
}
#main.loading::after {
	visibility: visible;
	opacity: 1;
}

#intro {
	position: absolute;
	top: -240px;
	left: 50%;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	color: rgb(255, 255, 255); /* white */
	line-height: 27px;
	text-align: center;
}

#selector > h2,
#selected-content > h2 {
	margin-bottom: 21px;
}

/**********************
 * Selector + Content *
 **********************/
#selector .button-link {
	position: relative;
	text-align: left;
	margin-bottom: 10px;
	width: 100%;
	height: 40px;
	line-height: 40px;
}
#selector .button-link::after {
	display: block;
	position: absolute;
	top: 0;
	right: 15px;
	height: 100%;
}

#selected-content h3,
#selected-content h4 {
	text-transform: none;
}
@media (min-width: 1366px) { /* Desktop */
	#main {
		padding: 60px 63px;
		min-height: calc(100% - 1523px); /* 60 (header) + 600 (header) + 783 (site-links) + 80 (footer) */
	}
	#intro {
		display: block;
		margin-left: -375px;
		width: 750px;
	}

	#selector,
	#selected-content {
		display: inline-block;
		vertical-align: top;
	}
	#selector {
		margin-right: 40px;
		width: 280px;
	}
	#selected-content {
		width: 920px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	#main {
		padding: 52px;
	}
	#intro {
		display: block;
		margin-left: -375px;
		width: 750px;
	}

	#selector,
	#selected-content {
		display: inline-block;
		vertical-align: top;
	}
	#selector {
		margin-right: 40px;
		width: 200px;
	}
	#selected-content {
		width: 680px;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	#main {
		padding: 30px 15px;
	}
	#intro {
		display: none;
	}

	#selector {
		display: none;
	}
	#selected-content {
		display: block;
		margin: 15px 0;
	}
}

/**************
 * Site Links *
 **************/
#site-links {
	position: relative;
	background-color: rgb(196, 191, 184); /* light sand */
}
#quick-links > a {
	border: 2px solid rgb(238, 238, 238); /* lighter gray */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: rgb(255, 255, 255); /* white */
	text-align: center;
	text-transform: uppercase;
}
#quick-links > a[href]:focus,
#quick-links > a[href]:hover,
#quick-links > a[href]:active {
	border-color: rgb(255, 255, 255); /* white */
}

#quick-links > a[href="/promotions"] {
	background-image: url('/img/quicklink-promo-bg.jpg');
}
#quick-links > a[href="//blog.tarabliss.com.sg"] {
	background-image: url('/img/quicklink-blog-bg.jpg');
}
#quick-links > #shop-quicklink {
	background-image: url('/img/quicklink-shop-bg.jpg');
}
#quick-links > #reservation-quicklink {
	background-image: url('/img/quicklink-reservation-bg.jpg');
}

.site-link-panel > h3,
.site-link-panel > a,
#contact-links > address {
	font-size: 14px;
	color: rgb(255, 255, 255); /* white */
	line-height: 24px;
}
.site-link-panel > h3 {
	padding-bottom: 16px;
}

.site-link-panel > h3 {
	text-transform: uppercase;
}
.site-link-panel > a {
	display: block;
}
.site-link-panel > a[href]:focus,
.site-link-panel > a[href]:hover,
.site-link-panel > a[href]:active {
	color: rgb(238, 238, 238); /* lighter gray */
}
@media (min-width: 1366px) { /* Desktop */
	#site-links {
		padding: 60px 63px;
		height: 783px;
	}
	#quick-links {
		margin-bottom: 30px;
	}
	#quick-links > a {
		display: inline-block;
		vertical-align: top;
		margin-right: 40px;
		padding: 150px 0 20px;
		width: 280px;
		height: 210px;
		font-size: 14px;
		line-height: 36px;
	}
	#quick-links > a:last-of-type {
		margin-right: 0;
	}

	.site-link-panel {
		display: inline-block;
		vertical-align: top;
		margin-right: 40px;
		width: 280px;
	}
	.site-link-panel:last-of-type {
		margin-right: 0;
	}

	#contact-form {
		position: absolute;
		bottom: 20px;
		right: 63px;
		width: 280px;
	}
	#newsletter-form {
		position: absolute;
		bottom: 20px;
		left: 63px;
		width: 280px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	#site-links {
		padding: 52px;
		height: 723px;
	}
	#quick-links {
		margin-bottom: 25px;
	}
	#quick-links > a {
		display: inline-block;
		vertical-align: top;
		margin-right: 40px;
		padding: 120px 0 15px;
		width: 200px;
		height: 150px;
		font-size: 14px;
		line-height: 15px;
	}
	#quick-links > a:last-of-type {
		margin-right: 0;
	}

	.site-link-panel {
		display: inline-block;
		vertical-align: top;
		margin-right: 40px;
		width: 200px;
	}
	.site-link-panel:last-of-type {
		margin-right: 0;
	}

	#contact-form {
		position: absolute;
		bottom: 20px;
		right: 52px;
		width: 200px;
	}
	#newsletter-form {
		position: absolute;
		bottom: 20px;
		left: 52px;
		width: 200px;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	#site-links {
		padding: 30px 15px;
	}
	#quick-links {
		display: none;
	}
	.site-link-panel {
		display: block;
		margin-bottom: 30px;
	}
	#contact-form,
	#newsletter-form {
		margin-bottom: 10px;
	}
}

/***************
 * Site Footer *
 ***************/
#site-footer {
	position: relative;
	background-color: rgb(137, 127, 113); /* sand */
	color: rgb(255, 255, 255); /* white */
}
#footer-social-media-links > a {
	display: inline-block;
	vertical-align: top;
	width: 50px;
	height: 50px;
}
#footer-copyright {
	margin: 0;
	padding: 0;
}
#footer-copyright > a {
	color: rgb(255, 255, 255); /* white */
}
#footer-copyright > a[href]:focus,
#footer-copyright > a[href]:hover,
#footer-copyright > a[href]:active {
	color: rgb(238, 238, 238); /* lighter gray */
}
@media (min-width: 1366px) { /* Desktop */
	#site-footer {
		padding: 15px 60px;
		height: 80px;
		line-height: 50px;
	}
	#footer-social-media-links {
		position: absolute;
		top: 0;
		right: 0;
		height: 80px;
		padding: 15px 60px;
		font-size: 14px;
	}
	#footer-social-media-links > br {
		display: none;
	}
	#footer-copyright {
		font-size: 14px;
		line-height: 50px;
	}
	#footer-copyright > br {
		display: none;
	}	
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	#site-footer {
		padding: 15px 60px;
		height: 80px;
		line-height: 50px;
	}
	#footer-social-media-links {
		position: absolute;
		top: 0;
		right: 0;
		height: 80px;
		padding: 15px 60px;
		font-size: 14px;
	}
	#footer-social-media-links > br {
		display: none;
	}
	#footer-copyright {
		font-size: 14px;
		line-height: 50px;
	}
	#footer-copyright > br {
		display: none;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	#site-footer {
		height: 215px;
		padding: 15px;
		line-height: 36px;
	}
	#footer-social-media-links {
		margin-bottom: 15px;
		font-size: 12px;
		text-align: center;
	}
	#footer-copyright {
		font-size: 12px;
		line-height: 24px;
		text-align: center;
	}
}

/***********
 * Overlay *
 ***********/
#overlay {
	visibility: hidden; /* to be switched during activation */
	background-color: rgba(255, 255, 255, 0.95); /* white */
	opacity: 0; /* to be transition-ed during activation */
	transition: visibility 1ms 200ms, opacity 200ms; /* fade out duration */
}
#overlay.loading {
	visibility: visible;
	background-image: url('/img/ui/logo-FFFFFF.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	opacity: 0.8;
	transition: opacity 200ms; /* fade in duration */
}
#overlay.shown {
	visibility: visible;
	background-image: none;
	opacity: 1;
	transition: opacity 200ms; /* fade in duration */
}

#overlay-panel {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	font-size: 14px;
	color: rgb(220, 19, 81); /* pink */
	line-height: 21px;
	text-align: left;
}

/* Close button */
#overlay-close-button { /* same as UI's close button */
	position: fixed;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	box-shadow: none;
	background-color: transparent;
	color: rgb(204, 204, 204); /* light gray */
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	transition: color 0.2s, box-shadow 0.2s;
}
#overlay-close-button::after {
	content:'×';
	font-size: 35px;
}
#overlay-close-button:focus,
#overlay-close-button:hover,
#overlay-close-button:active {
	box-shadow: none;
	background-color: transparent;
	color: rgb(255, 255, 255); /* white */
	text-shadow: 0 0 2px rgb(68, 68, 68); /* dark gray */
}


@media (min-width: 1366px) { /* min-content: 1280px, margin: 80px */
	#overlay-panel{
		width: 1240px;
		height: 400px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* min-content: 920px, margin: 52px */
	#overlay-panel {
		width: 960px;
		height: 400px;
	}
}
@media (max-width: 1023.9px) { /* min-content: 680px, margin: 44px */
	#overlay-panel {
		width: 100%;
		height: 100%;
		padding: 70px 15px;
	}
}
/************
 * noscript *
 ************/
noscript {
	background-color: rgba(0, 0, 0, 0.8); /* black */
}
noscript > p {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 200px;
	padding: 120px 0 20px 0;
	color: rgb(255, 255, 255); /* white */
	line-height: 20px;
	text-align: center;
	background-color: rgb(0, 0, 0); /* black */
	background-image: url('/img/ui/warning-FFFFFF.svg');
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: center 50px;
}
