/********* Colors **************
   Name            RGB              HEX
  ------          -----            -----
 black           0, 0, 0          #000000
 dark gray       68, 68, 68       #444444
 gray            170, 170, 170    #AAAAAA
 light gray      204, 204, 204    #CCCCCC
 lighter gray    238, 238, 238    #EEEEEE
 white           255, 255, 255    #FFFFFF

 pink            220, 19, 81      #DC1351
 dark pink       165, 14, 61      #A50E3D
 sand            137, 127, 113    #897F71
 light sand      196, 191, 184    #C4BFB8

 blue            22, 94, 150      #165E96
 light blue      128, 187, 227    #80BBE3
*******************************/

/*********
 * Fonts *
 *********/
/* Roboto - standard serif */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url('/font/roboto-regular.woff2') format('woff2'), url('/font/roboto-regular.woff') format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url('/font/roboto-bold.woff2') format('woff2'), url('/font/roboto-bold.woff') format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Italic'), local('Roboto-Italic'), url('/font/roboto-italic.woff2') format('woff2'), url('/font/roboto-italic.woff') format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('/font/roboto-bold-italic.woff2') format('woff2'), url('/font/roboto-bold-italic.woff') format('woff');
}

/* Roboto Slab - standard serif */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('/font/roboto-slab-regular.woff2') format('woff2'), url('/font/roboto-slab-regular.woff') format('woff');
}
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url('/font/roboto-slab-bold.woff2') format('woff2'), url('/font/roboto-slab-bold.woff') format('woff');
}

/************
 *   Text   *
 ************/
body {
	font-family: 'Roboto', serif;
	font-size: 14px;
	color: rgb(137, 127, 113); /* sand */
}

/*** Headings ***/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	text-transform: uppercase;
}

h1, h2 {
	padding-bottom: 10px;
	border-bottom: 4px solid rgb(170, 170, 170); /* gray */
	color: rgb(220, 19, 81); /* pink */
}
}
h1 {
	font-size: 36px;
	line-height: 36px;
}
h2 {
	font-size: 18px;
	line-height: 27px;
}
h3 {
	font-size: 18px;
	line-height: 27px;
}
h4, h5 {
	font-size: 14px;
	line-height: 24px;
}
p {
	line-height: 21px;
}

/*** Inline Styles ***/
strong {
	font-weight: bold;
	white-space: nowrap;
}
b {
	font-weight: bold;
}
em, cite, i {
	font-style: italic;
}

small {
	font-size: 12px;
}

time, abbr {
	white-space: nowrap;
}

a {
	color: rgb(220, 19, 81); /* pink */
	text-decoration: none;
	outline: none;
}
a[href] {
	cursor: pointer;
}
a[href]:hover,
a[href]:focus,
a[href]:active {
	color: rgb(165, 14, 61); /* dark pink */
}

q {
	quotes: "“" "”" "‘" "’";
	font-style: italic;
}
q::before {
	content: open-quote;
}
q::after {
	content: close-quote;
}

/*** Text Selection ***/
::selection {
	background: rgb(137, 127, 113); /* sand */
	color: rgb(68, 68, 68); /* dark gray */
}
::-moz-selection {
	background: rgb(137, 127, 113); /* sand */
	color: rgb(68, 68, 68); /* dark gray */
}

/*********
 * Lists *
 *********/
ul, ol, dl {
	line-height: 21px;
}
ul > li::before,
ol > li::before {
	float: left; /* Use float because the li may contain block elements */
	width: 10px;
	margin-left: -10px;
}
@media (min-width: 1366px) { /* Desktop */
	ol, ul {
		padding-left: 20px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	ol, ul {
		padding-left: 15px;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	ol, ul {
		padding-left: 10px;
	}
}

/*** Ordered List ***/
ol {
	counter-reset: ol1;
}
ol > li::before {
	counter-increment: ol1;
	content: counter(ol1, lower-alpha)") ";
}
ol ol { /* Nested Ordered List */
	counter-reset: ol2;
}
ol ol > li::before {
	counter-increment: ol2;
	content: counter(ol2, lower-roman)") ";
}
ol ol ol { /* Double-Nested Ordered List */
	counter-reset: ol3;
}
ol ol ol > li::before {
	counter-increment: ol3;
	content: "("counter(ol3, decimal)") ";
}

/*** Unordered List ***/
ul > li::before {
	content: "•";
}
ul ul > li::before {
	content: "-";
}
ul ul ul > li::before {
	content: "±";
}

/*** Definition List ***/
dt {
	text-decoration: underline;
}
dt::after {
	content: ". ";
	display: inline-block;
	text-decoration: none;
}
dd {
	font-style: italic;
}

/*****************************
 * Figures & Enclosed Blocks *
 *****************************/
/*** Figure ***/
figcaption {
	font-style: italic;
	color: rgb(88, 89, 91); /* dark gray */
}

/*** Block Quote ***/
blockquote {
	background-color: rgb(196, 191, 184); /* light sand */
	font-style: italic;
	border-left-style: solid;
	border-left-color: rgb(137, 127, 113); /* sand */
}
blockquote::before {
	content: '“';
	display: block;
	height: 0;
	color: rgb(68, 68, 68); /* dark gray */
}
blockquote > footer {
	font-style: normal;
	text-align: right;
}

/*** Address ***/
address {
	white-space: nowrap;
}

/**********
 * Tables *
 **********/
table {

}
th, td {
	border: 1px solid rgb(68, 68, 68); /* dark gray */
}

/*********************
 * Details / Summary *
 *********************/
details > summary > h1,
details > summary > h2,
details > summary > h3,
details > summary > h4,
details > summary > h5,
details > summary > h6 {
	color: inherit; /* follow summary's color so that focus color changes work correctly */
	line-height: inherit; /* follow summary's line-height so that the arrow appears at the correct location */
}
details > summary {
	color: rgb(137, 127, 113); /* sand */
}
details > summary:focus {
	outline: none;
	color: rgb(196, 191, 184); /* light sand */
}
/* Normalize arrow across browsers */
summary::-webkit-details-marker {display: none;}
details > summary::before {
	content: "▶"; /* Unicode right arrow U+25B6 */
	float: left;
	margin-right: 5px;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}
details[open] > summary::before {
	content:"▼"; /* Unicode down arrow U+25BC */
}

/***************************
 *         Progress        *
 ***************************/

/************************
 * Other Block Elements *
 ************************/
hr {
	border: none;
	background-color: rgb(68, 68, 68); /* dark gray */
}

/*****************
 * Context Menus * 
 *****************/

/****************
 * Nav elements *
 ****************/
nav {
	white-space: nowrap;
}
/*** Main Nav ***/
.main-nav > a {
	color: rgb(196, 191, 184); /* light sand */
	border-right: 1px solid rgb(238, 238, 238); /* lighter gray */
}
.main-nav > a[href]:focus,
.main-nav > a[href]:hover,
.main-nav > a[href]:active,
.main-nav > a.current {
	color: rgb(137, 127, 113); /* sand */
}

/*** Aux Nav ***/
.aux-nav > a {
	color: rgb(196, 191, 184); /* light sand */
}
.aux-nav > a[href]:focus,
.aux-nav > a[href]:hover,
.aux-nav > a[href]:active {
	color: rgb(137, 127, 113); /* sand */
}

/*** Sub Nav ***/
.sub-nav > a {
	background-color: rgb(255, 255, 255); /* white */
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	color: rgb(220, 19, 81); /* pink */
	text-transform: uppercase;
}
.sub-nav > a[href]:focus,
.sub-nav > a[href]:hover,
.sub-nav > a[href]:active,
.sub-nav > a.current {
	color: rgb(255, 255, 255); /* white */
	background-color: rgb(220, 19, 81); /* pink */
}
@media (min-width: 1366px) { /* Desktop */
	.main-nav > a {
		padding: 0 15px;
		font-size: 16px;
	}
	.sub-nav > a { /* won't be used */
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	.main-nav > a {
		padding: 0 10px;
		font-size: 14px;
	}
	.sub-nav > a { /* won't be used */
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	.main-nav > a { /* won't be used */
	}
	.sub-nav > a {
		padding: 0 15px;
		font-size: 14px;
	}
}
/*****************
 * Special Links *
 *****************/
 /*** Social Media Links ***/
a.facebook-link,
a.twitter-link,
a.pinterest-link,
a.instagram-link,
a.googleplus-link {
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
}
a.facebook-link {
	background-image: url('/img/ui/social-media-icon-facebook-547BBD.svg');
}
a.twitter-link {
	background-image: url('/img/ui/social-media-icon-twitter-78CCF0.svg');
}
a.pinterest-link {
	background-image: url('/img/ui/social-media-icon-pinterest-EA5655.svg');
}
a.instagram-link {
	background-image: url('/img/ui/social-media-icon-instagram-E9931F.svg');
}
a.googleplus-link {
	background-image: url('/img/ui/social-media-icon-googleplus-4B4B4B.svg');
}

/*** Button Links (links that look like buttons) ***/
a.button-link {
	padding: 0 10px;
	border-radius: 3px;
	background-color: rgb(220, 19, 81); /* pink */
	color: rgb(255, 255, 255); /* white */
	line-height: 30px; /* same as height */
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	outline: none;

	transition: color 0.1s;
}

a.button-link[href]:focus,
a.button-link[href]:hover,
a.button-link[href]:active,
a.button-link.current {
	color: rgb(238, 238, 238); /* light gray */
	background-color: rgb(165, 14, 61); /* dark pink */
}

a.button-link::after,
a.forward-link::after {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	margin-left: 2px;
	width: 11px;
	height: 11px;
	background-image: url('/img/ui/more-FFFFFF.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

a.backward-link::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	margin-right: 2px;
	width: 11px;
	height: 11px;
	background-image: url('/img/ui/more-FFFFFF.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*****************
 * Form elements *
 *****************/
/*** Sectioning ***/
form {
	color: rgb(255, 255, 255); /* white */
	line-height: 0; /* ensure <br> does not consume space */
}

/*** Label / Select / Input / Textarea ***/
label, select, option, input, textarea {
	padding: 0 10px;
	box-shadow: none;
	color: rgb(137, 127, 113); /* sand */
	outline: none;
	opacity: 1;
	transition: opacity 0.2s;
}

select, input, textarea {
	border: none;
	border-radius: 3px;
	background-color: rgb(255, 255, 255); /* white */
}

select:focus,
select:hover,
input:focus,
input:hover,
textarea:focus,
textarea:hover {
	outline: none;
}

select:disabled,
input:disabled,
textarea:disabled {
	box-shadow: none;
	background-color: rgb(170, 170, 170); /* gray */
}

/* Label */
label {
	white-space: nowrap;
}

/* Select & Option */
select {
	-webkit-appearance: none; /* hides drop-down arrow on webkit */
	-moz-appearance: none;    /* hides drop-down arrow on FF */
	appearance: none;         /* hides drop-down arrow (W3C) */
	background-image: url('/img/ui/drop-down-arrow-FFFFFF.svg');
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: right 12px center;
	cursor: pointer;
}
select::-ms-expand {display: none;} /* hides drop-down arrow on IE */
select::-ms-value {
	background-color: transparent; /* don't give selected value special color */
	color: rgb(137, 127, 113); /* sand */
}
option {
	padding: 7px 10px; /* top/bottom padding only works on FF */
	border: none;
	color: rgb(255, 255, 255); /* white */
	background-color: rgb(196, 191, 184); /* light sand */
}

select:focus {
	color: transparent;
	text-shadow: 0 0 0 rgb(137, 127, 113); /* sand - hack to set text color without dotted outline */
}
select:-moz-focusring { 
	color: transparent;
	text-shadow: 0 0 0 rgb(137, 127, 113); /* sand - hack to set text color without dotted outline */
}
option:hover {
	background-color: rgb(137, 127, 113); /* sand - doesn't seem to work... */
}

/* Input & Textarea */
input:invalid {
	color: rgb(220, 19, 81); /* pink */
}
textarea {
	padding: 3.5px 10px;
	line-height: 21px;
	resize: none;
}
::-ms-clear  { /* clear input buttons for MS browsers */
	margin-right: -12px; /* position it closer to the right side of the input */
	width: 38px;
	height: 38px;
}

/*** Number inputs ***/
input[type=number] {
	-moz-appearance: textfield; /* Hide spinner FF */
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none; /* Hide spinner webkit */
	margin: 0;
}

/*** Output ***/
output {
	font-style: italic;
	color: rgb(255, 255, 255); /* white */
	line-height: 21px; /* same as height */
	white-space: nowrap;
	opacity: 0;
	transition: opacity 0.2s;
}
output.shown {
	opacity: 1;
}
output.error {
	color: rgb(220, 19, 81); /* pink */
}

/*** Placeholders & Pseudo-Elements ***/
::-webkit-input-placeholder {
	color: rgba(196, 191, 184, 0.5); /* light sand */
	opacity: 1;
}
::-moz-placeholder {
	color: rgba(196, 191, 184, 0.5); /* light sand */
	opacity: 1;
}
:-ms-input-placeholder {
	color: rgba(196, 191, 184, 0.5); /* light sand */
	opacity: 1;
}

/* Hide placholders on focus */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }
textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

/* Hide placholders for disabled fileds */
input:disabled::-webkit-input-placeholder { color:transparent; }
input:disabled::-moz-placeholder { color:transparent; }
input:disabled:-ms-input-placeholder { color:transparent; }
textarea:disabled::-webkit-input-placeholder { color:transparent; }
textarea:disabled::-moz-placeholder { color:transparent; }
textarea:disabled:-ms-input-placeholder { color:transparent; }


/*** Button ***/
button {
	border: none;
	border-radius: 3px;
	background-color: rgb(220, 19, 81); /* pink */
	color: rgb(255, 255, 255); /* white */
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
	transition: background-color 0.1s;
}
button:focus,
button:hover,
button:active {
	background-color: rgb(165, 14, 61); /* dark pink */
	outline: none;
}
button:disabled {
	background-color: rgb(170, 170, 170); /* gray */
	cursor: default;
}
button[type=submit]::after {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	margin-left: 2px;
	width: 11px;
	height: 11px;
	background-image: url('/img/ui/more-FFFFFF.svg');
	background-size: contain;
	background-position: center; 
	background-repeat: no-repeat;
}

@media (min-width: 1366px) { /* Desktop */

}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */

}
@media (max-width: 1023.9px) { /* Mobile */

}


/********************
 *  Custom Buttons  *
 ********************/
/*** Close buttons ***/
.close-button {
	width: 50px;
	height: 50px;
	box-shadow: none;
	background-color: transparent;
	color: rgb(204, 204, 204); /* light gray */
	transition: color 0.2s, text-shadow 0.2s;
}
.close-button::after {
	content:'×';
	font-size: 35px;
}
.close-button:focus,
.close-button:hover,
.close-button:active {
	box-shadow: none;
	background-color:  transparent;
	color: rgb(248, 250, 252); /* off white */
	text-shadow: 0 0 2px rgb(69, 70, 71); /* dark gray */
}

/**************************
 * Common Pseudo-Elements *
 **************************/
form.processing::after {
	content:"";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* black */
	background-image: url('/img/ui/loading-spikes-4D89BF.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
}
