/************
 *   Text   *
 ************/
h3 {
	margin-bottom: 10px;	
}
p {
	margin-bottom: 21px;
}
@media (min-width: 1366px) { /* Desktop */
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
}
@media (max-width: 1023.9px) { /* Mobile */
}

/*********
 * Lists *
 *********/
ul, ol, dl {
	margin-bottom: 21px;
}
@media (min-width: 1366px) { /* Desktop */
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
}
@media (max-width: 1023.9px) { /* Mobile */
}

/*****************************
 * Figures & Enclosed Blocks *
 *****************************/
figure > img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

@media (min-width: 1366px) { /* Desktop */
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
}
@media (max-width: 1023.9px) { /* Mobile */
}

/**********
 * Tables *
 **********/
@media (min-width: 1366px) { /* Desktop */
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
}
@media (max-width: 1023.9px) { /* Mobile */
}

/*********************
 * Details / Summary *
 *********************/
@media (min-width: 1366px) { /* Desktop */
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
}
@media (max-width: 1023.9px) { /* Mobile */
}

/***************************
 *  Other  Block Elements  *
 ***************************/
hr {
	height: 4px;
}

@media (min-width: 1366px) { /* Desktop */
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
}
@media (max-width: 1023.9px) { /* Mobile */
}

/*****************
 * Context Menus * 
 *****************/
 
/****************
 * Nav elements *
 ****************/
.main-nav > a {
	display: inline-block;
	vertical-align: top;
}
.sub-nav > a {
	display: block;
}
@media (min-width: 1366px) { /* Desktop */
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
}
@media (max-width: 1023.9px) { /* Mobile */
}

/*****************************
 *  Special Links (Anchors)  *
 *****************************/
a.button-link {
	display: inline-block;
	vertical-align: top;
	height: 30px;
}
@media (min-width: 1366px) { /* Desktop */
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
}
@media (max-width: 1023.9px) { /* Mobile */
}

/*****************
 * Form elements *
 *****************/
form {
	position: relative;
}

label, select, input, textarea {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}

label, select, option, input {
	height: 30px;
}
textarea {
	height: 91px; /* 4 lines worth: + 3.5px (padding) + 4 x 21px (line-height) + 3.5px (padding) */
}

button {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	height: 30px;
}
output {
	display: block;
	height: 21px;
}
/********************
 *  Custom Buttons  *
 ********************/
