#edit-article-excerpt-textarea,
label[for="edit-article-excerpt-textarea"],
output[for="edit-article-excerpt-textarea"],
#add-article-excerpt-textarea,
label[for="add-article-excerpt-textarea"],
output[for="add-article-excerpt-textarea"] {
	height: 100px; /* 4 lines */
}

@media (min-width: 1600px) { /* Large Desktops - 1440px */
	#add-article-get-from-url-button,
	#edit-article-get-from-url-button {
		margin: 20px 240px 40px;
		width: 200px;
	}
}

@media (max-width: 1599px) { /* Small Desktops - 920px */
	#add-article-get-from-url-button,
	#edit-article-get-from-url-button {
		margin: 20px 180px 40px;
		width: 180px;
	}
}