/*************************
 *  Common Panel Styles  *
 *************************/
#activity-log:before,
#activity-log:after,
.module-link:before,
.module-link:after {
	/* stylish shadow :D */
	content: "";
	position: absolute;
	top: 80%;
	bottom: 15px;
	left: 10px;
	z-index: -1;
	width: 50%;
	max-width: 300px;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2); /* black */
	background: rgba(0, 0, 0, 0.2); /* black */
	
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
	transition: box-shadow 0.2s ease 0s;
}
#activity-log:after,
.module-link:after {
	/* stylish shadow ;) */
	right: 10px;
	left: auto;
	
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
}
#activity-log:hover:before,
#activity-log:hover:after,
.module-link:hover:before,
.module-link:hover:after {
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5); /* black */
}

#activity-log > h2,
.module-link > h2 {
	width: 100%;
	height: 40px;
	border-radius: 5px 5px 0 0;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
}

/********************
 *  Activity Module *
 ********************/
#activity-module {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-right: 40px;
	margin-bottom: 40px;
}

#activity-log {
	display: block;
	position: relative;
	margin-bottom: 40px;
	width: 100%;
	height: 520px; /* 40px (h2) + 480px (6 x activity) */
	border-radius: 5px;
	background-color: rgb(255,255,255);
}

.activity {
	padding: 10px 20px;
	height: 80px;
	border-bottom: 1px solid rgb(233,233,233);
	color: rgb(204,204,204);
	text-align: left;
}
.activity:nth-of-type(8n) {
	border-bottom: none;
}
.activity > .user-email {
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}
.activity > time,
.activity > .action {
	display: block;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
}

#older-log-button {
	display: inline-block;
	vertical-align: top;
	width: 120px;
	height: 40px;
}
#newer-log-button {
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
	width: 120px;
	height: 40px;
}
@media (min-width: 1600px) { /* Large Desktops - 1440px */
	#activity-module {
		width: 330px;
	}
}
@media (max-width: 1599px) { /* Small Desktops - 920px */
	#activity-module {
		width: 280px;
	}
}

/*************
 *  Modules  *
 *************/
#main > #module-links { /* Needs high specificity */
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.module-link {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0 40px 40px 0;
	overflow: hidden;
	border-radius: 5px;
	background-color: rgb(255, 255, 255); /* white */
	text-align: center;
}

.module-link > .icon {
	position: absolute;
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 33%;
	
	opacity: 0.5;
	
	-webkit-transition: opacity 0.15s ease 0s;
	transition: opacity 0.15s ease 0s;
}
.module-link:hover > .icon {
	opacity: 1;
}

@media (min-width: 1600px) { /* Large Desktops - 1440px */
	#main > #module-links {
		width: 1070px;
	}
	.module-link {
		width: 330px;
		height: 240px;
	}
	.module-link:nth-of-type(3n) {
		margin-right: 0;
	}
}
@media (max-width: 1599px) { /* Small Desktops - 920px */
	#main > #module-links {
		width: 600px;
	}
	.module-link {
		width: 280px;
		height: 200px;
	}
	.module-link:nth-of-type(2n) {
		margin-right: 0;
	}
	.module-link:last-of-type:nth-of-type(odd) {
		width: 100%;
	}
}
