/***************
 * Site Header *
 ***************/
#account-link,
#logout-link {
	display: none;
}
#header-start-button {
	display: block;	
}

/********
 * Main *
 ********/
#main {
	background-color: rgb(255, 255, 255); /* white */
	min-height: calc(100% - 229px); /* footer is 129px */
}
#main > section {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 920px;
	height: 384px;
}
#tagline {
	font-size: 128px;
	font-weight: bold;
	line-height: 128px;
	text-align: center;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/***************
 * Site Footer *
 ***************/
#site-footer {
	height: 129px;
}
