#edit-therapy-description-textarea,
label[for="edit-therapy-description-textarea"],
output[for="edit-therapy-description-textarea"],
#add-therapy-description-textarea,
label[for="add-therapy-description-textarea"],
output[for="add-therapy-description-textarea"] {
	height: 180px; /* 8 lines */
}

#edit-therapy-benefits-textarea,
label[for="edit-therapy-benefits-textarea"],
output[for="edit-therapy-benefits-textarea"],
#add-therapy-benefits-textarea,
label[for="add-therapy-benefits-textarea"],
output[for="add-therapy-benefits-textarea"] {
	height: 100px; /* 4 lines */
}

#edit-therapy-promotion-terms-textarea,
label[for="edit-therapy-promotion-terms-textarea"],
output[for="edit-therapy-benefits-textarea"],
#add-therapy-promotion-terms-textarea,
label[for="add-therapy-promotion-terms-textarea"],
output[for="add-therapy-promotion-terms-textarea"] {
	height: 100px; /* 4 lines */
}
#add-therapy-image-preview {
	
}
