<p>By responding to our advertisement and writing to us via email, you are deemed to have agreed to be bound by
   Pacodis Private Limited Group terms and conditions. You declare that the information that you have supplied is true 
   and correct, you are deemed to have agreed for us to collect, use, disclose and/or process all personal data
   submitted for marketing purposes and consent to the use of provided data to Pacodis Private Limited Group Pte Ltd
   for promotional updates and marketing purposes.
</p>
<p>You also agree to us contacting you with regards to the promotion even though you are registered with the DNC registry.</p>
<p>The management reserves all rights to make any amendments to the terms and agreement without prior notice.</p>



