<section id="selected-content">
	<h2><span id="selected-category">{{category-name}}</span><span id="selected-sub-category">{{sub-category-name}}</span></h2>
	<p>{{category-description}}</p>
	{{{therapies-html}}}
</section>
