<form id="pop-up-newsletter-form">
    <!--<img id="logo" src="/img/ui/logo-FFFFFF.svg" alt="TaraBliss" />-->
    <h3>Be The First To Know!</h3>
    <span id="notice">Don't miss our updates on wellbeing news </br>
and essential health &amp; beauty tips! Sign up </br>
now to receive our e-newsletter and get </br>
started on your journey towards a more </br>
beautiful &amp; blissful life. 
    </span>
    
    <div class="form-group">
        <input type="date" name="date" placeholder="Date of Birth (dd/mm/yy)*" />
        <!--<span class="error date">Invalid entry</span>-->
        <input type="phone" name="mobile" placeholder="Mobile*" />
        <!--<span class="error phone">Invalid entry</span>-->
        <input type="email" name="email" placeholder="Email*" />
        <!--<span class="error email">Invalid entry</span>-->
    </div>
<!-- Development -->
	<input type="hidden" name="listID" value="f71b72a32a59325dda0f7ee2fb78f6e3" />
<!-- End of Development ListID -->
<!-- Staging
	<input type="hidden" name="listID" value="5911fb580b50ea21bfb84857077b5d13" />
<!-- End of Staging ListID -->
<!-- Production
	<input type="hidden" name="listID" value="5911fb580b50ea21bfb84857077b5d13" />
<!-- End of Production ListID -->
    
    <span id="custom-checkbox">
        <input type="checkbox" name="agevalid" id="accept-terms">
        <label for="accept-terms"></label>
    </span>
    <div id="subscription-terms">
        <p class="label-info">I consent that I am above 18 years old and 
        agree to register for TARABLISS Group of 
        companies mailing list marketing activities.</p>
        <p class="label-info">I consent to receive from TARABLISS 
        newsletter, marketing &amp; promotional 
        information via electronic direct mailer, 
        SMS/MMS, Whatsapp &amp; phone calls.</p>
        <p class="label-info">
        I have read &amp; agree to the <a href="#">Terms of Use</a> &amp; 
        <a href="#">Privacy Policy</a>.
        </p>
    </div>

    <button type="submit">Subscribe</button>
    <output></output>
</form>
