/********* Colors **************
   Name            RGB              HEX
  ------          -----            -----
 black           0, 0, 0          #000000
 dark gray       68, 68, 68       #444444
 gray            170, 170, 170    #AAAAAA
 light gray      204, 204, 204    #CCCCCC
 lighter gray    238, 238, 238    #EEEEEE
 white           255, 255, 255    #FFFFFF

 pink            220, 19, 81      #DC1351
 dark pink       165, 14, 61      #A50E3D
 sand            137, 127, 113    #897F71
 light sand      196, 191, 184    #C4BFB8

 blue            22, 94, 150      #165E96
 light blue      128, 187, 227    #80BBE3
*******************************/

#dialog-overlay  {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	background-color: rgba(255, 255, 255, 0.95); /* white */
	opacity: 0;
	
	visibility: hidden;
	opacity: 0;
	transition: visibility 1ms 0.1s, opacity 0.1s; /* fade out duration */
}
#dialog-overlay.shown {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s linear; /* fade in duration */
}

#dialog-box {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	text-align: center;
}

/* Close button */
#dialog-close-button { /* same as UI's close button */
	position: fixed;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	box-shadow: none;
	background-color: transparent;
	color: rgb(204, 204, 204); /* light gray */
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	transition: color 0.2s, box-shadow 0.2s;
}
#dialog-close-button::after {
	content:'×';
	font-size: 35px;
}
#dialog-close-button:focus,
#dialog-close-button:hover,
#dialog-close-button:active {
	box-shadow: none;
	background-color: transparent;
	color: rgb(255, 255, 255); /* white */
	text-shadow: 0 0 2px rgb(68, 68, 68); /* dark gray */
}

/* Message */
#dialog-box-message {
	font-size: 14px;
	color: rgb(220, 19, 81); /* pink */
	line-height: 21px;
	text-align: left;
}
#dialog-box-message .error-message {
	font-weight: bold;
	color: rgb(165, 14, 61); /* dark pink */
}

/* Button */
#dialog-box > button::after {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	margin-left: 2px;
	width: 11px;
	height: 11px;
	background-image: url('/img/ui/more-FFFFFF.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
#dialog-box > button {
	margin-right: 20px;
}
#dialog-box > button:last-of-type {
	margin-right: 0;
}
@media (min-width: 1366px) { /* min-content: 1280px, margin: 80px */
	#dialog-box {
		width: 1240px;
		height: 300px;
	}
	#dialog-box-message {
		margin-bottom: 40px;
	}
	#dialog-box > button {
		width: 125px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* min-content: 920px, margin: 52px */
	#dialog-box {
		width: 960px;
		height: 300px;
	}
	#dialog-box-message {
		margin-bottom: 40px;
	}
	#dialog-box > button {
		width: 125px;
	}
}
@media (max-width: 1023.9px) { /* min-content: 680px, margin: 44px */
	#dialog-box {
		width: 100%;
		height: 100%;
		padding: 70px 15px;
	}
	#dialog-box-message {
		margin-bottom: 40px;
	}
	#dialog-box > button {
		width: 125px;
	}
}

/**********
 *  Halt  *
 **********/
#dialog-box.halt {
	width: 100%;
	height: 100%;
}
#dialog-box.halt + #dialog-close-button {
	display: none;
}
#dialog-box.halt > #dialog-box-message::before {
	content:"";
	position: relative;
	display: block;
	margin-bottom: 5vh;
	height: 10vh;
	background-image: url("/img/ui/warning-FFFFFF.svg");
	background-position: center bottom 10%;
	background-size: contain;
	background-repeat: no-repeat;
}
/**
 * YS Reset CSS v1.3. 
 * 
 * Based on Eric Meyer's Reset CSS v2.0 - http://cssreset.com
 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strong,sub,sup,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,summary,figcaption,figure,footer,header,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* Box-sizing */
html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}
input, textarea, select, button {box-sizing:inherit;font-family:inherit;font-size:100%;} /* Ensure form elements inherit box-sizing and fonts */
input::-moz-focus-inner,button::-moz-focus-inner {padding:0;border:0} /* Strip extra button padding from FF */
details > * {box-sizing: border-box;} /* Ensure details/summary inherit box-sizing correctly (Webkit/Blink bug) *//********* Colors **************
   Name            RGB              HEX
  ------          -----            -----
 black           0, 0, 0          #000000
 dark gray       68, 68, 68       #444444
 gray            170, 170, 170    #AAAAAA
 light gray      204, 204, 204    #CCCCCC
 lighter gray    238, 238, 238    #EEEEEE
 white           255, 255, 255    #FFFFFF

 pink            220, 19, 81      #DC1351
 dark pink       165, 14, 61      #A50E3D
 sand            137, 127, 113    #897F71
 light sand      196, 191, 184    #C4BFB8

 blue            22, 94, 150      #165E96
 light blue      128, 187, 227    #80BBE3
*******************************/

/******* Z-Indices ************
 0         : Normal
 1         : Fixed Navs
 99        : Overlays
 999       : Critical Dialogs
 ******************************/

/*******************
 * Site Dimensions *
 *******************/
@-ms-viewport{width:device-width}

html, body, #page, #overlay, noscript {
	width:100%;
	height:100%;
	min-width: 320px;
	min-height: 372px;
}
html, body {
	overflow: hidden;
	-ms-scroll-chaining:none;
	-ms-overflow-style:none;
	-ms-touch-action: none;
	touch-action: none;
}
#page {
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-ms-scroll-chaining: none;
	-ms-overflow-style:-ms-autohiding-scrollbar;
}
#overlay, noscript {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
#overlay {
	z-index: 99;
}
noscript {
	z-index: 999;
}

@media (min-width: 1366px) { /* Desktop */
	#site-header,
	#hero,
	#main,
	#site-links,
	#site-footer {
		margin: 0 auto;
		width: 1366px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	#site-header,
	#hero,
	#main,
	#site-links,
	#site-footer {
		margin: 0 auto;
		width: 1024px;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	#site-header,
	#hero,
	#main,
	#site-links,
	#site-footer {
		width: 100%;
	}
}

#page {
	background-repeat: repeat;
	background-image: url('/img/ui/bg-tile-1.png');
	background-size: 31px 55px;
}

/***************
 * Site Header *
 ***************/
#site-header {
	height: 60px;
	background-color: rgb(255, 255, 255); /* white */
}
#header-home-link {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 60px;
	background-image: url('/img/ui/logo-crown-DC1351.svg');
	background-repeat: no-repeat;
	background-position: center;
	color: transparent;
}
#header-main-nav > a {
	height: 60px;
	line-height: 60px;
}
#header-tel-link,
#header-whatsapp-link,
#header-reservations-link {
	display: inline-block;
	vertical-align: top;
	height: 60px;
	border-radius: 0;
	line-height: 60px;
}

#header-tel-link::before,
#header-whatsapp-link::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	width: 15px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#header-tel-link::before {
	background-image: url('/img/ui/phone-C4BFB8.svg');
}
#header-whatsapp-link::before {
	background-image: url('/img/ui/social-media-icon-whatsapp-897F71.svg');
}
@media (min-width: 1366px) { /* Desktop */
	#site-header {
		position: relative;
	}
	#header-home-link {
		border-right: 1px solid rgb(238, 238, 238); /* lighter gray */
		background-size: 50px;
	}
	#header-main-nav {
		display: inline-block;
		vertical-align: top;
	}
	#header-tel-link,
	#header-whatsapp-link,
	#header-reservations-link {
		padding: 0 15px;
		font-size: 16px;
	}
	#header-aux-nav {
		position: absolute;
		top: 0;
		right: 0;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	#site-header {
		position: relative;
	}
	#header-home-link {
		border-right: 1px solid rgb(238, 238, 238); /* lighter gray */
		background-size: 50px;
	}
	#header-main-nav {
		display: inline-block;
		vertical-align: top;
	}
	#header-tel-link,
	#header-whatsapp-link,
	#header-reservations-link {
		padding: 0 10px;
		font-size: 14px;
	}
	#header-aux-nav {
		position: absolute;
		top: 0;
		right: 0;
	}
	
}
@media (max-width: 1023.9px) { /* Mobile */
	#site-header {
		position: fixed;
		z-index: 1;
	}
	#header-home-link {
		border-right: none;
		background-size: 50px;
	}
	#header-main-nav {
		display: none;
	}
	#header-aux-nav {
		display: none;
	}
}

/********************
 *    Mobile Nav    *
 ********************/
#mobile-nav {
	position: fixed;
	top: 60px;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 0;
	text-align: right;
}
#mobile-nav::before { /* Overlay  */
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7); /* black */
}
#mobile-nav-icon {
	position: absolute;
	top: -60px;
	right: 0;
	width: 60px;
	height: 60px;
	background-color: rgb(255, 255, 255);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
#mobile-nav-icon > div {
	position: absolute;
	left: 20%;
	height: 7px;
	width: 60%;
	background-color: rgb(220, 19, 81); /* pink */
	border-radius: 7px;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#mobile-nav-icon > div:nth-child(1) {
	top: 15.5px;
}
#mobile-nav-icon > div:nth-child(2),
#mobile-nav-icon > div:nth-child(3) {
	top: 26.5px;
}
#mobile-nav-icon > div:nth-child(4) {
	top: 37.5px;
}
#mobile-nav.shown > #mobile-nav-icon > div:nth-child(1),
#mobile-nav.shown > #mobile-nav-icon > div:nth-child(4) {
	top: 21.5px;
	left: 35%;
	width: 0;
	height: 0;
}
#mobile-nav.shown > #mobile-nav-icon > div:nth-child(2) {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
#mobile-nav.shown > #mobile-nav-icon > div:nth-child(3) {
 	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#mobile-nav > a {
	position: relative;
	height: 0;
	line-height: 50px;
	overflow: hidden;

	transition: height 0.25s; /* Close faster than open */
}
#mobile-nav.shown {
	height: 100%;
}
#mobile-nav.shown > a {
	height: 50px;

	transition: height 0.5s; /* Close faster than open */
}
#mobile-nav.shown::before {
	width: 100vw;
}

@media (min-width: 1366px) { /* Desktop */
	#mobile-nav {
		display: none;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	#mobile-nav {
		display: none;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	#mobile-nav {
		display: block;
	}
}

/*********************
 *       Hero        *
 *********************/
#hero {
	background-size: cover;
	background-position: center;
	text-align: center;
}
#hero-social-media-links {
	text-align: left;
}
#hero-social-media-links > a {
	display: inline-block;
	vertical-align: top;
	padding: 0;
}

#hero > h1 {
	padding: 0;
	border-bottom: none; /* overwrite UI style */
}
#hero > h2 {
	font-family: 'Roboto', serif;
	font-weight: normal;
	color: rgb(255, 255, 255); /* white */
	border-bottom: none; /* overwrite UI style */
}

@media (min-width: 1366px) { /* Desktop */
	#hero {
		padding: 15px;
		height: 600px;
	}
	#hero-social-media-links {
		margin-bottom: 90px;
	}
	#hero-social-media-links > a {
		width: 50px;
		height: 50px;
	}
	#hero-logo {
		width: 375px;
	}
	#hero > h1 {
		margin-bottom: 21px;
	}
	#hero > h2 {
		font-size: 24px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	#hero {
		padding: 15px;
		height: 600px;
	}
	#hero-social-media-links {
		margin-bottom: 90px;
	}
	#hero-social-media-links > a {
		width: 50px;
		height: 50px;
	}
	#hero-logo {
		width: 375px;
	}
	#hero > h1 {
		margin-bottom: 21px;
	}
	#hero > h2 {
		font-size: 24px;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	#hero {
		margin-top: 60px;
		padding: 15px;
		height: 110px;
	}
	#hero-social-media-links {
		display: none;
	}
	#hero-social-media-links > a {
		width: 50px;
		height: 50px;
	}
	#hero-logo {
		width: 160px;
	}
	#hero > h1 {
		margin-bottom: 10px;
	}
	#hero > h2 {
		font-size: 18px;
	}
}

/**********
 *  Main  *
 **********/
#main {
	visibility: visible; /* to be switched during page transition */
	position: relative;
	background-color: rgb(255, 255, 255); /* white */
	opacity: 1; /* to be switched during page transition */
	transition: opacity 0.15s linear; /* fade out duration */
}
#main::after {
	content: "";
	visibility: hidden; /* to be switched during page transition */
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url('/img/ui/loading-spikes-DC1351.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
}
#main.loading {
	visibility: hidden;
	opacity: 0.5;
	transition: visibility 1ms 0.1s, opacity 0.1s; /* fade in duration */
}
#main.loading::after {
	visibility: visible;
	opacity: 1;
}

#intro {
	position: absolute;
	top: -240px;
	left: 50%;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	color: rgb(255, 255, 255); /* white */
	line-height: 27px;
	text-align: center;
}

#selector > h2,
#selected-content > h2 {
	margin-bottom: 21px;
}

/**********************
 * Selector + Content *
 **********************/
#selector .button-link {
	position: relative;
	text-align: left;
	margin-bottom: 10px;
	width: 100%;
	height: 40px;
	line-height: 40px;
}
#selector .button-link::after {
	display: block;
	position: absolute;
	top: 0;
	right: 15px;
	height: 100%;
}

#selected-content h3,
#selected-content h4 {
	text-transform: none;
}
@media (min-width: 1366px) { /* Desktop */
	#main {
		padding: 60px 63px;
		min-height: calc(100% - 1523px); /* 60 (header) + 600 (header) + 783 (site-links) + 80 (footer) */
	}
	#intro {
		display: block;
		margin-left: -375px;
		width: 750px;
	}

	#selector,
	#selected-content {
		display: inline-block;
		vertical-align: top;
	}
	#selector {
		margin-right: 40px;
		width: 280px;
	}
	#selected-content {
		width: 920px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	#main {
		padding: 52px;
	}
	#intro {
		display: block;
		margin-left: -375px;
		width: 750px;
	}

	#selector,
	#selected-content {
		display: inline-block;
		vertical-align: top;
	}
	#selector {
		margin-right: 40px;
		width: 200px;
	}
	#selected-content {
		width: 680px;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	#main {
		padding: 30px 15px;
	}
	#intro {
		display: none;
	}

	#selector {
		display: none;
	}
	#selected-content {
		display: block;
		margin: 15px 0;
	}
}

/**************
 * Site Links *
 **************/
#site-links {
	position: relative;
	background-color: rgb(196, 191, 184); /* light sand */
}
#quick-links > a {
	border: 2px solid rgb(238, 238, 238); /* lighter gray */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: rgb(255, 255, 255); /* white */
	text-align: center;
	text-transform: uppercase;
}
#quick-links > a[href]:focus,
#quick-links > a[href]:hover,
#quick-links > a[href]:active {
	border-color: rgb(255, 255, 255); /* white */
}

#quick-links > a[href="/promotions"] {
	background-image: url('/img/quicklink-promo-bg.jpg');
}
#quick-links > a[href="//blog.tarabliss.com.sg"] {
	background-image: url('/img/quicklink-blog-bg.jpg');
}
#quick-links > #shop-quicklink {
	background-image: url('/img/quicklink-shop-bg.jpg');
}
#quick-links > #reservation-quicklink {
	background-image: url('/img/quicklink-reservation-bg.jpg');
}

.site-link-panel > h3,
.site-link-panel > a,
#contact-links > address {
	font-size: 14px;
	color: rgb(255, 255, 255); /* white */
	line-height: 24px;
}
.site-link-panel > h3 {
	padding-bottom: 16px;
}

.site-link-panel > h3 {
	text-transform: uppercase;
}
.site-link-panel > a {
	display: block;
}
.site-link-panel > a[href]:focus,
.site-link-panel > a[href]:hover,
.site-link-panel > a[href]:active {
	color: rgb(238, 238, 238); /* lighter gray */
}
@media (min-width: 1366px) { /* Desktop */
	#site-links {
		padding: 60px 63px;
		height: 783px;
	}
	#quick-links {
		margin-bottom: 30px;
	}
	#quick-links > a {
		display: inline-block;
		vertical-align: top;
		margin-right: 40px;
		padding: 150px 0 20px;
		width: 280px;
		height: 210px;
		font-size: 14px;
		line-height: 36px;
	}
	#quick-links > a:last-of-type {
		margin-right: 0;
	}

	.site-link-panel {
		display: inline-block;
		vertical-align: top;
		margin-right: 40px;
		width: 280px;
	}
	.site-link-panel:last-of-type {
		margin-right: 0;
	}

	#contact-form {
		position: absolute;
		bottom: 20px;
		right: 63px;
		width: 280px;
	}
	#newsletter-form {
		position: absolute;
		bottom: 20px;
		left: 63px;
		width: 280px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	#site-links {
		padding: 52px;
		height: 723px;
	}
	#quick-links {
		margin-bottom: 25px;
	}
	#quick-links > a {
		display: inline-block;
		vertical-align: top;
		margin-right: 40px;
		padding: 120px 0 15px;
		width: 200px;
		height: 150px;
		font-size: 14px;
		line-height: 15px;
	}
	#quick-links > a:last-of-type {
		margin-right: 0;
	}

	.site-link-panel {
		display: inline-block;
		vertical-align: top;
		margin-right: 40px;
		width: 200px;
	}
	.site-link-panel:last-of-type {
		margin-right: 0;
	}

	#contact-form {
		position: absolute;
		bottom: 20px;
		right: 52px;
		width: 200px;
	}
	#newsletter-form {
		position: absolute;
		bottom: 20px;
		left: 52px;
		width: 200px;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	#site-links {
		padding: 30px 15px;
	}
	#quick-links {
		display: none;
	}
	.site-link-panel {
		display: block;
		margin-bottom: 30px;
	}
	#contact-form,
	#newsletter-form {
		margin-bottom: 10px;
	}
}

/***************
 * Site Footer *
 ***************/
#site-footer {
	position: relative;
	background-color: rgb(137, 127, 113); /* sand */
	color: rgb(255, 255, 255); /* white */
}
#footer-social-media-links > a {
	display: inline-block;
	vertical-align: top;
	width: 50px;
	height: 50px;
}
#footer-copyright {
	margin: 0;
	padding: 0;
}
#footer-copyright > a {
	color: rgb(255, 255, 255); /* white */
}
#footer-copyright > a[href]:focus,
#footer-copyright > a[href]:hover,
#footer-copyright > a[href]:active {
	color: rgb(238, 238, 238); /* lighter gray */
}
@media (min-width: 1366px) { /* Desktop */
	#site-footer {
		padding: 15px 60px;
		height: 80px;
		line-height: 50px;
	}
	#footer-social-media-links {
		position: absolute;
		top: 0;
		right: 0;
		height: 80px;
		padding: 15px 60px;
		font-size: 14px;
	}
	#footer-social-media-links > br {
		display: none;
	}
	#footer-copyright {
		font-size: 14px;
		line-height: 50px;
	}
	#footer-copyright > br {
		display: none;
	}	
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	#site-footer {
		padding: 15px 60px;
		height: 80px;
		line-height: 50px;
	}
	#footer-social-media-links {
		position: absolute;
		top: 0;
		right: 0;
		height: 80px;
		padding: 15px 60px;
		font-size: 14px;
	}
	#footer-social-media-links > br {
		display: none;
	}
	#footer-copyright {
		font-size: 14px;
		line-height: 50px;
	}
	#footer-copyright > br {
		display: none;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	#site-footer {
		height: 215px;
		padding: 15px;
		line-height: 36px;
	}
	#footer-social-media-links {
		margin-bottom: 15px;
		font-size: 12px;
		text-align: center;
	}
	#footer-copyright {
		font-size: 12px;
		line-height: 24px;
		text-align: center;
	}
}

/***********
 * Overlay *
 ***********/
#overlay {
	visibility: hidden; /* to be switched during activation */
	background-color: rgba(255, 255, 255, 0.95); /* white */
	opacity: 0; /* to be transition-ed during activation */
	transition: visibility 1ms 200ms, opacity 200ms; /* fade out duration */
}
#overlay.loading {
	visibility: visible;
	background-image: url('/img/ui/logo-FFFFFF.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	opacity: 0.8;
	transition: opacity 200ms; /* fade in duration */
}
#overlay.shown {
	visibility: visible;
	background-image: none;
	opacity: 1;
	transition: opacity 200ms; /* fade in duration */
}

#overlay-panel {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	font-size: 14px;
	color: rgb(220, 19, 81); /* pink */
	line-height: 21px;
	text-align: left;
}

/* Close button */
#overlay-close-button { /* same as UI's close button */
	position: fixed;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	box-shadow: none;
	background-color: transparent;
	color: rgb(204, 204, 204); /* light gray */
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	transition: color 0.2s, box-shadow 0.2s;
}
#overlay-close-button::after {
	content:'×';
	font-size: 35px;
}
#overlay-close-button:focus,
#overlay-close-button:hover,
#overlay-close-button:active {
	box-shadow: none;
	background-color: transparent;
	color: rgb(255, 255, 255); /* white */
	text-shadow: 0 0 2px rgb(68, 68, 68); /* dark gray */
}


@media (min-width: 1366px) { /* min-content: 1280px, margin: 80px */
	#overlay-panel{
		width: 1240px;
		height: 400px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* min-content: 920px, margin: 52px */
	#overlay-panel {
		width: 960px;
		height: 400px;
	}
}
@media (max-width: 1023.9px) { /* min-content: 680px, margin: 44px */
	#overlay-panel {
		width: 100%;
		height: 100%;
		padding: 70px 15px;
	}
}
/************
 * noscript *
 ************/
noscript {
	background-color: rgba(0, 0, 0, 0.8); /* black */
}
noscript > p {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 200px;
	padding: 120px 0 20px 0;
	color: rgb(255, 255, 255); /* white */
	line-height: 20px;
	text-align: center;
	background-color: rgb(0, 0, 0); /* black */
	background-image: url('/img/ui/warning-FFFFFF.svg');
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: center 50px;
}
/********* Colors **************
   Name            RGB              HEX
  ------          -----            -----
 black           0, 0, 0          #000000
 dark gray       68, 68, 68       #444444
 gray            170, 170, 170    #AAAAAA
 light gray      204, 204, 204    #CCCCCC
 lighter gray    238, 238, 238    #EEEEEE
 white           255, 255, 255    #FFFFFF

 pink            220, 19, 81      #DC1351
 dark pink       165, 14, 61      #A50E3D
 sand            137, 127, 113    #897F71
 light sand      196, 191, 184    #C4BFB8

 blue            22, 94, 150      #165E96
 light blue      128, 187, 227    #80BBE3
*******************************/

/*********
 * Fonts *
 *********/
/* Roboto - standard serif */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url('/font/roboto-regular.woff2') format('woff2'), url('/font/roboto-regular.woff') format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url('/font/roboto-bold.woff2') format('woff2'), url('/font/roboto-bold.woff') format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Italic'), local('Roboto-Italic'), url('/font/roboto-italic.woff2') format('woff2'), url('/font/roboto-italic.woff') format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('/font/roboto-bold-italic.woff2') format('woff2'), url('/font/roboto-bold-italic.woff') format('woff');
}

/* Roboto Slab - standard serif */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('/font/roboto-slab-regular.woff2') format('woff2'), url('/font/roboto-slab-regular.woff') format('woff');
}
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url('/font/roboto-slab-bold.woff2') format('woff2'), url('/font/roboto-slab-bold.woff') format('woff');
}

/************
 *   Text   *
 ************/
body {
	font-family: 'Roboto', serif;
	font-size: 14px;
	color: rgb(137, 127, 113); /* sand */
}

/*** Headings ***/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	text-transform: uppercase;
}

h1, h2 {
	padding-bottom: 10px;
	border-bottom: 4px solid rgb(170, 170, 170); /* gray */
	color: rgb(220, 19, 81); /* pink */
}
}
h1 {
	font-size: 36px;
	line-height: 36px;
}
h2 {
	font-size: 18px;
	line-height: 27px;
}
h3 {
	font-size: 18px;
	line-height: 27px;
}
h4, h5 {
	font-size: 14px;
	line-height: 24px;
}
p {
	line-height: 21px;
}

/*** Inline Styles ***/
strong {
	font-weight: bold;
	white-space: nowrap;
}
b {
	font-weight: bold;
}
em, cite, i {
	font-style: italic;
}

small {
	font-size: 12px;
}

time, abbr {
	white-space: nowrap;
}

a {
	color: rgb(220, 19, 81); /* pink */
	text-decoration: none;
	outline: none;
}
a[href] {
	cursor: pointer;
}
a[href]:hover,
a[href]:focus,
a[href]:active {
	color: rgb(165, 14, 61); /* dark pink */
}

q {
	quotes: "“" "”" "‘" "’";
	font-style: italic;
}
q::before {
	content: open-quote;
}
q::after {
	content: close-quote;
}

/*** Text Selection ***/
::selection {
	background: rgb(137, 127, 113); /* sand */
	color: rgb(68, 68, 68); /* dark gray */
}
::-moz-selection {
	background: rgb(137, 127, 113); /* sand */
	color: rgb(68, 68, 68); /* dark gray */
}

/*********
 * Lists *
 *********/
ul, ol, dl {
	line-height: 21px;
}
ul > li::before,
ol > li::before {
	float: left; /* Use float because the li may contain block elements */
	width: 10px;
	margin-left: -10px;
}
@media (min-width: 1366px) { /* Desktop */
	ol, ul {
		padding-left: 20px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	ol, ul {
		padding-left: 15px;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	ol, ul {
		padding-left: 10px;
	}
}

/*** Ordered List ***/
ol {
	counter-reset: ol1;
}
ol > li::before {
	counter-increment: ol1;
	content: counter(ol1, lower-alpha)") ";
}
ol ol { /* Nested Ordered List */
	counter-reset: ol2;
}
ol ol > li::before {
	counter-increment: ol2;
	content: counter(ol2, lower-roman)") ";
}
ol ol ol { /* Double-Nested Ordered List */
	counter-reset: ol3;
}
ol ol ol > li::before {
	counter-increment: ol3;
	content: "("counter(ol3, decimal)") ";
}

/*** Unordered List ***/
ul > li::before {
	content: "•";
}
ul ul > li::before {
	content: "-";
}
ul ul ul > li::before {
	content: "±";
}

/*** Definition List ***/
dt {
	text-decoration: underline;
}
dt::after {
	content: ". ";
	display: inline-block;
	text-decoration: none;
}
dd {
	font-style: italic;
}

/*****************************
 * Figures & Enclosed Blocks *
 *****************************/
/*** Figure ***/
figcaption {
	font-style: italic;
	color: rgb(88, 89, 91); /* dark gray */
}

/*** Block Quote ***/
blockquote {
	background-color: rgb(196, 191, 184); /* light sand */
	font-style: italic;
	border-left-style: solid;
	border-left-color: rgb(137, 127, 113); /* sand */
}
blockquote::before {
	content: '“';
	display: block;
	height: 0;
	color: rgb(68, 68, 68); /* dark gray */
}
blockquote > footer {
	font-style: normal;
	text-align: right;
}

/*** Address ***/
address {
	white-space: nowrap;
}

/**********
 * Tables *
 **********/
table {

}
th, td {
	border: 1px solid rgb(68, 68, 68); /* dark gray */
}

/*********************
 * Details / Summary *
 *********************/
details > summary > h1,
details > summary > h2,
details > summary > h3,
details > summary > h4,
details > summary > h5,
details > summary > h6 {
	color: inherit; /* follow summary's color so that focus color changes work correctly */
	line-height: inherit; /* follow summary's line-height so that the arrow appears at the correct location */
}
details > summary {
	color: rgb(137, 127, 113); /* sand */
}
details > summary:focus {
	outline: none;
	color: rgb(196, 191, 184); /* light sand */
}
/* Normalize arrow across browsers */
summary::-webkit-details-marker {display: none;}
details > summary::before {
	content: "▶"; /* Unicode right arrow U+25B6 */
	float: left;
	margin-right: 5px;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}
details[open] > summary::before {
	content:"▼"; /* Unicode down arrow U+25BC */
}

/***************************
 *         Progress        *
 ***************************/

/************************
 * Other Block Elements *
 ************************/
hr {
	border: none;
	background-color: rgb(68, 68, 68); /* dark gray */
}

/*****************
 * Context Menus * 
 *****************/

/****************
 * Nav elements *
 ****************/
nav {
	white-space: nowrap;
}
/*** Main Nav ***/
.main-nav > a {
	color: rgb(196, 191, 184); /* light sand */
	border-right: 1px solid rgb(238, 238, 238); /* lighter gray */
}
.main-nav > a[href]:focus,
.main-nav > a[href]:hover,
.main-nav > a[href]:active,
.main-nav > a.current {
	color: rgb(137, 127, 113); /* sand */
}

/*** Aux Nav ***/
.aux-nav > a {
	color: rgb(196, 191, 184); /* light sand */
}
.aux-nav > a[href]:focus,
.aux-nav > a[href]:hover,
.aux-nav > a[href]:active {
	color: rgb(137, 127, 113); /* sand */
}

/*** Sub Nav ***/
.sub-nav > a {
	background-color: rgb(255, 255, 255); /* white */
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	color: rgb(220, 19, 81); /* pink */
	text-transform: uppercase;
}
.sub-nav > a[href]:focus,
.sub-nav > a[href]:hover,
.sub-nav > a[href]:active,
.sub-nav > a.current {
	color: rgb(255, 255, 255); /* white */
	background-color: rgb(220, 19, 81); /* pink */
}
@media (min-width: 1366px) { /* Desktop */
	.main-nav > a {
		padding: 0 15px;
		font-size: 16px;
	}
	.sub-nav > a { /* won't be used */
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	.main-nav > a {
		padding: 0 10px;
		font-size: 14px;
	}
	.sub-nav > a { /* won't be used */
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	.main-nav > a { /* won't be used */
	}
	.sub-nav > a {
		padding: 0 15px;
		font-size: 14px;
	}
}
/*****************
 * Special Links *
 *****************/
 /*** Social Media Links ***/
a.facebook-link,
a.twitter-link,
a.pinterest-link,
a.instagram-link,
a.googleplus-link {
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
}
a.facebook-link {
	background-image: url('/img/ui/social-media-icon-facebook-547BBD.svg');
}
a.twitter-link {
	background-image: url('/img/ui/social-media-icon-twitter-78CCF0.svg');
}
a.pinterest-link {
	background-image: url('/img/ui/social-media-icon-pinterest-EA5655.svg');
}
a.instagram-link {
	background-image: url('/img/ui/social-media-icon-instagram-E9931F.svg');
}
a.googleplus-link {
	background-image: url('/img/ui/social-media-icon-googleplus-4B4B4B.svg');
}

/*** Button Links (links that look like buttons) ***/
a.button-link {
	padding: 0 10px;
	border-radius: 3px;
	background-color: rgb(220, 19, 81); /* pink */
	color: rgb(255, 255, 255); /* white */
	line-height: 30px; /* same as height */
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	outline: none;

	transition: color 0.1s;
}

a.button-link[href]:focus,
a.button-link[href]:hover,
a.button-link[href]:active,
a.button-link.current {
	color: rgb(238, 238, 238); /* light gray */
	background-color: rgb(165, 14, 61); /* dark pink */
}

a.button-link::after,
a.forward-link::after {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	margin-left: 2px;
	width: 11px;
	height: 11px;
	background-image: url('/img/ui/more-FFFFFF.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

a.backward-link::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	margin-right: 2px;
	width: 11px;
	height: 11px;
	background-image: url('/img/ui/more-FFFFFF.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*****************
 * Form elements *
 *****************/
/*** Sectioning ***/
form {
	color: rgb(255, 255, 255); /* white */
	line-height: 0; /* ensure <br> does not consume space */
}

/*** Label / Select / Input / Textarea ***/
label, select, option, input, textarea {
	padding: 0 10px;
	box-shadow: none;
	color: rgb(137, 127, 113); /* sand */
	outline: none;
	opacity: 1;
	transition: opacity 0.2s;
}

select, input, textarea {
	border: none;
	border-radius: 3px;
	background-color: rgb(255, 255, 255); /* white */
}

select:focus,
select:hover,
input:focus,
input:hover,
textarea:focus,
textarea:hover {
	outline: none;
}

select:disabled,
input:disabled,
textarea:disabled {
	box-shadow: none;
	background-color: rgb(170, 170, 170); /* gray */
}

/* Label */
label {
	white-space: nowrap;
}

/* Select & Option */
select {
	-webkit-appearance: none; /* hides drop-down arrow on webkit */
	-moz-appearance: none;    /* hides drop-down arrow on FF */
	appearance: none;         /* hides drop-down arrow (W3C) */
	background-image: url('/img/ui/drop-down-arrow-FFFFFF.svg');
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: right 12px center;
	cursor: pointer;
}
select::-ms-expand {display: none;} /* hides drop-down arrow on IE */
select::-ms-value {
	background-color: transparent; /* don't give selected value special color */
	color: rgb(137, 127, 113); /* sand */
}
option {
	padding: 7px 10px; /* top/bottom padding only works on FF */
	border: none;
	color: rgb(255, 255, 255); /* white */
	background-color: rgb(196, 191, 184); /* light sand */
}

select:focus {
	color: transparent;
	text-shadow: 0 0 0 rgb(137, 127, 113); /* sand - hack to set text color without dotted outline */
}
select:-moz-focusring { 
	color: transparent;
	text-shadow: 0 0 0 rgb(137, 127, 113); /* sand - hack to set text color without dotted outline */
}
option:hover {
	background-color: rgb(137, 127, 113); /* sand - doesn't seem to work... */
}

/* Input & Textarea */
input:invalid {
	color: rgb(220, 19, 81); /* pink */
}
textarea {
	padding: 3.5px 10px;
	line-height: 21px;
	resize: none;
}
::-ms-clear  { /* clear input buttons for MS browsers */
	margin-right: -12px; /* position it closer to the right side of the input */
	width: 38px;
	height: 38px;
}

/*** Number inputs ***/
input[type=number] {
	-moz-appearance: textfield; /* Hide spinner FF */
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none; /* Hide spinner webkit */
	margin: 0;
}

/*** Output ***/
output {
	font-style: italic;
	color: rgb(255, 255, 255); /* white */
	line-height: 21px; /* same as height */
	white-space: nowrap;
	opacity: 0;
	transition: opacity 0.2s;
}
output.shown {
	opacity: 1;
}
output.error {
	color: rgb(220, 19, 81); /* pink */
}

/*** Placeholders & Pseudo-Elements ***/
::-webkit-input-placeholder {
	color: rgba(196, 191, 184, 0.5); /* light sand */
	opacity: 1;
}
::-moz-placeholder {
	color: rgba(196, 191, 184, 0.5); /* light sand */
	opacity: 1;
}
:-ms-input-placeholder {
	color: rgba(196, 191, 184, 0.5); /* light sand */
	opacity: 1;
}

/* Hide placholders on focus */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }
textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

/* Hide placholders for disabled fileds */
input:disabled::-webkit-input-placeholder { color:transparent; }
input:disabled::-moz-placeholder { color:transparent; }
input:disabled:-ms-input-placeholder { color:transparent; }
textarea:disabled::-webkit-input-placeholder { color:transparent; }
textarea:disabled::-moz-placeholder { color:transparent; }
textarea:disabled:-ms-input-placeholder { color:transparent; }


/*** Button ***/
button {
	border: none;
	border-radius: 3px;
	background-color: rgb(220, 19, 81); /* pink */
	color: rgb(255, 255, 255); /* white */
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
	transition: background-color 0.1s;
}
button:focus,
button:hover,
button:active {
	background-color: rgb(165, 14, 61); /* dark pink */
	outline: none;
}
button:disabled {
	background-color: rgb(170, 170, 170); /* gray */
	cursor: default;
}
button[type=submit]::after {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	margin-left: 2px;
	width: 11px;
	height: 11px;
	background-image: url('/img/ui/more-FFFFFF.svg');
	background-size: contain;
	background-position: center; 
	background-repeat: no-repeat;
}

@media (min-width: 1366px) { /* Desktop */

}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */

}
@media (max-width: 1023.9px) { /* Mobile */

}


/********************
 *  Custom Buttons  *
 ********************/
/*** Close buttons ***/
.close-button {
	width: 50px;
	height: 50px;
	box-shadow: none;
	background-color: transparent;
	color: rgb(204, 204, 204); /* light gray */
	transition: color 0.2s, text-shadow 0.2s;
}
.close-button::after {
	content:'×';
	font-size: 35px;
}
.close-button:focus,
.close-button:hover,
.close-button:active {
	box-shadow: none;
	background-color:  transparent;
	color: rgb(248, 250, 252); /* off white */
	text-shadow: 0 0 2px rgb(69, 70, 71); /* dark gray */
}

/**************************
 * Common Pseudo-Elements *
 **************************/
form.processing::after {
	content:"";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* black */
	background-image: url('/img/ui/loading-spikes-4D89BF.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
}
/************
 *   Text   *
 ************/
h3 {
	margin-bottom: 10px;	
}
p {
	margin-bottom: 21px;
}
@media (min-width: 1366px) { /* Desktop */
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
}
@media (max-width: 1023.9px) { /* Mobile */
}

/*********
 * Lists *
 *********/
ul, ol, dl {
	margin-bottom: 21px;
}
@media (min-width: 1366px) { /* Desktop */
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
}
@media (max-width: 1023.9px) { /* Mobile */
}

/*****************************
 * Figures & Enclosed Blocks *
 *****************************/
figure > img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

@media (min-width: 1366px) { /* Desktop */
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
}
@media (max-width: 1023.9px) { /* Mobile */
}

/**********
 * Tables *
 **********/
@media (min-width: 1366px) { /* Desktop */
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
}
@media (max-width: 1023.9px) { /* Mobile */
}

/*********************
 * Details / Summary *
 *********************/
@media (min-width: 1366px) { /* Desktop */
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
}
@media (max-width: 1023.9px) { /* Mobile */
}

/***************************
 *  Other  Block Elements  *
 ***************************/
hr {
	height: 4px;
}

@media (min-width: 1366px) { /* Desktop */
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
}
@media (max-width: 1023.9px) { /* Mobile */
}

/*****************
 * Context Menus * 
 *****************/
 
/****************
 * Nav elements *
 ****************/
.main-nav > a {
	display: inline-block;
	vertical-align: top;
}
.sub-nav > a {
	display: block;
}
@media (min-width: 1366px) { /* Desktop */
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
}
@media (max-width: 1023.9px) { /* Mobile */
}

/*****************************
 *  Special Links (Anchors)  *
 *****************************/
a.button-link {
	display: inline-block;
	vertical-align: top;
	height: 30px;
}
@media (min-width: 1366px) { /* Desktop */
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
}
@media (max-width: 1023.9px) { /* Mobile */
}

/*****************
 * Form elements *
 *****************/
form {
	position: relative;
}

label, select, input, textarea {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}

label, select, option, input {
	height: 30px;
}
textarea {
	height: 91px; /* 4 lines worth: + 3.5px (padding) + 4 x 21px (line-height) + 3.5px (padding) */
}

button {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	height: 30px;
}
output {
	display: block;
	height: 21px;
}
/********************
 *  Custom Buttons  *
 ********************/
