/********************************************
 * Common stylesheet for Installer / Tester *
 ********************************************/
html,body {
	width: 100%;
	height: 100%;
}
#site {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 20px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: rgb(39, 40, 41); /* darker gray */
}

/**************
 * Typography *
 **************/
h1,h2,h3 {
	color: rgb(69, 70, 71); /* dark gray */
	letter-spacing: 0.25px;
	text-transform: uppercase;
}
h1 {
	margin: 0 0 38px 0;
	font-size: 38px;
	line-height: 57px;
}
h2 {
	margin: 0 0 30px 0;
	font-size: 30px;
}
h3 {
	margin: 0 0 20px 0;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
}
b {font-weight: bold;}

/*************
 *  Details  *
 *************/
details {
	margin: 0 0 20px 0;
}
details > summary > h2 {
	color: inherit; /* follow summary's color so that focus color changes work correctly */
	line-height: inherit; /* follow summary's line-height so that the arrow appears at the correct location */
}
details > summary {
	color: rgb(113, 115, 117); /* gray */
}
details > summary:focus {
	outline: none;
	color: rgb(175, 178, 181); /* light gray */
}
/* Normalize arrow across browsers */
summary::-webkit-details-marker {display: none;}
details > summary::before {
	content: "▶"; /* Unicode right arrow U+25B6 */
	float: left; /* Use float because summary may contain block elements */
	margin-right: 5px;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 24px;
	line-height: 32px;
}
details[open] > summary::before {
	content:"▼"; /* Unicode down arrow U+25BC */
}

/***********
 *  Table  *
 ***********/
table {
	margin-bottom: 40px;
	border-spacing: 0;
	border-collapse: collapse;
	font-family: monospace;
	font-size: 14px;
}
table th,
table td {
	padding: 10px;
	margin: 0;
	border: 1px solid rgb(113, 115, 117); /* gray */
}
table th {
	background-color: rgb(175, 178, 181); /* light gray */
	font-weight: bold;
	white-space: nowrap;
}
table td > .error {
	font-weight: bold;
	color: red;
}

/**********
 *  From  *
 **********/
form {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 10px 0;
	padding: 22px;
	width: 330px;
	box-shadow: 0 0 3px rgb(175, 178, 181); /* light gray */
	border-radius: 5px;
	background-color: rgb(255, 255, 255); /* white */
	font-size: 15px;
	transition: background-color 0.2s, box-shadow 0.2s;
}
form:hover {
	background-color: rgb(248, 250, 252); /* off white */
	box-shadow: 0 0 1px rgb(175, 178, 181); /* light gray */
}

label, select, input, textarea, button {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	height: 44px;
	line-height: 44px;
	border-radius: 3px;
	box-shadow: none;
	color: rgb(69, 70, 71); /* dark gray */
}
select, input, textarea, button {
	border: 1px solid rgb(175, 178, 181); /* light gray */
}
select, option, input {
	padding: 0 15px;
}
input[type=file] {
	padding: 0;
	border: none;
}
textarea {
	padding: 10px 15px;
	height: 158px;
	line-height: 17px;
	resize: vertical;
}
button {
	background-color: rgb(77, 137, 191); /* blue */
	color: rgb(255, 255, 255); /* white */
	cursor: pointer;
}
button:focus,
button:hover,
button:active {
	background-color: rgb(37, 95, 148); /* dark blue */
}

/***************
 * Site Layout *
 ***************/
#site {
	background: linear-gradient(to bottom,
		rgb(255, 255, 255) 0,
		rgb(236, 240, 244) 100%
	); /* white - lighter gray */
}
section {
	padding: 20px 0;
	margin: 0 0 40px 0;
	border-bottom: 1px solid rgb(175, 178, 181); /* light gray */
	font-size: 0;
}

#result {
	padding: 10px;
	height: 420px;
	overflow: auto;
	background-color: rgb(69, 70, 71); /* dark gray */
	border: 1px solid  rgb(175, 178, 181); /* light gray */
	font-family: monospace;
	font-size: 15px;
	color: rgb(255, 255, 255); /* white */
	line-height: 15px;
	white-space: pre;
}
#result:empty::before {
	content: "(nothing to show)";
}
.clear-result-button {
	margin-top: 20px;
	width: 300px;
	height: 44px;
	font-size: 16px;
	line-height: 45px;
}

#environment-table th {
	padding-left: 40px;
	text-align: right;
}
#resolution-table th {
	text-align: left;
}
#site > nav {
	text-align: right;
}
#site > nav > a {
	display: inline-block;
	vertical-align: top;
	width: 160px;
	height: 50px;
	border: 1px dashed solid rgb(175, 178, 181); /* light gray */
	background-color: rgb(77, 137, 191); /* blue */
	font-size: 16px;
	line-height: 50px;
	color: rgb(255, 255, 255); /* white */
	text-align: center;
	text-decoration: none;
}
#site > nav > a::after {
	content: "▶"; /* Unicode right arrow U+25B6 */
	margin-left: 5px;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}
#site > nav > a.current,
#site > nav > a:focus,
#site > nav > a:hover,
#site > nav > a:active {
	background-color: rgb(37, 95, 148); /* dark blue */
}