#overlay {
	background-color: rgba(220, 19, 81, 0.9); /* pink */
}
#pop-up-newsletter-form {
	margin: 0 auto;
	width: 290px;
	/*color: rgb(255, 255, 255); /* white */
	line-height: 21px;
	text-align: center;
}

#pop-up-newsletter-form > #logo {
	margin-bottom: 20px;
}

#pop-up-newsletter-form > h3 {
	margin-bottom: 20px;
}
#pop-up-newsletter-form > button {
	background-color: rgb(196, 191, 184); /*  light sand */
	width: 100%;
}
#pop-up-newsletter-form > button:hover,
#pop-up-newsletter-form > button:focus,
#pop-up-newsletter-form > button:active {
	background-color: rgb(137, 127, 113); /*  light sand */
}