<tr><td class=name>{{name}}</td><td class=duration>{{duration}}</td><td class=price>{{price}}</td><td class=promotionPrice>{{promotionPrice}}</td><td class=displayPriority>{{displayPriority}}</td><td class=actions><button class=edit-button data-id="{{{id}}}"></button></td></tr>