/********* Colors **************
   Name            RGB              HEX
  ------          -----            -----
 black           0, 0, 0          #000000
 dark gray       68, 68, 68       #444444
 gray            170, 170, 170    #AAAAAA
 light gray      204, 204, 204    #CCCCCC
 lighter gray    238, 238, 238    #EEEEEE
 white           255, 255, 255    #FFFFFF

 pink            220, 19, 81      #DC1351
 dark pink       165, 14, 61      #A50E3D
 sand            137, 127, 113    #897F71
 light sand      196, 191, 184    #C4BFB8

 blue            22, 94, 150      #165E96
 light blue      128, 187, 227    #80BBE3
*******************************/

#dialog-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    transition: visibility 1ms 0.1s, opacity 0.1s; /* fade out duration */
    z-index: 99;
}
#dialog-overlay.shown {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear; /* fade in duration */
    z-index: 9;
}
#dialog-box {
    width: 520px;
    height: auto;
    position: relative;
    margin: 0 auto 40px;
    padding: 46px 0;
    border-radius: 5px;
    background-color: rgba(220, 19, 81, 1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: visible;
    text-align: center;
}
#dialog-box:after {
    width: 520px;    
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 0 50px 0 rgb(0, 0, 0);
    z-index: -1;
}
#reservation-popup-form {
    width: 300px;
    margin: 0 auto;
}

/* Close button */
#dialog-close-button { /* same as UI's close button */
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40px;
    right: calc(50% - 260px);
    box-shadow: none;
    background-color: transparent;
    color: rgb(255, 255, 255); /* light gray */
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    transition: color 0.2s, box-shadow 0.2s;
}
#dialog-close-button::after {
    content:'×';
    font-size: 35px;
}
#dialog-close-button:focus,
#dialog-close-button:hover,
#dialog-close-button:active {
    box-shadow: none;
    background-color: transparent;
    color: rgb(255, 255, 255); /* white */
    text-shadow: 0 0 2px rgb(68, 68, 68); /* dark gray */
}

/* Message */
#dialog-box-message {
    font-size: 14px;
    color: rgb(220, 19, 81); /* pink */
    line-height: 21px;
    text-align: center;
}
#dialog-box-message .error-message {
    font-weight: bold;
    color: rgb(165, 14, 61); /* dark pink */
}

/* Button */
#dialog-box > button::after {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    margin-left: 2px;
    width: 11px;
    height: 11px;
    background-image: url('/img/ui/more-FFFFFF.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#dialog-box > button {
    margin-right: 20px;
}
#dialog-box > button:last-of-type {
    margin-right: 0;
}
#reservation-popup-form > button {
  background-color: rgb(196, 191, 184);
  margin: 15px 0 0;
  width: 100%;
}
@media (min-width: 1366px) { /* min-content: 1280px, margin: 80px */
    #dialog-box-message {
        margin-bottom: 40px;
    }
    #dialog-box > button {
        width: 125px;
    }
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* min-content: 920px, margin: 52px */
    #dialog-box-message {
        margin-bottom: 40px;
    }
    #dialog-box > button {
        width: 125px;
    }
}
@media (max-width: 1023.9px) { /* min-content: 680px, margin: 44px */
    #dialog-overlay {
        padding: 0;
    }
    #dialog-box {
        width: 100%;
        padding: 40px 15px;
		border-radius: 0;
    }
    #dialog-box-message {
        margin-bottom: 40px;
    }
    #reservation-popup-form {
        width: 100%;
    }
    #dialog-box > button {
        width: 125px;
    }
    #dialog-close-button {
        top: 0;
        right: 0;
    }
}

/**********
 *  Halt  *
 **********/
#dialog-box.halt {
    width: 100%;
    height: 100%;
}
#dialog-box.halt + #dialog-close-button {
    display: none;
}
#dialog-box.halt > #dialog-box-message::before {
    content:"";
    position: relative;
    display: block;
    margin-bottom: 5vh;
    height: 10vh;
    background-image: url("/img/ui/warning-FFFFFF.svg");
    background-position: center bottom 10%;
    background-size: contain;
    background-repeat: no-repeat;
}

/**********
 *  Custom Radio  *
 **********/
.control-group {
    display: block;
    text-align: left;
    vertical-align: top;
}
.control {
    width: 33.33%;
    display: inline-block;
    padding-left: 20px;
    position: relative;
    font-size: 14px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    line-height: 18px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 0;
    background: rgb(255, 255, 255);
}
.control--radio .control__indicator {
    border-radius: 50%;
}
/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: rgb(204, 204, 204);
}
/* Checked state */
.control input:checked ~ .control__indicator {
    background: rgb(255, 255, 255);
}
/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: rgb(255, 255, 255);
}
/* Disabled state */
.control input:disabled ~ .control__indicator {
    background: rgb(230, 230, 230);
    pointer-events: none;
    opacity: .6;
}
/* Check mark */
.control__indicator:after {
    display: none;
    position: absolute;
    content: '';
}
/* Show check mark */
.control input:checked ~ .control__indicator:after {
    display: block;
}
/* Checkbox tick */
.control--checkbox .control__indicator:after {
    width: 3px;
    height: 8px;
    top: 4px;
    left: 8px;
    border: solid rgb(255, 255, 255);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: rgb(123, 123, 123);
}
/* Radio button inner circle */
.control--radio .control__indicator:after {
    width: 7px;
    height: 7px;
    top: 4px;
    left: 4px;
    background-color: rgb(220, 19, 81);
    border-radius: 50%;
}
/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
    background: rgb(123, 123, 123);
}

/**********
 *  Custom Checkbox  *
 **********/
#subscription-terms {
    width: 90%;
    display: inline-block;
    vertical-align: top;
}
#subscription-terms p.label-info {
    margin: 0 0 6px;
    text-align: left;
    line-height: 25px;
}
#subscription-terms p.label-info a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#custom-checkbox {
    width: 8%;
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
    color: rgb(68, 68, 68);
    vertical-align: top;
}
#custom-checkbox  input[type="checkbox"] {
    width: 18px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
#custom-checkbox  input[type="checkbox"] + label {
    margin: 0;
    padding: 5px 0 4px 24px;
    background: rgba(0, 0, 0, 0) url("../../img/ui/off-checkbox.svg") no-repeat scroll left center;
    clear: none;
    cursor: pointer;
}
#custom-checkbox  input[type="checkbox"]:checked + label {
  background-image: url("../../img/ui/on-checkbox.svg");
}

#dialog-box-confirm-yes-button,
#dialog-box-confirm-no-button {
    display: none;
}