<article class="category">
	<img src="/img/categories/{{id}}/main.jpg" alt="{{name}}" />
	<h3>{{name}}</h3>
	<a class="button-link" href="/therapies#main" data-category-id="{{id}}">More</a>
</article>




