<header class="module-header" id="articles-module-header">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Articles</a>

	<form class="search-form" id="articles-search-form">
		<input type="search" name="search" placeholder="Search here"><!--
		--><button type="submit" class="search-button"></button>
	</form>
</header>

<section class="results-section" id="view-articles-section">
	<header>
		<nav class="results-pagination" id="results-section-header-pagination"></nav>
		<nav class="results-display-controls" id="results-section-header-display-controls">
			Results per page
			<button class="show-5-result-button" data-count="5">5</button><!--
			--><button class="show-10-result-button active" data-count="10">10</button><!--
			--><button class="show-20-result-button" data-count="20">20</button><!--
			--><button class="show-50-result-button" data-count="50">50</button>
		</nav>
	</header>
	<table id="articles-table">
		<thead>
			<tr>
				<th class="sortable title" data-field="title">Title</th>
				<th class="sortable displayPriority" data-field="displayPriority">Display Priority</th>
				<th class="actions"></th>
			</tr>
		</thead>
		<tbody id="articles-tbody">
		</tbody>
	</table>
	<footer>
		<nav class="results-pagination" id="results-section-footer-pagination"></nav>
		<nav class="results-display-controls" id="results-section-footer-display-controls">
			Results per page
			<button class="show-5-result-button" data-count="5">5</button><!--
			--><button class="show-10-result-button active" data-count="10">10</button><!--
			--><button class="show-20-result-button" data-count="20">20</button><!--
			--><button class="show-50-result-button" data-count="50">50</button>
		</nav>
	</footer>
</section>

<section class="edit-section" id="edit-article-section">
	<h2>Edit Article</h2>
	<form id="edit-article-form">
		<input type="hidden" name="id" />
		<fieldset>
			<label for="edit-article-url-input">URL</label><!--
			--><input type="url" id="edit-article-url-input" name="url" maxlength="256" placeholder="Copy and paste URL here" /><!--
			--><output for="edit-article-url-input"></output>
			<button type="button" id="edit-article-get-from-url-button">Get from URL</button>
		</fieldset>
		<fieldset>
			<label for="edit-article-title-input">Title</label><!--
			--><input type="text" id="edit-article-title-input" name="title" maxlength="128" placeholder="(Max. 128 characters)" /><!--
			--><output for="edit-article-title-input"></output>
		</fieldset>
		<fieldset>
			<label for="edit-article-excerpt-textarea">Excerpt Text</label><!--
			--><textarea id="edit-article-excerpt-textarea" name="excerpt" maxlength="512" placeholder="(Max. 512 characters)"></textarea><!--
			--><output for="edit-article-excerpt-textarea"></output>
		</fieldset>
		<fieldset>
			<div id="edit-article-image-preview-area" class="image-preview-area">
				<img id="edit-article-preview-img" src="" alt="" />
			</div><!--
			--><div class="upload-instructions">
				<p>Set thumbnail image of the article by uploading an image on your computer.</p>
				<p>Please use a square image of at least 200 x 200 pixels.<br>
				   Recommended: 400 x 400 pixels.
				</p>
				<input type="file" id="edit-article-img-input" name="img" /><label for="edit-article-img-input">Browse</label><!--
				--><output for="edit-article-img-input"></output>
				<input type="hidden" name="img-url" />
			</div>
		</fieldset>
		<fieldset>
			<label for="edit-article-display-priority-input">Display Priority</label><!--
			--><input type="text" id="edit-article-display-priority-input" name="displayPriority" placeholder="(Higher priority will be shown first; set to 0 to hide)" /><!--
			--><output for="edit-article-display-priority-input"></output>
		</fieldset>
		<button type="submit">Submit</button>
		<button type="reset">Cancel</button>
		<output></output>
	</form>
</section>

<section class="add-section shown" id="add-article-section">
	<h2>Add Article</h2>
	<form id="add-article-form">
		<fieldset>
			<label for="add-article-url-input">URL</label><!--
			--><input type="url" id="add-article-url-input" name="url" maxlength="256" placeholder="Copy and paste URL here" /><!--
			--><output for="add-article-url-input"></output>
			<button type="button" id="add-article-get-from-url-button">Get from URL</button>
		</fieldset>
		<fieldset>
			<label for="add-article-title-input">Title</label><!--
			--><input type="text" id="add-article-title-input" name="title" maxlength="128" placeholder="(Max. 128 characters)" /><!--
			--><output for="add-article-title-input"></output>
		</fieldset>
		<fieldset>
			<label for="add-article-excerpt-textarea">Excerpt Text</label><!--
			--><textarea id="add-article-excerpt-textarea" name="excerpt" maxlength="512" placeholder="(Max. 512 characters)"></textarea><!--
			--><output for="add-article-excerpt-textarea"></output>
		</fieldset>
		<fieldset>
			<div id="add-article-image-preview-area" class="image-preview-area">
				<img id="add-article-preview-img" src="" alt="" />
			</div><!--
			--><div class="upload-instructions">
				<p>Set thumbnail image of the article by uploading an image on your computer.</p>
				<p>Please use a square image of at least 200 x 200 pixels.<br>
				   Recommended: 400 x 400 pixels.
				</p>
				<input type="file" id="add-article-img-input" name="img" /><label for="add-article-img-input">Browse</label><!--
				--><output for="add-article-img-input"></output>
				<input type="hidden" name="img-url" />
			</div>
		</fieldset>
		<fieldset>
			<label for="add-article-display-priority-input">Display Priority</label><!--
			--><input type="text" id="add-article-display-priority-input" name="displayPriority" placeholder="(Higher priority will be shown first; set to 0 to hide)" /><!--
			--><output for="add-article-display-priority-input"></output>
		</fieldset>
		<button type="submit">Submit</button>
		<button type="reset">Cancel</button>
		<output></output>
	</form>
</section>

<footer class="module-footer" id="articles-module-footer">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Therapies</a>

	<a class="back-to-top-link" href="#">Back to top</a>
</footer>
