<header class="module-header" id="careers-module-header">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Careers</a>

	<form class="search-form" id="job-listings-search-form">
		<input type="search" name="search" placeholder="Search here"><!--
		--><button type="submit" class="search-button"></button>
	</form>
</header>

<section class="results-section" id="view-job-listings-section">
	<header>
		<nav class="results-pagination" id="results-section-header-pagination"></nav>
		<nav class="results-display-controls" id="results-section-header-display-controls">
			Results per page
			<button class="show-5-result-button" data-count="5">5</button><!--
			--><button class="show-10-result-button active" data-count="10">10</button><!--
			--><button class="show-20-result-button" data-count="20">20</button><!--
			--><button class="show-50-result-button" data-count="50">50</button>
		</nav>
	</header>
	<table id="job-listings-table">
		<thead>
			<tr>
				<th class="sortable title" data-field="title">Name</th>
				<th class="sortable displayPriority" data-field="displayPriority">Display Priority</th>
				<th class="actions"></th>
			</tr>
		</thead>
		<tbody id="job-listings-tbody">
		</tbody>
	</table>
	<footer>
		<nav class="results-pagination" id="results-section-footer-pagination"></nav>
		<nav class="results-display-controls" id="results-section-footer-display-controls">
			Results per page
			<button class="show-5-result-button" data-count="5">5</button><!--
			--><button class="show-10-result-button active" data-count="10">10</button><!--
			--><button class="show-20-result-button" data-count="20">20</button><!--
			--><button class="show-50-result-button" data-count="50">50</button>
		</nav>
	</footer>
</section>

<section class="edit-section" id="edit-job-listing-section">
	<h2>Edit Job Listing</h2>
	<form id="edit-job-listing-form">
		<input type="hidden" name="id" />
		<fieldset>
			<label for="edit-job-listing-title-input">Title</label><!--
			--><input type="text" id="edit-job-listing-title-input" name="title" maxlength="128" placeholder="(Max. 128 characters)" /><!--
			--><output for="edit-job-listing-title-input"></output>
		</fieldset>
		<fieldset>
			<label for="edit-job-listing-responsibilities-textarea">Responsibilities</label><!--
			--><textarea id="edit-job-listing-responsibilities-textarea" name="responsibilities" maxlength="512" placeholder="(Max. 512 characters)"></textarea><!--
			--><output for="edit-job-listing-responsibilities-textarea"></output>
		</fieldset>
		<fieldset>
			<label for="edit-job-listing-traits-textarea">Traits</label><!--
			--><textarea id="edit-job-listing-traits-textarea" name="traits" maxlength="512" placeholder="(Max. 512 characters)"></textarea><!--
			--><output for="edit-job-listing-traits-textarea"></output>
		</fieldset>
		<fieldset>
			<label for="edit-job-listing-display-priority-input">Display Priority</label><!--
			--><input type="text" id="edit-job-listing-display-priority-input" name="displayPriority" placeholder="(Higher priority will be shown first; set to 0 to hide)" /><!--
			--><output for="edit-job-listing-display-priority-input"></output>
		</fieldset>
		<button type="submit">Submit</button>
		<button type="reset">Cancel</button>
		<output></output>
	</form>
</section>

<section class="add-section shown" id="add-job-listing-section">
	<h2>Add Job Listing</h2>
	<form id="add-job-listing-form">
		<fieldset>
			<label for="add-job-listing-title-input">Title</label><!--
			--><input type="text" id="add-job-listing-title-input" name="title" maxlength="128" placeholder="(Max. 128 characters)" /><!--
			--><output for="add-job-listing-title-input"></output>
		</fieldset>
		<fieldset>
			<label for="add-job-listing-responsibilities-textarea">Responsibilities</label><!--
			--><textarea id="add-job-listing-responsibilities-textarea" name="responsibilities" maxlength="512" placeholder="(Max. 512 characters)"></textarea><!--
			--><output for="add-job-listing-responsibilities-textarea"></output>
		</fieldset>
		<fieldset>
			<label for="add-job-listing-traits-textarea">Traits</label><!--
			--><textarea id="add-job-listing-traits-textarea" name="traits" maxlength="512" placeholder="(Max. 512 characters)"></textarea><!--
			--><output for="add-job-listing-traits-textarea"></output>
		</fieldset>
		<fieldset>
			<label for="add-job-listing-display-priority-input">Display Priority</label><!--
			--><input type="text" id="add-job-listing-display-priority-input" name="displayPriority" placeholder="(Higher priority will be shown first; set to 0 to hide)" /><!--
			--><output for="add-job-listing-display-priority-input"></output>
		</fieldset>
		<button type="submit">Submit</button>
		<button type="reset">Cancel</button>
		<output></output>
	</form>
</section>

<footer class="module-footer" id="careers-module-footer">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Careers</a>

	<a class="back-to-top-link" href="#">Back to top</a>
</footer>
