<header class="module-header" id="categories-module-header">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Categories</a>

	<form class="search-form" id="categories-search-form">
		<input type="search" name="search" placeholder="Search here"><!--
		--><button type="submit" class="search-button"></button>
	</form>
</header>

<nav class="aux-nav">
	<a class="button-link current" href="">Categories</a><!--
	--><a class="button-link" href="/therapies">Therapies</a>
</nav>

<section class="results-section" id="view-categories-section">
	<header>
		<nav class="results-pagination" id="results-section-header-pagination"></nav>
		<nav class="results-display-controls" id="results-section-header-display-controls">
			Results per page
			<button class="show-5-result-button" data-count="5">5</button><!--
			--><button class="show-10-result-button active" data-count="10">10</button><!--
			--><button class="show-20-result-button" data-count="20">20</button><!--
			--><button class="show-50-result-button" data-count="50">50</button>
		</nav>
	</header>
	<table id="categories-table">
		<thead>
			<tr>
				<th class="sortable name" data-field="name">Name</th>
				<th class="sortable displayPriority" data-field="displayPriority">Display Priority</th>
				<th class="actions"></th>
			</tr>
		</thead>
		<tbody id="categories-tbody">
		</tbody>
	</table>
	<footer>
		<nav class="results-pagination" id="results-section-footer-pagination"></nav>
		<nav class="results-display-controls" id="results-section-footer-display-controls">
			Results per page
			<button class="show-5-result-button" data-count="5">5</button><!--
			--><button class="show-10-result-button active" data-count="10">10</button><!--
			--><button class="show-20-result-button" data-count="20">20</button><!--
			--><button class="show-50-result-button" data-count="50">50</button>
		</nav>
	</footer>
</section>

<section class="edit-section" id="edit-category-section">
	<h2>Edit Category</h2>
	<form id="edit-category-form">
		<input type="hidden" name="id" />
		<fieldset>
			<label for="edit-category-name-input">Name</label><!--
			--><input type="text" id="edit-category-name-input" name="name" maxlength="128" placeholder="(Max. 128 characters)" /><!--
			--><output for="edit-category-name-input"></output>
		</fieldset>
		<fieldset>
			<label for="edit-category-description-textarea">Description</label><!--
			--><textarea id="edit-category-description-textarea" name="description" maxlength="1024" placeholder="(Max. 1024 characters)"></textarea><!--
			--><output for="edit-category-description-textarea"></output>
		</fieldset>
		<fieldset>
			<div id="edit-category-image-preview-area" class="image-preview-area">
				<img id="edit-category-preview-img" src="" alt="" />
			</div><!--
			--><div class="upload-instructions">
				<p>Set thumbnail image of the category by uploading an image on your computer.</p>
				<p>Please use a square image of at least 200 x 200 pixels.<br>
				   Recommended: 400 x 400 pixels.
				</p>
				<input type="file" id="edit-category-img-input" name="img" /><label for="edit-category-img-input">Browse</label><!--
				--><output for="edit-category-img-input"></output>
			</div>
		</fieldset>
		<fieldset>
			<label for="edit-category-display-priority-input">Display Priority</label><!--
			--><input type="text" id="edit-category-display-priority-input" name="displayPriority" placeholder="(Higher priority will be shown first; set to 0 to hide)" /><!--
			--><output for="edit-category-display-priority-input"></output>
		</fieldset>
		<button type="submit">Submit</button>
		<button type="reset">Cancel</button>
		<output></output>
	</form>
</section>

<section class="add-section shown" id="add-category-section">
	<h2>Add Category</h2>
	<form id="add-category-form">
		<fieldset>
			<label for="add-category-name-input">Name</label><!--
			--><input type="text" id="add-category-name-input" name="name" maxlength="128" placeholder="(Max. 128 characters)" /><!--
			--><output for="add-category-name-input"></output>
		</fieldset>
		<fieldset>
			<label for="add-category-description-textarea">Description</label><!--
			--><textarea id="add-category-description-textarea" name="description" maxlength="1024" placeholder="(Max. 1024 characters)"></textarea><!--
			--><output for="add-category-description-textarea"></output>
		</fieldset>
		<fieldset>
			<div id="add-category-image-preview-area" class="image-preview-area">
				<img id="add-category-preview-img" src="" alt="" />
			</div><!--
			--><div class="upload-instructions">
				<p>Set thumbnail image of the category by uploading an image on your computer.</p>
				<p>Please use a square image of at least 200 x 200 pixels.<br>
				   Recommended: 400 x 400 pixels.
				</p>
				<input type="file" id="add-category-img-input" name="img" /><label for="add-category-img-input">Browse</label><!--
				--><output for="add-category-img-input"></output>
			</div>
		</fieldset>
		<fieldset>
			<label for="add-category-display-priority-input">Display Priority</label><!--
			--><input type="text" id="add-category-display-priority-input" name="displayPriority" placeholder="(Higher priority will be shown first; set to 0 to hide)" /><!--
			--><output for="add-category-display-priority-input"></output>
		</fieldset>
		<button type="submit">Submit</button>
		<button type="reset">Cancel</button>
		<output></output>
	</form>
</section>

<footer class="module-footer" id="categories-module-footer">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Categories</a>

	<a class="back-to-top-link" href="#">Back to top</a>
</footer>
