<header class="module-header" id="gallery-module-header">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Event Gallery</a>

	<form class="search-form" id="gallery-search-form">
		<input type="search" name="search" placeholder="Search here"><!--
		--><button type="submit" class="search-button"></button>
	</form>
</header>

<nav class="aux-nav">
	<a class="button-link current" href="">Event Gallery</a><!--
	--><a class="button-link" href="/events">Events</a>
</nav>

<section class="results-section" id="view-gallery-section">
	<header>
		<nav class="results-pagination" id="results-section-header-pagination"></nav>
		<nav class="results-display-controls" id="results-section-header-display-controls">
			Results per page
			<button class="show-5-result-button" data-count="5">5</button><!--
			--><button class="show-10-result-button active" data-count="10">10</button><!--
			--><button class="show-20-result-button" data-count="20">20</button><!--
			--><button class="show-50-result-button" data-count="50">50</button>
		</nav>
	</header>
	<table id="gallery-table">
		<thead>
			<tr>
				<th class="sortable name" data-field="name">Name</th>
				<th class="sortable displayPriority" data-field="displayPriority">Display Priority</th>
				<th class="actions"></th>
			</tr>
		</thead>
		<tbody id="gallery-tbody">
		</tbody>
	</table>
	<footer>
		<nav class="results-pagination" id="results-section-footer-pagination"></nav>
		<nav class="results-display-controls" id="results-section-footer-display-controls">
			Results per page
			<button class="show-5-result-button" data-count="5">5</button><!--
			--><button class="show-10-result-button active" data-count="10">10</button><!--
			--><button class="show-20-result-button" data-count="20">20</button><!--
			--><button class="show-50-result-button" data-count="50">50</button>
		</nav>
	</footer>
</section>

<section class="edit-section" id="edit-gallery-section">
	<h2>Edit Event Gallery</h2>
	<form id="edit-gallery-form">
		<input type="hidden" name="id" />
		<fieldset>
			<label for="edit-gallery-name-input">Name</label><!--
			--><input type="text" id="edit-gallery-name-input" name="name" maxlength="128" placeholder="(Max. 128 characters)" /><!--
			--><output for="edit-gallery-name-input"></output>
		</fieldset>
		
		<fieldset>
			<label for="edit-gallery-display-priority-input">Display Priority</label><!--
			--><input type="text" id="edit-gallery-display-priority-input" name="displayPriority" placeholder="(Higher priority will be shown first; set to 0 to hide)" /><!--
			--><output for="edit-gallery-display-priority-input"></output>
		</fieldset>
		<button type="submit">Submit</button>
		<button type="reset">Cancel</button>
		<output></output>
	</form>
</section>

<section class="add-section shown" id="add-gallery-section">
	<h2>Add Event Gallery</h2>
	<form id="add-gallery-form">
		<fieldset>
			<label for="add-gallery-name-input">Name</label><!--
			--><input type="text" id="add-gallery-name-input" name="name" maxlength="128" placeholder="(Max. 128 characters)" /><!--
			--><output for="add-gallery-name-input"></output>
		</fieldset>
		<fieldset>
			<label for="add-gallery-display-priority-input">Display Priority</label><!--
			--><input type="text" id="add-gallery-display-priority-input" name="displayPriority" placeholder="(Higher priority will be shown first; set to 0 to hide)" /><!--
			--><output for="add-gallery-display-priority-input"></output>
		</fieldset>
		<button type="submit">Submit</button>
		<button type="reset">Cancel</button>
		<output></output>
	</form>
</section>

<footer class="module-footer" id="gallery-module-footer">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Event Gallery</a>

	<a class="back-to-top-link" href="#">Back to top</a>
</footer>
