<header class="module-header" id="events-module-header">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Events</a>

	<form class="search-form" id="events-search-form">
		<input type="search" name="search" placeholder="Search here"><!--
		--><button type="submit" class="search-button"></button>
	</form>
</header>

<nav class="aux-nav">
	<a class="button-link" href="/event-gallery">Event Gallery</a><!--
	--><a class="button-link current" href="">Events</a>
</nav>

<section class="results-section" id="view-events-section">
	<header>
		<nav class="results-pagination" id="results-section-header-pagination"></nav>
		<nav class="results-display-controls" id="results-section-header-display-controls">
			Results per page
			<button class="show-5-result-button" data-count="5">5</button><!--
			--><button class="show-10-result-button active" data-count="10">10</button><!--
			--><button class="show-20-result-button" data-count="20">20</button><!--
			--><button class="show-50-result-button" data-count="50">50</button>
		</nav>
	</header>
	<table id="events-table">
		<thead>
			<tr>
				<th class="sortable name" data-field="name">Name</th>
				<th class="sortable eventDate" data-field="eventDate">Date</th>
				<th class="sortable displayPriority" data-field="displayPriority">Display Priority</th>
				<th class="actions"></th>
			</tr>
		</thead>
		<tbody id="events-tbody">
		</tbody>
	</table>
	<footer>
		<nav class="results-pagination" id="results-section-footer-pagination"></nav>
		<nav class="results-display-controls" id="results-section-footer-display-controls">
			Results per page
			<button class="show-5-result-button" data-count="5">5</button><!--
			--><button class="show-10-result-button active" data-count="10">10</button><!--
			--><button class="show-20-result-button" data-count="20">20</button><!--
			--><button class="show-50-result-button" data-count="50">50</button>
		</nav>
	</footer>
</section>

<section class="edit-section" id="edit-event-section">
	<h2>Edit Event</h2>
	<form id="edit-event-form">
		<input type="hidden" name="id" />
		<fieldset>
			<label for="edit-event-name-input">Name</label><!--
			--><input type="text" id="edit-event-name-input" name="name" maxlength="128" placeholder="(Max. 128 characters)" /><!--
			--><output for="edit-event-name-input"></output>
		</fieldset>
		<fieldset>
			<label for="edit-event-description-textarea">Description</label><!--
			--><textarea id="edit-event-description-textarea" name="description" maxlength="1024" placeholder="(Max. 1024 characters)"></textarea><!--
			--><output for="edit-event-description-textarea"></output>
		</fieldset>
		<fieldset>
			<label for="edit-event-date-input">Event Date</label><!--
			--><input type="text" id="edit-event-date-input" name="eventDate" placeholder="(DD/MM/YYYY)" /><!--
			--><output for="edit-event-date-input"></output>
			<input type="hidden" name="eventTime" />
		</fieldset>
		<fieldset>
			<label for="edit-event-gallery-id">Event Gallery</label><!--
			--><select id="edit-event-gallery-id" name="eventGalleryID"></select><!--
			--><output for="edit-event-gallery-id"></output>
		</fieldset>
		<fieldset>
			<div id="edit-event-image-preview-area" class="image-preview-area">
				<img id="edit-event-preview-img" src="" alt="" />
			</div><!--
			--><div class="upload-instructions">
				<p>Set thumbnail image of the event by uploading an image on your computer.</p>
				<p>Please use a square image of at least 200 x 200 pixels.<br>
				   Recommended: 400 x 400 pixels.
				</p>
				<input type="file" id="edit-event-img-input" name="img" /><label for="edit-event-img-input">Browse</label><!--
				--><output for="edit-event-img-input"></output>
			</div>
		</fieldset>
		<fieldset>
			<label for="edit-event-display-priority-input">Display Priority</label><!--
			--><input type="text" id="edit-event-display-priority-input" name="displayPriority" placeholder="(Higher priority will be shown first; set to 0 to hide)" /><!--
			--><output for="edit-event-display-priority-input"></output>
		</fieldset>
		<button type="submit">Submit</button>
		<button type="reset">Cancel</button>
		<output></output>
	</form>
</section>

<section class="add-section shown" id="add-event-section">
	<h2>Add New Event</h2>
	<form id="add-event-form">
		<fieldset>
			<label for="add-event-name-input">Name</label><!--
			--><input type="text" id="add-event-name-input" name="name" maxlength="128" placeholder="(Max. 128 characters)" /><!--
			--><output for="add-event-name-input"></output>
		</fieldset>
		<fieldset>
			<label for="add-event-description-textarea">Description</label><!--
			--><textarea id="add-event-description-textarea" name="description" maxlength="1024" placeholder="(Max. 1024 characters)"></textarea><!--
			--><output for="add-event-description-textarea"></output>
		</fieldset>
		<fieldset>
			<label for="add-event-date-input">Event Date</label><!--
			--><input type="text" id="add-event-date-input" name="eventDate" placeholder="(DD/MM/YYYY)" /><!--
			--><output for="add-event-date-input"></output>
			<input type="hidden" name="eventTime" />
		</fieldset>
		<fieldset>
			<label for="add-event-gallery-id">Event Gallery</label><!--
			--><select id="add-event-gallery-id" name="eventGalleryID"></select><!--
			--><output for="add-event-gallery-id"></output>
		</fieldset>
		<fieldset>
			<label for="add-event-display-priority-input">Display Priority</label><!--
			--><input type="text" id="add-event-display-priority-input" name="displayPriority" placeholder="(Higher priority will be shown first; set to 0 to hide)" /><!--
			--><output for="add-event-display-priority-input"></output>
		</fieldset>
		<fieldset>
			<div id="add-event-image-preview-area" class="image-preview-area">
				<img id="add-event-preview-img" src="" alt="" />
			</div><!--
			--><div class="upload-instructions">
				<p>Set thumbnail image of the event by uploading an image on your computer.</p>
				<p>Please use a square image of at least 200 x 200 pixels.<br>
				   Recommended: 400 x 400 pixels.
				</p>
				<input type="file" id="add-event-img-input" name="img" /><label for="add-event-img-input">Browse</label><!--
				--><output for="add-event-img-input"></output>
			</div>
		</fieldset>
		<button type="submit">Submit</button>
		<button type="reset">Reset</button>
		<output class="shown"></output>
	</form>
</section>

<footer class="module-footer" id="events-module-footer">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Events</a>

	<a class="back-to-top-link" href="#">Back to top</a>
</footer>
