<header class="module-header" id="therapies-module-header">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Therapies</a>

	<form class="search-form" id="therapies-search-form">
		<input type="search" name="search" placeholder="Search here"><!--
		--><button type="submit" class="search-button"></button>
	</form>
</header>

<nav class="aux-nav">
	<a class="button-link" href="/categories">Categories</a><!--
	--><a class="button-link current" href="">Therapies</a>
</nav>

<section class="results-section" id="view-therapies-section">
	<header>
		<nav class="results-pagination" id="results-section-header-pagination"></nav>
		<nav class="results-display-controls" id="results-section-header-display-controls">
			Results per page
			<button class="show-5-result-button" data-count="5">5</button><!--
			--><button class="show-10-result-button active" data-count="10">10</button><!--
			--><button class="show-20-result-button" data-count="20">20</button><!--
			--><button class="show-50-result-button" data-count="50">50</button>
		</nav>
	</header>
	<table id="therapies-table">
		<thead>
			<tr>
				<th class="sortable name" data-field="name">Name</th>
				<th class="sortable duration" data-field="duration">Duration</th>
				<th class="sortable price" data-field="price">Price</th>
				<th class="sortable promotionPrice" data-field="promotionPrice">Promo Price</th>
				<th class="sortable displayPriority" data-field="displayPriority">Display Priority</th>
				<th class="actions"></th>
			</tr>
		</thead>
		<tbody id="therapies-tbody">
		</tbody>
	</table>
	<footer>
		<nav class="results-pagination" id="results-section-footer-pagination"></nav>
		<nav class="results-display-controls" id="results-section-footer-display-controls">
			Results per page
			<button class="show-5-result-button" data-count="5">5</button><!--
			--><button class="show-10-result-button active" data-count="10">10</button><!--
			--><button class="show-20-result-button" data-count="20">20</button><!--
			--><button class="show-50-result-button" data-count="50">50</button>
		</nav>
	</footer>
</section>

<section class="edit-section" id="edit-therapy-section">
	<h2>Edit Therapy</h2>
	<form id="edit-therapy-form">
		<input type="hidden" name="id" />
		<fieldset>
			<label for="edit-therapy-name-input">Name</label><!--
			--><input type="text" id="edit-therapy-name-input" name="name" maxlength="128" placeholder="(Max. 128 characters)" /><!--
			--><output for="edit-therapy-name-input"></output>
		</fieldset>
		<fieldset>
			<label for="edit-therapy-description-textarea">Description</label><!--
			--><textarea id="edit-therapy-description-textarea" name="description" maxlength="1024" placeholder="(Max. 1024 characters)"></textarea><!--
			--><output for="edit-therapy-description-textarea"></output>
		</fieldset>
		<fieldset>
			<label for="edit-therapy-benefits-textarea">Benefits</label><!--
			--><textarea id="edit-therapy-benefits-textarea" name="benefits" maxlength="512" placeholder="(Max. 512 characters)"></textarea><!--
			--><output for="edit-therapy-benefits-textarea"></output>
		</fieldset>
		<fieldset>
			<label for="edit-therapy-duration-input">Duration</label><!--
			--><input type="text" id="edit-therapy-duration-input" name="duration" pattern="\d*" title="minutes" placeholder="(in minutes)" /><!--
			--><output for="edit-therapy-duration-input"></output>
		</fieldset>
		<fieldset>
			<label for="edit-therapy-price-input">Price</label><!--
			--><input type="text" id="edit-therapy-price-input" name="price" placeholder="(in cents)" /><!--
			--><output for="edit-therapy-price-input"></output>
		</fieldset>
		<fieldset>
			<label for="edit-therapy-promotion-price-input">Promotion Price</label><!--
			--><input type="text" id="edit-therapy-promotion-price-input" name="promotionPrice" placeholder="(in cents)" /><!--
			--><output for="edit-therapy-promotion-price-input"></output>
		</fieldset>
		<fieldset>
			<label for="edit-therapy-promotion-start-date-input">Promotion Start</label><!--
			--><input type="text" id="edit-therapy-promotion-start-date-input" name="promotionStartDate" placeholder="(DD/MM/YYYY)" /><!--
			--><output for="edit-therapy-promotion-start-date-input"></output>
			<input type="hidden" name="promotionStartTime" />
		</fieldset>
		<fieldset>
			<label for="edit-therapy-promotion-end-date-input">Promotion End</label><!--
			--><input type="text" id="edit-therapy-promotion-end-date-input" name="promotionEndDate" placeholder="(DD/MM/YYYY)" /><!--
			--><output for="edit-therapy-promotion-end-date-input"></output>
			<input type="hidden" name="promotionEndTime" />
		</fieldset>
		<fieldset>
			<label for="edit-therapy-promotion-terms-textarea">Promotion Terms</label><!--
			--><textarea id="edit-therapy-promotion-terms-textarea" name="promotionTerms" maxlength="512" placeholder="(Max. 512 characters)"></textarea><!--
			--><output for="edit-therapy-promotion-terms-textarea"></output>
		</fieldset>
		<fieldset>
			<label for="edit-therapy-sub-category-id">Sub Category</label><!--
			--><select id="edit-therapy-sub-category-id" name="subCategoryID"></select><!--
			--><output for="edit-therapy-sub-category-id"></output>
		</fieldset>
		<fieldset>
			<div id="edit-therapy-image-preview-area" class="image-preview-area">
				<img id="edit-therapy-preview-img" src="" alt="" />
			</div><!--
			--><div class="upload-instructions">
				<p>Set thumbnail image of the therapy by uploading an image on your computer.</p>
				<p>Please use a square image of at least 200 x 200 pixels.<br>
				   Recommended: 400 x 400 pixels.
				</p>
				<input type="file" id="edit-therapy-img-input" name="img" /><label for="edit-therapy-img-input">Browse</label><!--
				--><output for="edit-therapy-img-input"></output>
			</div>
		</fieldset>
		<fieldset>
			<label for="edit-therapy-display-priority-input">Display Priority</label><!--
			--><input type="text" id="edit-therapy-display-priority-input" name="displayPriority" placeholder="(Higher priority will be shown first; set to 0 to hide)" /><!--
			--><output for="edit-therapy-display-priority-input"></output>
		</fieldset>
		<button type="submit">Submit</button>
		<button type="reset">Cancel</button>
		<output></output>
	</form>
</section>

<section class="add-section shown" id="add-therapy-section">
	<h2>Add New Therapy</h2>
	<form id="add-therapy-form">
		<fieldset>
			<label for="add-therapy-name-input">Name</label><!--
			--><input type="text" id="add-therapy-name-input" name="name" maxlength="128" placeholder="(Max. 128 characters)" /><!--
			--><output for="add-therapy-name-input"></output>
		</fieldset>
		<fieldset>
			<label for="add-therapy-description-textarea">Description</label><!--
			--><textarea id="add-therapy-description-textarea" name="description" maxlength="1024" placeholder="(Max. 1024 characters)"></textarea><!--
			--><output for="add-therapy-description-textarea"></output>
		</fieldset>
		<fieldset>
			<label for="add-therapy-benefits-textarea">Benefits</label><!--
			--><textarea id="add-therapy-benefits-textarea" name="benefits" maxlength="512" placeholder="(Max. 512 characters)"></textarea><!--
			--><output for="add-therapy-benefits-textarea"></output>
		</fieldset>
		<fieldset>
			<label for="add-therapy-duration-input">Duration</label><!--
			--><input type="text" id="add-therapy-duration-input" name="duration" placeholder="(in minutes)" /><!--
			--><output for="add-therapy-duration-input"></output>
		</fieldset>
		<fieldset>
			<label for="add-therapy-price-input">Price</label><!--
			--><input type="text" id="add-therapy-price-input" name="price" placeholder="(in cents)" /><!--
			--><output for="add-therapy-price-input"></output>
		</fieldset>
		<fieldset>
			<label for="add-therapy-promotion-price-input">Promotion Price</label><!--
			--><input type="text" id="add-therapy-promotion-price-input" name="promotionPrice" placeholder="(in cents)" /><!--
			--><output for="add-therapy-promotion-price-input"></output>
		</fieldset>
		<fieldset>
			<label for="add-therapy-promotion-start-date-input">Promotion Start</label><!--
			--><input type="text" id="add-therapy-promotion-start-date-input" name="promotionStartDate" placeholder="(DD/MM/YYYY)" /><!--
			--><output for="add-therapy-promotion-start-date-input"></output>
			<input type="hidden" name="promotionStartTime" />
		</fieldset>
		<fieldset>
			<label for="add-therapy-promotion-end-date-input">Promotion End</label><!--
			--><input type="text" id="add-therapy-promotion-end-date-input" name="promotionEndDate" placeholder="(DD/MM/YYYY)" /><!--
			--><output for="add-therapy-promotion-end-date-input"></output>
			<input type="hidden" name="promotionEndTime" />
		</fieldset>
		<fieldset>
			<label for="add-therapy-promotion-terms-textarea">Promotion Terms</label><!--
			--><textarea id="add-therapy-promotion-terms-textarea" name="promotionTerms" maxlength="512" placeholder="(Max. 512 characters)"></textarea><!--
			--><output for="add-therapy-promotion-terms-textarea"></output>
		</fieldset>
		<fieldset>
			<label for="add-therapy-sub-category-id">Sub Category</label><!--
			--><select id="add-therapy-sub-category-id" name="subCategoryID"></select><!--
			--><output for="add-therapy-sub-category-id"></output>
		</fieldset>
		<fieldset>
			<label for="add-therapy-display-priority-input">Display Priority</label><!--
			--><input type="text" id="add-therapy-display-priority-input" name="displayPriority" placeholder="(Higher priority will be shown first; set to 0 to hide)" /><!--
			--><output for="add-therapy-display-priority-input"></output>
		</fieldset>
		<fieldset>
			<div id="add-therapy-image-preview-area" class="image-preview-area">
				<img id="add-therapy-preview-img" src="" alt="" />
			</div><!--
			--><div class="upload-instructions">
				<p>Set thumbnail image of the therapy by uploading an image on your computer.</p>
				<p>Please use a square image of at least 200 x 200 pixels.<br>
				   Recommended: 400 x 400 pixels.
				</p>
				<input type="file" id="add-therapy-img-input" name="img" /><label for="add-therapy-img-input">Browse</label><!--
				--><output for="add-therapy-img-input"></output>
			</div>
		</fieldset>
		<button type="submit">Submit</button>
		<button type="reset">Reset</button>
		<output class="shown"></output>
	</form>
</section>

<footer class="module-footer" id="therapies-module-footer">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Therapies</a>

	<a class="back-to-top-link" href="#">Back to top</a>
</footer>
