#overlay {
	background-color: rgba(0, 0, 0, 0.2); /* black */
}
#overlay-panel {
	position: absolute;
	top: 30px;
	width: 280px;
	height: auto;
	padding: 30px 40px;
	border-radius: 5px;
	background: rgb(255, 255, 255); /* white */
}
@media (min-width: 1600px) { /* Large Desktops - 1440px */
	#overlay-panel {
		right: calc(50% - 720px);
	}
}
@media (max-width: 1599px) { /* Small Desktops - 920px */
	#overlay-panel {
		right: calc(50% - 460px);
	}
}
#overlay-close-button {
	display: none;
}

#overlay-panel > form {
	position: relative;
}

/****************
 *  Login Form  *
 ****************/

/************************
 * Forget Password Form *
 ************************/
#forget-password-email {
	margin-bottom: 19px;
}

/*********************
 * Verify Email Form *
 *********************/
#verify-otp {
	margin-bottom: 41px;
}

/************************
 * Change Password Form *
 ************************/
#new-password-retype {
	margin-bottom: 18px;
}