#edit-job-listing-responsibilities-textarea,
label[for="edit-job-listing-responsibilities-textarea"],
output[for="edit-job-listing-responsibilities-textarea"],
#add-job-listing-responsibilities-textarea,
label[for="add-job-listing-responsibilities-textarea"],
output[for="add-job-listing-responsibilities-textarea"] {
	height: 100px; /* 4 lines */
}

#edit-job-listing-traits-textarea,
label[for="edit-job-listing-traits-textarea"],
output[for="edit-job-listing-traits-textarea"],
#add-job-listing-traits-textarea,
label[for="add-job-listing-traits-textarea"],
output[for="add-job-listing-traits-textarea"] {
	height: 100px; /* 4 lines */
}