#overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    padding: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 99;
}
#overlay-panel {
    max-height: none;
    width: 520px;
    height: 700px;
    position: relative;
    left: 0;
    top: 0;
    margin: 0 auto 80px;
    border-radius: 5px;
    background-color: rgba(220, 19, 81, 1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: visible;
}
#overlay-panel:after {
    width: 520px;
    height: 700px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1);
    z-index: -1;
}
#pop-up-newsletter-form {
    margin: 0 auto;
    width: 300px;
    /*color: rgb(255, 255, 255); /* white */
    line-height: 21px;
    text-align: center;
    z-index: 99;
}

#pop-up-newsletter-form > #logo {
    margin-bottom: 20px;
}
#pop-up-newsletter-form > h3 {
    margin-bottom: 19px;
    line-height: 24px;
}
span#notice {
  display: block;
  margin: 0 0 37px;
}
.form-group {
    position: relative;
}
.error {
    position: absolute;
    left: 10px;
    color: rgb(220, 19, 81);
}
.error.date {
    top: 3px;
}
.error.phone {
    top: 44px;
}
.error.email {
    top: 84px;
}
#pop-up-newsletter-form .label-info {
    text-align: left;
}
#subscription-terms {
    width: 90%;
    display: inline-block;
    vertical-align: top;
}
#subscription-terms p.label-info {
    margin: 0 0 6px;
    line-height: 25px;
}
#subscription-terms p.label-info:last-child {
    margin: 0 0 15px;
}
#custom-checkbox {
    width: 8%;
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
    color: rgb(68, 68, 68);
    vertical-align: top;
}
#custom-checkbox  input[type="checkbox"] {
    width: 18px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
#custom-checkbox  input[type="checkbox"] + label {
    margin: 0;
    padding: 5px 0 4px 24px;
    background: rgba(0, 0, 0, 0) url("../../img/ui/off-checkbox.svg") no-repeat scroll left center;
    clear: none;
    cursor: pointer;
}
#custom-checkbox  input[type="checkbox"]:checked + label {
  background-image: url("../../img/ui/on-checkbox.svg");
}
.label-info > a{
    color: #fff;
    text-decoration: underline;
}
#pop-up-newsletter-form > button {
    background-color: rgb(196, 191, 184); /*  light sand */
    width: 100%;
}
#pop-up-newsletter-form > button:hover,
#pop-up-newsletter-form > button:focus,
#pop-up-newsletter-form > button:active {
    background-color: rgb(137, 127, 113); /*  light sand */
}

#overlay-close-button {
  right: calc(50% - 260px);
  top: 30px;
}

@media (min-width: 1366px) { /*Desktop*/
    #overlay-panel{
        padding: 40px 0;
    }
}

@media (max-width: 699px) { /* Mobile*/
    #overlay {
        width: 100%;
        height: 100%;
        position: absolute;
    	left: 0;
    	top: 0;
        padding: 0;
    }
    #overlay-panel {
        border-radius: 0;
    }
    #pop-up-newsletter-form {
        width: 100%;
    }
    #overlay-close-button {
        right: 10px;
        top: 10px;
    }
    #overlay:after {
        opacity: 0;
    }
}