<tr><td class=name>{{name}}</td><td class=category>{{category}}</td><td class=displayPriority>{{displayPriority}}</td><td class=actions><button class=edit-button data-id="{{{id}}}"></button></td></tr>