<form id="login-form" class="overlay-form hide">
	<label for="login-email">Email</label>
	<input type="email" id="login-email" name="email" placeholder="Your email">
	
	<label for="login-password">Password</label>
	<input type="password" id="login-password" name="password" placeholder="Your password" title="Minimum 8 characters" pattern=".{8,}">
	
	<input type="checkbox" name="persistent" id="login-persistent" checked="checked"><!--
	--><label for="login-persistent">Remember me on this computer</label>
	
	<a href="#forget-password-form">Forgot your password?</a>
	
	<button type="submit" disabled="disabled">Log In</button>
	<output></output>
</form>

<form id="forget-password-form" class="overlay-form hide">
	<label for="forget-password-email">Email</label>
	<input type="email" name="email" id="forget-password-email" placeholder="Your email">
	
	<p>Not to worry. Just enter your
	   email address and click Send
	   to reset your password.
	</p>
	<a href="#login-form">Return to login screen.</a>
	
	<button type="submit" disabled="disabled">Send</button>
	<output></output>
</form>

<form id="verify-email-form" class="overlay-form hide">
	<label for="verify-email">Email</label>
	<input type="email" name="email" id="verify-email" placeholder="Your email">
	
	<label for="verify-otp">OTP</label>
	<input type="text" name="code" id="verify-otp" placeholder="One Time Passcode" title="6-digit code" pattern="[0-9]{6}">

	<a href="#login-form">Return to login screen.</a>
	
	<button type="submit" disabled="disabled">Submit</button>
	<output></output>
</form>

<form id="change-password-form" class="overlay-form hide">
	<input type="hidden" name="old-password" />

	<label for="new-password">New Password</label>
	<input type="password" id="new-password" name="new-password" placeholder="New Password" title="Minimum 8 characters" pattern=".{8,}">

	<label for="new-password-retype">Retype Password</label>
	<input type="password" id="new-password-retype" name="retype-password" placeholder="Retype Password" title="Minimum 8 characters" pattern=".{8,}">

	<p>Email verified. Please change your password now.</p>
	
	<button type="submit" disabled="disabled">Send</button>
	<output></output>
</form>