<p id="intro">Under the artful hands of a dedicated team of professionals, rest assured that your comfort, wellbeing and beauty is in the excellent hands at TaraBliss.</p>

<section id="selector">	
	<h2>Select A Page</h2>
	<a class="button-link" href="/accolades#main">Accolades</a>
	<a class="button-link" href="/refer#main">Refer-A-Friend</a>
	<a class="button-link" href="/trial#main">Complimentary Trial</a>
	<a class="button-link" href="/etiquette#main">Spa Etiquette</a>
	<!--<a class="button-link" href="/careers#main">Career Opportunities</a>-->
	<!--<a class="button-link" href="/community#main">Community Commitment</a>-->
	<a class="button-link" href="/disclaimer#main">Spa Disclaimer</a>
	<a class="button-link" href="/terms#main">Terms &amp; Conditions</a>
	<a class="button-link" href="/privacy#main">Privacy Policy</a>
</section><!--
--><section id="selected-content">
	
</section>
