<!--<p id="intro">Verear deleniti nec ne, at nullam apeirian salutandi pri, no cum illum malorum iuvaret. Illud dicunt mel ne, integre nostrum sea ei, no legere assentior cotidieque pri. Paulo aeterno epicuri mea id, ei sit enim impedit blandit. At eum repudiare eloquentiam.</p>-->

<section id="selector">	
	<h2>Select A Page</h2>
<!--	<a class="button-link" href="/accolades#main">Accolades</a>
	<a class="button-link" href="/refer#main">Refer-A-Friend</a>
	<a class="button-link" href="/trial#main">Complimentary Trial</a>-->
	<a class="button-link" href="/etiquette#main">Spa Etiquette</a>
	<!--<a class="button-link" href="/careers#main">Career Opportunities</a>-->
	<!--<a class="button-link" href="/community#main">Community Commitment</a>-->
	<a class="button-link" href="/disclaimer#main">Spa Disclaimer</a>
	<a class="button-link" href="/terms#main">Terms &amp; Conditions</a>
	<a class="button-link" href="/privacy#main">Privacy Policy</a>
</section><!--
--><section id="selected-content">
	<h2>Spa Disclaimer</h2>
	<h3>Special Consideration</h3>
	<p>Guests who have high blood pressure, heart conditions, are pregnant or have any other medical complications are advised to consult their doctors before signing up for any spa services. Kindly inform your spa therapist of any existing medical conditions.</p>

	<h3>Smoking And Alcohol</h3>
	<p>Smoking and the consumption of alcohol within the Spa are prohibited. It is also advisable to avoid the consumption of food.</p>

	<h3>Valuables</h3>
	<p>We recommend that no jewelry be worn at the Spa. The management and staff accept no responsibility for the loss of money or valuables of any kind brought into the Spa premises.</p>

	<h3>Disclaimer</h3>
	<p>The spa treatments, services, products, blog posts and/or facilities received or utilised at TaraBliss are intended for general purposes only and are not to be a substitute for professional medical treatment for any condition, medical or otherwise, that Guests may have. Information here is kept up to date and correct, and we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website, information, products, services or related graphics contained here.</p>
	<p>Guests will fully indemnify and hold harmless to Pacodis Group and TaraBliss headquarters, affiliates, subsidiaries, representatives and staff from and against all liabilities, claims, expenses, damages and losses, including legal fees (on an indemnity basis), arising out of or in connection with the spa treatments, services, products and/or facilities.</p>
	<p>Pacodis Group and TaraBliss is not responsible for, and will not be liable for the website &amp; blog posts being temporarily unavailable due to technical issues beyond our control.</p>
</section>
