<!--<p id="intro">Make every day a TaraBliss Day for everyone!.</p>-->

<section id="selector">	
	<h2>Select A Page</h2>
<!--	<a class="button-link" href="/accolades#main">Accolades</a>
	<a class="button-link" href="/refer#main">Refer-A-Friend</a>
	<a class="button-link" href="/trial#main">Complimentary Trial</a>-->
	<a class="button-link" href="/etiquette#main">Spa Etiquette</a>
	<!--<a class="button-link" href="/careers#main">Career Opportunities</a>-->
	<!--<a class="button-link" href="/community#main">Community Commitment</a>-->
	<a class="button-link" href="/disclaimer#main">Spa Disclaimer</a>
	<a class="button-link" href="/terms#main">Terms &amp; Conditions</a>
	<a class="button-link" href="/privacy#main">Privacy Policy</a>
</section><!--
--><section id="selected-content">
	<h2>Spa Etiquette</h2>
	<p>At TaraBliss, we believe a trip to visiting us should always be a relaxing and rejuvenating experience. In order to help us serve you better, please take a moment to read the following:</p>
	<h3>Appointments</h3>
	<p>All of TaraBliss’ services are based on appointments only, hence, it is recommend that customers book the appointments in advance.</p>
	<p>It is TaraBliss’ policy to give customers a Call/SMS/WHATSAPP a day in advance to remind them of their appointment, it is advised for customers to reschedule (if necessary) at that time.</p>
	<ul>
		<li>For cancellations, kindly inform TaraBliss at least 12-hours before the stipulated appointment time. Any cancelation after 12-hours will be considered as a Last Minute Cancellation.</li>
		<li>Should customers arrive 30 minutes after the appointment time, the treatment shall resume and end at the same time as scheduled.</li>
		<li>Should customers arrive 30 minutes or more later, the appointment will be automatically cancelled and regarded as No-Show.</li>
	</ul>

	<h3>Cancellations</h3>
	<p>TaraBliss understands that there may be changes to customers’ schedule. We would like to implore customers to kindly provide a (minimum) 12-hours’ notice an appointment has to be changed or cancelled.</p>
	<p>Should customers require to cancel the appointment, kindly inform TaraBliss at (65) 6336 9274 or drop a text to (65) 81985086 at least 24 hours in advance. For any last-minute cancellation or no-show, the cost of the full session will be charged.</p>

	<h3>Arrivals</h3>
	<p>Customers are kindly advised to arrive 10-minutes ahead of the stipulated appointment time to allow TaraBliss to indulge you with our calming tea. As a courtesy to others, please note that if you arrive late, your treatment will still end as scheduled.</p>

	<h3>Minimum Age</h3>
	<p>Guests aged 15-17 years old must present written parental / guardian permission prior to a spa session. Guests aged 14 years old and under are required to be accompanied by a parent or guardian at all times. Anyone under the age of 18 must be scheduled with a same gender therapist.</p>

	<h3>Medical Concerns and Comfort Level</h3>
	<p>Guests who are pregmant, have had recent surgery or any other medical concerns are advised to consult their physician before booking any spa services.</p>

	<h3>Cellphones, Electronics and Cameras</h3>
	<p>TaraBliss strives to provide guests with a tranquil and private escapade from the outside world. Thus TaraBliss would like to implore guests to turn off/ silent/ flightmode all cellphones, electronics and cameras upon entering the spa.</p>

	<h3>Smoking And Alcohol</h3>
	<p>Smoking and the consumption of alcohol within the spa is prohibited. It is also advisable to avoid the consumption of food.</p>

	<h3>Valuables</h3>
	<p>TaraBliss highly recommends customers against wearing jewelry at the spa. The management and staff will accept not be responsible for the loss of any cash or valuables of any kind brought into the TaraBliss’ premises.</p>

	<h3>Pricing/Payment</h3>
	<p>Prices are subject to changes without prior notice and are subject to prevailing GST, unless otherwise stated.</p>
</section>
