<!--<section id="advertisements">
    <h1>my adversitement</h1>
    <span id="adtext"></span>
</section>
<section id="articles">
    
</section>-->
<!--<p id="intro">Beyond its skin-transformative face treatments and luxurious body pampering, TaraBliss is also a space dedicated to inner wellbeing.</p>

<section id="articles">
	<h2>Featured Articles</h2>
	<article class="feature">
		<img src="/img/articles/1/thumbnails/main.jpg" alt="Sunscreen" />
		<h3 class="title">Why You Should Take Your Sunscreen Seriously</h3>
		<div class="details">
			<p class="excerpt">Many of us know from all the hardcore marketing from sunscreen companies
			that sunblock is an absolute necessity but...</p>
		</div>
		<a class="button-link" href="https://blog.tarabliss.com.sg/2016/02/04/why-your-should-take-your-sunscreen-seriously/" target="_blank">More Info</a>
	</article>
	<article class="feature">
		<img src="/img/articles/2/thumbnails/main.jpg" alt="Pigmentation" />
		<h3 class="title">Plagued by Pigmentation?</h3>
		<div class="details">
		First things first, what is pigmentation? Pigmentation is ageing dark spots usually caused by sun exposure specifically the...
		</div>
		<a class="button-link" href="https://blog.tarabliss.com.sg/2016/03/21/plagued-by-pigmentation/" target="_blank">More Info</a>
	</article>
	<article class="feature">
		<img src="/img/articles/3/thumbnails/main.jpg" alt="Spray" />
		<h3 class="title">Spray-On Beauty Products, Yay or Nay?</h3>
		<div class="details">
		Recently, spray on beauty products are making waves. From spray on nail polish to spray on blush, there is something for...
		</div>
		<a class="button-link" href="https://blog.tarabliss.com.sg/2016/03/24/spray-makeup-yay-nay/" target="_blank">More Info</a>
	</article>
</section>
<section id="promotions">
	<h2>Ongoing Promotions</h2>
	
</section>-->
<h2>Happening Events</h2>
<div id="event-banner-wrapper">
    <div id="happening-event-filter">
        <button class="category-button" data-category-id="1">TARABLISS Happenings</button>
        <div data-category-id="1" class="sub-category-menu event-list">
            <button data-sub-category-id="1" class="sub-category-button current">Recent Event One</button>
            <button data-sub-category-id="2" class="sub-category-button">Recent Event One</button>
            <button data-sub-category-id="3" class="sub-category-button">TaraBliss Spa Launch</button>
        </div>
    </div>
    <div id="carousel-activity" class="owl-carousel">
        <div class="activity">
            <img src="img/banner/banner-img-1.jpg" alt=""/>
            <article>
                <h2>TaraBliss’ Ambassadors Get Together</h2>
                <span>20 September 2016</span>
                <p>
                    A wonderful afternoon of get-to-know-you session among TaraBliss’ ambassadors, comprising of our therapists and front of house.A rousing welcome by founder, Mimi Gay was  followed by a hands on make-up session by Henry.The afternoon ended with a delightful tea and mingling session among the lovely ladies.Up to 4 lines here, CMS controlled. With ability to recognise line breaks.
                </p>
            </article>
        </div>
        <div class="activity">
            <img src="img/banner/banner-img-2.jpg" alt=""/>
            <article>
                <h2>TaraBliss’ Ambassadors Get Together</h2>
                <span>20 September 2016</span>
                <p>
                    A wonderful afternoon of get-to-know-you session among TaraBliss’ ambassadors, comprising of our therapists and front of house.<br>
                    A rousing welcome by founder, Mimi Gay was  followed by a hands on make-up session by Henry.<br>
                    The afternoon ended with a delightful tea and mingling session among the lovely ladies.<br>
                </p>
            </article>
        </div>
        <div class="activity">
            <img src="img/banner/banner-img-3.jpg" alt=""/>
            <article>
                <h2>TaraBliss’ Ambassadors Get Together</h2>
                <span>20 September 2016</span>
                <p>
                    A wonderful afternoon of get-to-know-you session among TaraBliss’ ambassadors, comprising of our therapists and front of house.<br>
                    A rousing welcome by founder, Mimi Gay was  followed by a hands on make-up session by Henry.<br>
                    The afternoon ended with a delightful tea and mingling session among the lovely ladies.<br>
                    Up to 4 lines here, CMS controlled. With ability to recognise line breaks.
                </p>
            </article>
        </div>
        <div class="activity">
            <img src="img/banner/banner-img-4.jpg" alt=""/>
            <article>
                <h2>TaraBliss’ Ambassadors Get Together</h2>
                <span>20 September 2016</span>
                <p>
                    A wonderful afternoon of get-to-know-you session among TaraBliss’ ambassadors, comprising of our therapists and front of house.<br>
                    A rousing welcome by founder, Mimi Gay was  followed by a hands on make-up session by Henry.<br>
                    The afternoon ended with a delightful tea and mingling session among the lovely ladies.<br>
                    Up to 4 lines here, CMS controlled. With ability to recognise line breaks.
                </p>
            </article>
        </div>
        <div class="activity">
            <img src="img/banner/banner-img-5.jpg" alt=""/>
            <article>
                <h2>TaraBliss’ Ambassadors Get Together</h2>
                <span>20 September 2016</span>
                <p>
                    A wonderful afternoon of get-to-know-you session among TaraBliss’ ambassadors, comprising of our therapists and front of house.<br>
                    A rousing welcome by founder, Mimi Gay was  followed by a hands on make-up session by Henry.<br>
                    The afternoon ended with a delightful tea and mingling session among the lovely ladies.<br>
                    Up to 4 lines here, CMS controlled. With ability to recognise line breaks.
                </p>
            </article>
        </div>
    </div>
</div>
