<!--<p id="intro">An oasis of tranquility in the city centre, the new TaraBliss spa is designed to soothe all the stresses of urban living. Step into this meditative space of calm and discover the dramatic skin transformation that our highly advanced treatments can wield.</p>-->


<h2>Welcome To TARABLISS</h2>
<section id="therapy-categories">
	<article class="category">
		<img src="/img/categories/1/main.jpg" alt="Hi-Tech Aesthetics" />
		<h3>Hi-Tech Aesthetics</h3>
		<a class="button-link" href="/therapies" data-category-id="1">More</a>
	</article><!--
	--><article class="category">
		<img src="/img/categories/2/main.jpg" alt="Body Pampering" />
		<h3>Body Pampering</h3>
		<a class="button-link" href="/therapies" data-category-id="2">More</a>
	</article><!--
	--><article class="category">
		<img src="/img/categories/3/main.jpg" alt="Skin Deep" />
		<h3>Skin Deep</h3>
		<a class="button-link" href="/therapies" data-category-id="3">More</a>
	</article><!--
	--><article class="category">
		<img src="/img/categories/4/main.jpg" alt="No More Fuzz" />
		<h3>No More Fuzz</h3>
		<a class="button-link" href="/therapies" data-category-id="4">More</a>
	</article><!--
	--><article class="category">
		<img src="/img/categories/5/main.jpg" alt="Lux Indulgence" />
		<h3>Lux Indulgence</h3>
		<a class="button-link" href="/therapies" data-category-id="5">More</a>
	</article><!--
	--><article class="category">
		<img src="/img/categories/6/main.jpg" alt="Gentlemen" />
		<h3>Gentlemen</h3>
		<a class="button-link" href="/therapies" data-category-id="6">More</a>
	</article>
</section>
<section id="features">
    <article class="feature">
        <img src="/img/uploads/img-featured-complimentary.jpg" alt="Wheat 1" />
        <h3>COMPLIMENTARY <span>TRIALS</span></h3>
        <p>There’s always something extra.</p>
        <a class="button-link" href="complimentary">View Treatments</a>
    </article><!--
    --><article class="feature">
        <img src="/img/uploads/img-featured-off-peak-special.jpg" alt="Wheat 2" />
        <h3>OFF-PEAK <span>SPECIAL</span></h3>
        <p>Avoid the crowds. Reward yourself.</p>
        <a class="button-link" href="promotions">View Treatments</a>
    </article><!--
    --><article class="feature">
        <img src="/img/uploads/img-featured-facial-treatment.jpg" alt="Wheat 1" />
        <h3>FACIAL TREATMENT <span>OF THE MONTH</span></h3>
        <p>Discover our new facial treatment.</p>
        <a class="button-link" href="promotions">View Treatments</a>
    </article><!--
    --><article class="feature">
        <img src="/img/uploads/img-featured-body-treatment.jpg" alt="Wheat 2" />
        <h3>BODY TREATMENT <span>OF THE MONTH</span></h3>
        <p>Discover our new body treatment.</p>
        <a class="button-link" href="promotions">View Treatments</a>
    </article>
</section>