<section id="press">
    <h2>From The Press</h2>
    <div class="pagination">
        <a class="paginate-prev" href=""></a>
        <a class="active" href="">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a class="paginate-next" href=""></a>
    </div>
    <article class="feature">
        <img alt="Take Your Sunscreen Seriously" src="/img/press/img-press-nuyouSingapore.jpg">
        <h3 class="title">Mar 16, @NuyouSingapore</h3>
        <div class="details">
            <p class="excerpt">Review: Lorem upsum.</p>
        </div>
        <a class="button-link" target="_blank" href="">More Info</a>
    </article><!--
    --><article class="feature">
        <img alt="Take Your Sunscreen Seriously" src="/img/press/img-press-mariemjsoh.jpg">
        <h3 class="title">Apr 16, @Mariemjsoh</h3>
        <div class="details">
            <p class="excerpt">Review: The first thing I really appreciated was the calm and serene space I stepped into.</p>
        </div>
        <a class="button-link" target="_blank" href="">More Info</a>
    </article><!--
    --><article class="feature">
        <img alt="Take Your Sunscreen Seriously" src="/img/press/img-press-femaleonline.jpg">
        <h3 class="title">May 16, Female Online</h3>
        <div class="details">
            <p class="excerpt">Review: This 3-step oxygen facial gives you clear, smooth skin instantly</p>
        </div>
        <a class="button-link" target="_blank" href="">More Info</a>
    </article><!--
    --><article class="feature">
        <img alt="Take Your Sunscreen Seriously" src="/img/press/img-press-silverkrisonline-.jpg">
        <h3 class="title">May 16, Silver Kris Online</h3>
        <div class="details">
            <p class="excerpt">Review: Offering both cutting-edge technology-driven and traditional massages,  each treatment is a bespoke experience tailored to your concerns.</p>
        </div>
        <a class="button-link" target="_blank" href="">More Info</a>
    </article>
</section>
<section id="accolades">
    <h2>Accolades</h2>
    <article class="feature">
        <img alt="Take Your Sunscreen Seriously" src="/img/accolades/1/main.jpg">
        <h3 class="title">Elle Beauty Treat List 2016</h3>
        <div class="details">
            <p class="excerpt">The winner of Best body Pampering goes to our Grand Luxe Body Treatment. Leave stress at door with this indulgent body treat!</p>
        </div>
        <a class="button-link" target="_blank" href="">More Info</a>
    </article><!--
    --><article class="feature">
        <img alt="Take Your Sunscreen Seriously" src="/img/accolades/2/main.jpg">
        <h3 class="title">Spa Awards 2015</h3>
        <div class="details">
            <p class="excerpt">The winner of Best Face-Shaping Treatment goes to our Magic-V Contour and Intensive Hydration Therapy, which also does wonders to smooth lines and winkles</p>
        </div>
        <a class="button-link" target="_blank" href="">More Info</a>
    </article><!--
    --><article class="feature">
        <img alt="Take Your Sunscreen Seriously" src="/img/accolades/3/main.jpg">
        <h3 class="title">Style Best Beauty 2015</h3>
        <div class="details">
            <p class="excerpt">The winner of Best Beauty Treats goes to our Slim and Contour Tummy Trimming Treatment. Hoping to tone up your mid-second? Consider your wish granted!</p>
        </div>
        <a class="button-link" target="_blank" href="">More Info</a>
    </article>
</section>