<!--<p id="intro">Step into a sensorial space here at TaraBliss where we reinvigorate your whole body, through the five senses of sight, smell, taste, hearing, and touch.</p>-->
<section id="philosophy">
    <h2>Our Philosophy</h2>
    <p>Caring for your skin is an integral part of a women’s everyday routine. Encapsulating youth and freezing it in time is paramount as youth waits for no one. TaraBliss was created to encourage and share an important message with every single woman – taking good care of your skin is essential to letting your natural beauty shine through. A woman that looks good, feels good - and our aim here at TaraBliss is to give all women the confidence boost they need to conquer life’s challenges. With modern lives becoming more hectic, it’s even more important to carve out some time in your busy day and schedules to slow down, achieve calm and refocus your thoughts. Reclaiming inner wellbeing is key to reclaiming outer beauty, and I hope that everyone who enters into the warm embrace of TaraBliss walks out a more blissful – and beautiful - person.</p>

	<article class="panel">
		<p>Our promise to every single person that enters TaraBliss is to give their skin a new lease of life. Everyone is different, and our professional estheticians assess each individual’s skin concerns and needs as we believe in customizing facial treatments to target specific skincare needs.</p>
	</article><!--
	--><article class="panel">
		<p>At TaraBliss, luxury has to be coupled with results that you can feel and see. Cutting-edge aesthetic machines are coupled with high-quality skincare to ensure that your skin is getting the pampering it deserves. Under the artful hands of our dedicated team of professionals, we aim to bring you into a state of calm whilst giving your skin the care it needs.</p>
	</article><!--
	--><article class="panel">
		<p>Each face and body treatment at TaraBliss is specially designed to melt away tensions while wielding visible and lasting results. We make it our mission to constantly deliver the latest and most effective facial and body treatments, while ensuring that you – and your skin - are always in good hands.</p>
	</article><!--
	--><article class="panel">
		<p>Step into this rare oasis of calm, tranquility and deep pampering for truly holistic rejuvenation, and discover the dramatic skin transformation that our highly advanced treatments can wield. Because great-looking, healthy skin is a right, not a luxury.</p>
	</article>

<!--	<footer id="sign-off">
		<img id="signature" src="/img/ui/mimi-gay-signature-DC1351.svg" alt="Mimi Gay Signature" />
		<div id="signator">Mimi Gay, Founder of TaraBliss</div>
	</footer>-->
</section>