<!--<p id="intro">Help us to spread the word on TaraBliss and aid us in our mission to provide holistic rejuvenation and deep pampering to stressed-out urbanites everywhere.</p>

<section id="selector">	
	<h2>Select A Page</h2>
	<a class="button-link" href="/accolades#main">Accolades</a>
	<a class="button-link" href="/refer#main">Refer-A-Friend</a>
	<a class="button-link" href="/trial#main">Complimentary Trial</a>
	<a class="button-link" href="/etiquette#main">Spa Etiquette</a>
	<a class="button-link" href="/careers#main">Career Opportunities</a>
	<a class="button-link" href="/community#main">Community Commitment</a>
	<a class="button-link" href="/disclaimer#main">Spa Disclaimer</a>
	<a class="button-link" href="/terms#main">Terms &amp; Conditions</a>
	<a class="button-link" href="/privacy#main">Privacy Policy</a>
</section>
<section id="selected-content">
	<h2>Refer-A-Friend</h2>
	<h3>Refer your friends &amp; family to TaraBliss to earn rewards – Accumulate vouchers to receive free skin treatments*</h3>
	<p>Once your friends sign up with TaraBliss and completes their first treatment, you will receive a $28 voucher which you can spend on any product, package or service! Refer more friends and accumulate vouchers to get free treatments!</p>
	<ul>
		<li><strong>Refer 3 friends</strong>: Complimentary Deep Hydration Treatment Facial worth $288</li>
		<li><strong>Refer 6 friends</strong>: Complimentary Lightening+ Treatment worth $388</li>
		<li><strong>Refer 10 friends</strong>: Complimentary Firming &amp; Lifting+ Treatment worth $388, Glow Treatment Facial worth $288 and Hair Removal (2 sessions) for Under Arm worth $300</li>

	</ul>

	<h4>*Terms &amp; Conditions</h4>
	<ul>
		<li>If your referral accepts the SMS/Call/Email introduction from us and completes their first treatment, you will be rewarded with $28 voucher.</li>
		<li>You cannot refer yourself.</li>
		<li>You cannot refer the same person more than once.</li>
		<li>Vouchers cannot be exchanged for cash and not replaceable if lost.</li>
		<li>Your friend can also enter the “Refer A Friend” promotion by referring their friends.</li>
		<li>Only valid for new customers, referrals cannot be existing prospects or clients.</li>
		<li>Refer as many clients / friends / family as you want and receive $28 vouchers for every referral who becomes a client – there are no limits.</li>
		<li>Other terms and conditions apply.</li>
	</ul>
</section>-->
<section id="refer">
    <article class="refer-wrap">
        <img src="../../img/refer/img-referafriend-twototango.jpg" alt=""/>
        <div class="detail-refer">
            <h3>REFER A FRIEND - TWO TO TANGO</h3>
            <p>Get 50% off for your treatment when you and your friend sign up for one session of  <a href="">Deep Hydration</a> or <a href="">Oxygen</a> therapy. </p>
            <a class="book-refer" href="">Book Now</a>
        </div>
    </article><!--
    --><article class="refer-wrap">
        <img src="../../img/refer/img-referafriend-triplehighlights.jpg" alt=""/>
        <div class="detail-refer">
            <h3>REFER A FRIEND - TRIPLE HIGHLIGHTS</h3>
            <p>It pays to come in threes. Bring two friends along for a session of <a href="">Deep Hydration</a> or <a href="">Oxygen</a> therapy, and you only pay for two treatments. </p>
            <a class="book-refer" href="">Book Now</a>
        </div>
    </article>
</section>