<p id="intro"></p>

<section id="selector">	
	<h2>Select A Page</h2>
<!--	<a class="button-link" href="/accolades#main">Accolades</a>
	<a class="button-link" href="/refer#main">Refer-A-Friend</a>
	<a class="button-link" href="/trial#main">Complimentary Trial</a>-->
	<a class="button-link" href="/etiquette#main">Spa Etiquette</a>
	<!--<a class="button-link" href="/careers#main">Career Opportunities</a>-->
	<!--<a class="button-link" href="/community#main">Community Commitment</a>-->
	<a class="button-link" href="/disclaimer#main">Spa Disclaimer</a>
	<a class="button-link" href="/terms#main">Terms &amp; Conditions</a>
	<a class="button-link" href="/privacy#main">Privacy Policy</a>
</section><!--
--><section id="selected-content">
	<h2>Terms &amp; Conditions</h2>
	<p>The customer is deemed to have read, understood and accepted the following terms and Conditions. Tara Apothecary shall be referred to “TaraBliss” in the terms and conditions below.</p>

	<h3>1. Goods &amp; Service Policy</h3>
	<p>TaraBliss is fully committed to consistently deliver quality products and services, thereby meeting contractual requirements and customers’ satisfaction.</p>

	<h3>2. Terms &amp; Conditions of Sales</h3>
	<h4>2.1 Cancellation of Service Packages</h4>
	<p>Cancellation of service packages (inclusive of all spa and facial packages) from customers must be made in writing and received by TaraBliss.</p>

	<h4>2.2 Cancellation Administrative Costs (within 5 days of purchase)</h4>
	<p>In the event of a cancellation (within the first 5-days from the date of purchase) before the commencement of a treatment session in the package, a 25% fee based on the total service package fee shall be imposed to cover administrative costs.</p>

	<h4>2.3 Cancellation Administrative Costs (after 5 days of purchase)</h4>
	<p>For customers that cancel the package more than 5-days after the date of commencement, a 50% fee based on the unutilized portion of the full package shall be imposed to cover administrative costs (the refund amount will be derived by deducting the original a-la-carte menu price of the treatments consumed and not the ‘promotion purchase price’).</p>

	<h4>2.4 Exchange and Refund Policy for Products</h4>
	<ol>
		<li>All requests are to be done at the reception.</li>
		<li>Purchased products intended for return or exchange must be in the original packaging unopened and unused accompanied by the (i) Returns and Exchange form and (ii) Invoice.</li>
		<li>Requests for returns and exchanges must be made within 5 days after purchase. No refund and/or exchange after that.</li>
		<li>We accept exchanges for any unopened and unused products in exchange for products of a similar value or above within 5 days from purchase date.</li>
		<li>Customers to top up price difference should the exchange item is above the exchange product value. There will be no refund if the exchange item is lower than the purchase item.</li>
	</ol>

	<h4>2.5 Refund</h4>
	<ol>
		<li>The average time required to process a refund for both product and services is up to 2-months</li>
		<li>Refund for payment made by credit cards<br>
		    All refunds once approved by the company will be made to the credit card used during payment approximately within 2-months. Refund via AMEX credit cards will be charged a bank admin fee of 4% and shall be bourne by the customer.
		</li>
	</ol>

	<h4>2.6 Cooling – Off Service</h4>
	<p>As part of the service guarantee, TaraBliss accords a cooling-off period of 5 days (inclusive of Saturdays, Sundays &amp; Public Holidays) from the date of purchase to allow customers to seek a full refund if they do not wish to proceed with the service packages offered, or if they wish to return the unopened products.</p>

	<h4>2.7 Promotional Packages</h4>
	<p>The following terms and conditions shall apply to TaraBliss Promotional Packages:</p>
	<ol>
		<li>Services that can be deducted from Promotional Package based on the ala – carte menu prices:
			<ol>
				<li>Facial Treatment Service</li>
				<li>Body Treatment Service</li>
				<li>Slimming Treatment Service</li>
				<li>Hair Removal Service</li>
			</ol>
		</li>
		<li>The following items cannot be deducted from TaraBliss’ Promotional Packages:
			<ol>
				<li>All Product purchase</li>
				<li>All Promotion items</li>
				<li>Top up/Add On service</li>
			</ol>
		</li>
	</ol>

	<h4>2.8 Validity</h4>
	<p>All services are valid for 2-years from the date of purchase.</p>

	<h4>2.9 Invoice</h4>
	<p>Customers are to check their invoice before leaving the premises to ensure that the service and/or product purchased and the amount paid are accurately reflected.</p>

	<h4>2.10 Cancellation</h4>
	<p>Customers are required to inform the Company one-day in advance of any changes in their appointment schedule. For cancellation of weekend bookings short of a one-day notice, a 50% (of treatment value at our spa a la carte rate) penalty will be charged. If the customer has signed a package, a session will be deducted from the package.</p>

	<h3>3. Complaints &amp; Claims</h3>
	<p>Any complaints or claims will be submitted in writing within 3-working days from the date of service, for management investigation.</p>
	<p>Customers shall indemnify Pacodis Group and TaraBliss from all injuries or damages sustained in the course of the treatment, due to acts beyond the control of Pacodis Group and TaraBliss.</p>
	

	<h3>4. Confidentiality of Information</h3>
	<p>Please refer to <a href="/privacy">Privacy Policy</a></p>
</section>
