<p id="intro">Gift a loved one with a rejuvenating experience at TaraBliss - from top to toe, body and soul.</p>

<section id="selector">	
	<h2>Select A Page</h2>
	<a class="button-link" href="/accolades#main">Accolades</a>
	<a class="button-link" href="/refer#main">Refer-A-Friend</a>
	<a class="button-link" href="/trial#main">Complimentary Trial</a>
	<a class="button-link" href="/etiquette#main">Spa Etiquette</a>
	<!--<a class="button-link" href="/careers#main">Career Opportunities</a>-->
	<!--<a class="button-link" href="/community#main">Community Commitment</a>-->
	<a class="button-link" href="/disclaimer#main">Spa Disclaimer</a>
	<a class="button-link" href="/terms#main">Terms &amp; Conditions</a>
	<a class="button-link" href="/privacy#main">Privacy Policy</a>
</section><!--
--><section id="selected-content">
	<h2>Complimentary Trial</h2>
	<h3>We Create Blissful Experiences</h3>
	<p>Spoil yourself with a Complimentary Hydrating or Deep Pore Treatment!</p>
	<p>Our promise to every single person who enters TaraBliss is to give their skin a new lease of life. Everyone is different, and our professional aestheticians assess each individual’s skin concerns and needs as we believe in customizing facial treatments to target larger skincare needs. Get a Complimentary Hydrating or Deep Pore Treatment worth $180 (45 minutes). Create Blissful Experiences at TaraBliss now! Click on the Reservations tab to make an appointment.</p>
</section>
