<article class="feature">
	<img src="{{img-file}}" alt="{{img-alt}}" />
	<h3 class="title">{{title}}</h3>
	<div class="details">
		Duration: <span class="duration">{{duration}}</span><br>
		Price: <span class="price">{{promotion-price}} <strong><s>(U.P. {{price}})</s></strong></span><br>
		Valid Until: <span class="expiry-date">{{expiry-date}}</span>
		<p class="promotion-terms"><strong>Terms: </strong>{{promotion-terms}}<br><a href="/terms">Other terms and conditions apply</a>.</p>
	</div>
	<a class="button-link" href="/therapies" data-category-id="{{category-id}}" data-sub-category-id="{{sub-category-id}}">More Info</a>
</article>




