/********* Colors **************
   Name            RGB              HEX
  ------          -----            -----
 black           0, 0, 0           #000000
 dark gray       30, 30, 30        #1E1E1E
 gray            153, 153, 153     #999999
 light gray      204, 204, 204     #CCCCCC
 lighter gray    238, 238, 238     #EEEEEE
 off white       246, 246, 246     #F6F6F6
 white           255, 255, 255     #FFFFFF

 blue            24, 88, 159       #18589F
 light blue      181, 205, 224     #B5CDE0

 orange          231, 167, 96      #E7A760
 *******************************/
#dialog-overlay  {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.85); /* black */
	opacity: 0;
	
	visibility: hidden;
	opacity: 0;
	transition: visibility 1ms 0.1s, opacity 0.1s; /* fade out duration */
}
#dialog-overlay.shown {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s linear; /* fade in duration */
}

#dialog-box {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	background-color: rgb(248, 250, 252); /* off white */
	border-style: solid;
	border-color: rgb(236, 240, 244); /* lighter gray */
	text-align: center;
}

/* Close button */
#dialog-close-button { /* same as UI's close button */
	position: fixed;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	box-shadow: none;
	background-color: transparent;
	color: rgb(175, 178, 181); /* light gray */
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	transition: color 0.2s, box-shadow 0.2s;
}
#dialog-close-button::after {
	content:'×';
	font-size: 24px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#dialog-close-button:focus,
#dialog-close-button:hover,
#dialog-close-button:active {
	box-shadow: none;
	background-color: transparent;
	color: rgb(248, 250, 252); /* off white */
	text-shadow: 0 0 2px rgb(69, 70, 71); /* dark gray */
}

#dialog-box-message {
	text-align: center;
	/*border-bottom: 2px solid rgb(175, 178, 181); /* light gray */
}
#dialog-box-message .error-message {
	font-weight: bold;
	color: rgb(243, 150, 140); /* salmon */
}

@media (min-width: 1440px) { /* min-content: 1280px, margin: 80px */
	#dialog-box {
		width: 1200px;
		height: 640px;
		padding: 80px;
		border-width: 20px;
	}
	#dialog-box-message {
		margin-bottom: 40px;
	}
	#dialog-box > button {
		min-width: 200px;
		margin: 0 20px;
	}
}
@media (min-width: 1024px) and (max-width: 1439.9px) { /* min-content: 920px, margin: 52px */
	#dialog-box {
		width: 816px;
		height: 568px;
		padding: 52px;
		border-width: 16px;
	}
	#dialog-box-message {
		margin-bottom: 26px;
	}
	#dialog-box > button {
		min-width: 136px;
		margin: 0 13px;
	}
}
@media (min-width: 768px) and (max-width: 1023.9px) { /* min-content: 680px, margin: 44px */
	#dialog-box {
		width: 100%;
		height: 100%;
		padding: 50px 44px;
	}
	#dialog-box-message {
		margin-bottom: 15px;
	}
	#dialog-box > button {
		min-width: 128px;
		margin: 0 11px;
	}
}
@media (max-width: 767.9px) { /* min-content: 570px, margin: 30px */
	#dialog-box {
		width: 100%;
		height: 100%;
		padding: 50px 10px;
	}
	#dialog-box-message {
		margin-bottom: 10px;
	}
	#dialog-box > button {
		min-width: 80px;
		margin: 0 5px;
	}
}

/**********
 *  Halt  *
 **********/
#dialog-box.halt {
	width: 100%;
	height: 100%;
}
#dialog-box.halt + #dialog-close-button {
	display: none;
}
#dialog-box.halt > #dialog-box-message::before {
	content:"";
	position: relative;
	display: block;
	margin-bottom: 5vh;
	height: 10vh;
	background-image: url("/img/ui/warning-FFFFFF.svg");
	background-position: center bottom 10%;
	background-size: contain;
	background-repeat: no-repeat;
}

/*****************
 * Select Images *
 *****************/
#dialog-box.select-image {
	width: 100%;
	height: 100%;
	text-align: left;
}
.dialog-box-image {
	display: inline-block;
	vertical-align: top;
	
	opacity: 0.6;
	cursor: pointer;
}
.dialog-box-image:focus,
.dialog-box-image:hover {
	opacity: 0.8;
	outline: 2px dashed rgb(128, 187, 227); /* light blue */
	box-shadow: 0px 0px 5px rgb(37, 95, 148); /* dark blue */
}
.dialog-box-image.selected {
	opacity: 1;
	box-shadow: 0px 0px 15px rgb(37, 95, 148); /* dark blue */
}
.dialog-box-image > img {
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.dialog-box-image-title {
	overflow: hidden;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}
.dialog-box-image-dimensions {
	text-align: center;
}
.dialog-box-image-dimensions::before {
	content: "Size: ";
}
@media (min-width: 1440px) { /* min-content: 1280px, margin: 80px */
	.dialog-box-image {
		margin: 0 20px 20px 0;
		width: 240px;
	}
	.dialog-box-image-title {
		font-size: 20px;
		line-height: 30px;
	}
	.dialog-box-image-dimensions {
		margin-bottom: 20px;
		font-size: 13px;
		line-height: 19.5px;
	}
	#dialog-box.select-image > button {
		margin: 40px 20px 20px 0;
		width: 240px;
	}
}
@media (min-width: 1024px) and (max-width: 1439.9px) { /* min-content: 920px, margin: 52px */
	.dialog-box-image {
		margin: 0 13px 13px 0;
		width: 200px;
	}
	.dialog-box-image-title {
		font-size: 18px;
		line-height: 27px;
	}
	.dialog-box-image-dimensions {
		margin-bottom: 13px;
		font-size: 12px;
		line-height: 18px;
	}
	#dialog-box.select-image > button {
		margin: 26px 13px 13px 0;
		width: 200px;
	}
}
@media (min-width: 768px) and (max-width: 1023.9px) { /* min-content: 680px, margin: 44px */
	.dialog-box-image {
		margin: 0 11px 11px 0;
		width: 160px;
	}
	.dialog-box-image-title {
		font-size: 17px;
		line-height: 26px;
	}
	.dialog-box-image-dimensions {
		margin-bottom: 11px;
		font-size: 11px;
		line-height: 16.5px;
	}
	#dialog-box.select-image > button {
		margin: 22px 11px 11px 0;
		width: 160px;
	}
}
@media (max-width: 767.9px) { /* min-content: 570px, margin: 30px */
	.dialog-box-image {
		margin: 0 10px 10px 0;
		width: 135px;
	}
	.dialog-box-image-title {
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 24px;
	}
	.dialog-box-image-dimensions {
		display: none;
	}
	#dialog-box.select-image > button {
		margin: 20px 10px 10px 0;
		width: 135px;
	}
}
/**
 * YS Reset CSS v1.3. 
 * 
 * Based on Eric Meyer's Reset CSS v2.0 - http://cssreset.com
 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strong,sub,sup,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,summary,figcaption,figure,footer,header,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* Box-sizing */
html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}
input, textarea, select, button {box-sizing:inherit;font-family:inherit;font-size:100%;} /* Ensure form elements inherit box-sizing and fonts */
input::-moz-focus-inner,button::-moz-focus-inner {padding:0;border:0} /* Strip extra button padding from FF */
details > * {box-sizing: border-box;} /* Ensure details/summary inherit box-sizing correctly (Webkit/Blink bug) *//********* Colors **************
   Name            RGB              HEX
  ------          -----            -----
 black           0, 0, 0           #000000
 dark gray       30, 30, 30        #1E1E1E
 gray            153, 153, 153     #999999
 light gray      204, 204, 204     #CCCCCC
 lighter gray    238, 238, 238     #EEEEEE
 off white       246, 246, 246     #F6F6F6
 white           255, 255, 255     #FFFFFF

 blue            24, 88, 159       #18589F
 light blue      181, 205, 224     #B5CDE0

 orange          231, 167, 96      #E7A760
 red             239, 67, 60       #EF433C
 *******************************/

/******* Z-Indices ************
 0         : Normal
 1         : Fixed Navs
 99        : Overlays
 999       : Critical Dialogs
 ******************************/

/*******************
 * Site Dimensions *
 *******************/
@-ms-viewport{width:device-width}
 
html, body, #page, #overlay, noscript {
	width:100%;
	height:100%;
	min-width: 320px;
	min-height: 372px;
}
html, body {
	overflow: hidden;
	-ms-scroll-chaining:none;
	-ms-overflow-style:none;
	-ms-touch-action: none;
	touch-action: none;
}
#page {
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-ms-scroll-chaining: none;
	-ms-overflow-style:-ms-autohiding-scrollbar;
}
#overlay, noscript {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
#overlay {
	z-index: 99;
}
noscript {
	z-index: 999;
}

/*****************
 *  Site Header  *
 *****************/
#site-header {
	position: relative;
	width: 100%;
	height: 100px;
}
#header-logo-link {
	display: block;
	position: relative;
	width: 200px;
	height: 40px;
}
#header-logo-link > img {
	width: 100%;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
}
#header-logo-link {
	position: relative;
}
#header-user-controls {
	position: relative;
	line-height: 40px;
}
#header-user-controls > #account-link {
	margin-right: 30px;
}
#header-user-controls > #account-link::after {
	content: "⚙"; /* Unicode gear U+2699 */
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 24px;
	/*
	background-image: url('/img/ui/gear.svg');
	background-position: right center;
	background-repeat: no-repeat;
	color: red;
	*/
}

#header-start-button {
	display: none; /* only show on login page */
	width: 120px;
}

@media (min-width: 1600px) { /* Large Desktops - 1440px */
	#header-logo-link {
		position: absolute;
		top: 30px;
		left: calc(50% - 720px);
	}
	#header-user-controls {
		position: absolute;
		top: 30px;
		right: calc(50% - 720px);
	}
}
@media (max-width: 1599px) { /* Small Desktops - 920px */
	#header-logo-link {
		position: absolute;
		top: 30px;
		left: calc(50% - 460px);
	}
	#header-user-controls {
		position: absolute;
		top: 30px;
		right: calc(50% - 460px);
	}
}

/**********
 *  Main  *
 **********/
#main {
	visibility: visible; /* to be switched during page transition */
	position: relative;
	min-height: calc(100% - 229px);
	opacity: 1; /* to be switched during page transition */

	transition: opacity 0.15s;
}
#main::after { /* pseudo overlay with loading spinner */
	content: "";
	visibility: hidden; /* to be switched during page transition */
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#main.loading {
	visibility: hidden;
	opacity: 0;
	transition: visibility 1ms 0.1s, opacity 0.1s; /* fade in duration */
}
#main.loading::after {
	visibility: visible;
	opacity: 1;
}
#main > section,
#main > header,
#main > footer {
	position: relative;
	margin: 0 auto 40px;
}
@media (min-width: 1600px) { /* Large Desktops - 1440px */
	#main {
		padding: 40px calc(50% - 720px);
	}
	#main > section,
	#main > header,
	#main > footer {
		width: 1440px;
	}
}
@media (max-width: 1599px) { /* Small Desktops - 920px */
	#main {
		padding: 40px calc(50% - 460px);
	}
	#main > section,
	#main > header,
	#main > footer {
		width: 920px;
	}
}

/**********
 * Footer *
 **********/
#site-footer {
	position: relative;
	padding: 40px 0;
	width: 100%;
	height: 129px;
	font-weight: bold;
	text-align: center;
}
#footer-logo-link {
	display: block;
	margin: 0 auto 15px;
	width: 86px;
}
#footer-logo-link > img {
	width: 86px;
	height: 20px;
}

/***********
 * Overlay *
 ***********/
#overlay {
	visibility: hidden; /* to be switched during activation */
	z-index: 99;
	opacity: 0; /* to be transition-ed during activation */
	transition: visibility 1ms 200ms, opacity 200ms; /* fade out duration */
}
#overlay.loading {
	visibility: visible;
	opacity: 0.8;
	transition: opacity 200ms; /* fade in duration */
}
#overlay.shown {
	visibility: visible;
	background-image: none;
	opacity: 1;
	transition: opacity 200ms; /* fade in duration */
}

#overlay-panel {
	overflow: auto;
}
#overlay-close-button {
	position: fixed;
	top: 0;
	right: 0;
}
@media (min-width: 1600px) { /* Large Desktops - 1440px */
	#overlay-panel {
		position: absolute;
		top: 80px;
		right: 80px;
		padding: 40px 120px;
		width: calc(100% - 160px);
		height: calc(100% - 160px);
		border-radius: 5px;
	}
	#overlay-panel section {
		padding: 40px 0;
	}
}
@media (max-width: 1599px) { /* Small Desktops - 920px */
	#overlay-panel {
		position: absolute;
		top: 52px;
		right: 52px;
		padding: 26px 78px;
		width: calc(100% - 104px);
		height: calc(100% - 104px);
		border-radius: 4px;
	}
	#overlay-panel section {
		padding: 26px 0;
	}
}

/************
 * noscript *
 ************/
noscript {
	background-color: rgba(0, 0, 0, 0.8); /* black */
}
noscript > p {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 200px;
	padding: 120px 0 20px 0;
	color: rgb(255, 255, 255); /* white */
	line-height: 20px;
	text-align: center;
	background-color: rgb(0, 0, 0); /* black */
	background-image: url('/img/ui/warning-FFFFFF.svg');
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: center 50px;
}
/********* Colors **************
   Name            RGB              HEX
  ------          -----            -----
 black           0, 0, 0           #000000
 dark gray       30, 30, 30        #1E1E1E
 gray            153, 153, 153     #999999
 light gray      204, 204, 204     #CCCCCC
 lighter gray    238, 238, 238     #EEEEEE
 off white       246, 246, 246     #F6F6F6
 white           255, 255, 255     #FFFFFF

 blue            24, 88, 159       #18589F
 light blue      181, 205, 224     #B5CDE0

 orange          231, 167, 96      #E7A760
 red             239, 67, 60       #EF433C
 *******************************/

/*********
 * Fonts *
 *********/
/* Oxygen */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'),  url('/font/oxygen-regular.woff2') format('woff2'), url('/font/oxygen-regular.woff') format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'),  url('/font/oxygen-bold.woff2') format('woff2'), url('/font/oxygen-bold.woff') format('woff');
}

/**************
 *    Text    *
 **************/
body {
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: rgb(255, 255, 255); /* white */
}

/*** Headings ***/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oxygen', sans-serif;
	color: rgb(238, 238, 238); /* lighter gray */
}
h1 {
	font-size: 36px;
}
h2, h3, h4 {
	line-height: 1.5
	text-align: center;
	text-transform: uppercase;
}
p {
	line-height: 1.5
}

/*** Inline Styles ***/
strong {
	color: rgb(24, 88, 159); /* blue */
	white-space: nowrap;
}
em, cite, i {
	font-style: italic;
}
mark {
	
}
s {
	text-decoration: line-through;
}

small {
	font-size: 80%;
}

time, abbr {
	white-space: nowrap;
}

a {
	color: rgb(181, 205, 224); /* light blue */
	text-decoration: none;
	outline: none;
	transition: color 0.2s;
}	
a[href]:hover,
a[href]:focus {
	color: rgb(24, 88, 159); /* blue */
	text-decoration: none;
	cursor: pointer;
}
a[href]:active {
	color: rgb(24, 88, 159); /* blue */
	text-decoration: none;
	cursor: pointer;
}

q {
	quotes: "“" "”" "‘" "’";
	font-style: italic;
}
q::before {
	content: open-quote;
}
q::after {
	content: close-quote;
}
code, samp {
	background-color: rgb(30, 30, 30); /* dark gray */
	font-family: 'Consolas', monotype;
}
kbd {
	padding: 0 4px;
	border: 1px dotted rgb(255, 255, 255); /* white */
	background-color: rgb(238, 238, 238); /* lighter gray */
	font-family: 'Consolas', monotype;
	color: rgb(30, 30, 30); /* dark gray */
}

/*** Text Selection ***/
::selection {
	background: rgb(231, 167, 96); /* orange */
	color: rgb(30, 30, 30); /* dark gray */
}
::-moz-selection {
	background: rgb(231, 167, 96); /* orange */
	color: rgb(30, 30, 30); /* dark gray */
}

/*********
 * Lists *
 *********/
ul, ol {
	padding-left: 10px;
	line-height: 21px;
}
ul > li::before,
ol > li::before {
	float: left; /* Use float because the li may contain block elements */
	width: 10px;
	margin-left: -10px;
}

/*** Ordered List ***/
ol {
	counter-reset: ol1;
}
ol > li::before {
	counter-increment: ol1;
	content: counter(ol1, decimal)". ";
}
ol ol { /* Nested Ordered List */
	counter-reset: ol2;
}
ol ol > li::before {
	counter-increment: ol2;
	content: counter(ol2, lower-alpha)") ";
}
ol ol ol { /* Double-Nested Ordered List */
	counter-reset: ol3;
}
ol ol ol > li::before {
	counter-increment: ol3;
	content: counter(ol3, lower-roman)". ";
}

/*** Unordered List ***/
ul > li::before {
	content: "•";
}
ul ul > li::before {
	content: "-";
}
ul ul ul > li::before {
	content: "±";
}

/*** Definition List ***/
dl {
	line-height: 1.5;
}
dt {
	text-decoration: underline;
}
dt::after {
	content: ". ";
	display: inline-block;
	text-decoration: none;
}
dd {
	font-style: italic;
}

/*****************************
 * Figures & Enclosed Blocks *
 *****************************/
/*** Figure ***/
figcaption {
	font-size: 12px;
	font-style: italic;
	line-height: 18px;
}

/*** Block Quote ***/
blockquote {
	padding: 20px;
	background-color: rgb(238, 238, 238); /* lighter gray */
	font-style: italic;
	color: rgb(30, 30, 30); /* dark gray */
	border-left-style: solid;
	border-left-color: rgb(153, 153, 153); /* gray */
}
blockquote > footer {
	font-style: normal;
	text-align: right;
	line-height: 1.25;
}

/*** Block Codes ***/
pre {
	padding: 20px;
	box-shadow: 1px 1px 5px rgb(153, 153, 153); /* gray */
	background-color: rgb(30, 30, 30); /* dark gray */
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}
pre > code {
	background-color: transparent;
	color: rgb(238, 238, 238); /* lighter gray */
}

/*** Address ***/
address a {
	color: rgb(30, 30, 30); /* dark gray */
	white-space: nowrap;
}
address a::before {
	content:"";
	background-repeat: no-repeat;
	background-position: left center;
}

/**********
 * Tables *
 **********/
tr {
	border-bottom: 1px solid rgb(246, 246, 246); /* off white */
	background-color: rgb(255, 255, 255); /* white */
}
tr:hover {
	background-color: rgb(246, 246, 246); /* off white */
}
th, td {
	padding: 10px 20px;
	line-height: 20px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

th {
	color: rgb(24, 88, 159); /* blue */
}
th.sortable {
	cursor: pointer;
}
th.sortable::after {
	content:"▲"; /* Unicode up arrow U+25B2 */
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	width: 10px;
	font-size: 10px;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	color: rgb(181, 205, 224); /* light blue */
}
th.sortable.desc::after {
	content:"▼"; /* Unicode down arrow U+25BC */
}
th.sortable:hover::after,
th.sortable.sort-selected::after {
	color: rgb(24, 88, 159); /* blue */
}

td {
	color: rgb(181, 205, 224); /* light blue */
}
td.actions {
	opacity: 0.5;
}
tr:hover > td.actions {
	opacity: 1;
}

/*********************
 * Details / Summary *
 *********************/
details > summary > h1,
details > summary > h2,
details > summary > h3,
details > summary > h4,
details > summary > h5,
details > summary > h6 {
	color: inherit; /* follow summary's color so that focus color changes work correctly */
	line-height: inherit; /* follow summary's line-height so that the arrow appears at the correct location */
}
details > summary:focus {
	outline: none;
}
/* Normalize arrow across browsers */
summary::-webkit-details-marker {display: none;}
details > summary::before {
	content: "▶"; /* Unicode right arrow U+25B6 */
	float: left; /* Use float because summary may contain block elements */
	margin-right: 5px;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}
details[open] > summary::before {
	content:"▼"; /* Unicode down arrow U+25BC */
}

/***************************
 *         Progress        *
 ***************************/
progress {
    background-color: rgb(255, 255, 255); /* white */
}
progress::-webkit-progress-bar { /* Unfilled area */
 	background-color: rgb(255, 255, 255); /* white */   
}
progress::-webkit-progress-value {
    background-color: rgb(24, 88, 159); /* blue */
}
progress::-moz-progress-bar {
    background-color: rgb(24, 88, 159); /* blue */
}
progress::-ms-fill {
	background-color: rgb(24, 88, 159); /* blue */	
	border: none;
}
progress:indeterminate::-webkit-progress-bar {
	background-color: rgb(153, 153, 153); /* gray */
}
progress:indeterminate::-moz-progress-bar {
	background-color: rgb(153, 153, 153); /* gray */
}

/**************************
 *  Other Block Elements  *
 **************************/
hr {
	border: none;
	background-color: rgb(238, 238, 238); /* lighter gray */
}

/*****************
 * Context Menus * 
 *****************/


/****************
 * Nav elements *
 ****************/
.aux-nav > a {

}
.aux-nav > a.current,
.aux-nav > a.current:focus,
.aux-nav > a.current:hover,
.aux-nav > a.current:active {
	background-color: rgb(181, 205, 224); /* light blue */
	cursor: default;
}

/*** Breadcrumbs ***/
a.breadcrumb {
	line-height: 44px; /* same as height */
}
a.breadcrumb::after {
	content:"";
	display: inline-block;
	vertical-align: top;
	height: 44px;
	width: 40px;
	background-image: url('/img/ui/breadcrumb-separator-B5CDE0.svg');
	background-position: center;
	background-size: auto 44px;
	background-repeat: no-repeat;
}
a.breadcrumb:last-of-type::after {
	display: none;
}

/*** Back to Top Link ***/ 
.back-to-top-link {
	line-height: 44px; /* same as height */
}
.back-to-top-link::after {
	content:"▲"; /* Unicode up arrow U+25B2 */
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*****************************
 *  Special Links (Anchors)  *
 *****************************/
/*** Arrow Links ***/
a.backward-link::before {
	display: inline-block;
	vertical-align: top;
	content: "◀"; /* Unicode left arrow U+25C0 */
	margin-right: 8px;
	font-size: 10px;
}
a.forward-link::after {
	display: inline-block;
	vertical-align: top;
	content: "▶"; /* Unicode right arrow U+25B6 */
	margin-left: 8px;
	font-size: 10px;
}

/*** Button Links (links that look like buttons) ***/
a.button-link { /* ensure same styles as button */
	padding: 0 20px;
	border-radius: 3px;
	background-color: rgb(24, 88, 159); /* blue */
	color: rgb(255, 255, 255); /* white */
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	outline: none;
	cursor: pointer;

	transition: background-color 0.1s;
}
a.button-link::after {
	content: "▶"; /* Unicode right arrow U+25B6 */
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10px;
}
a.button-link:focus,
a.button-link:hover {
	background-color: rgba(24, 88, 159, 0.7); /* blue */
	color: rgb(255, 255, 255); /* white */
	text-decoration: none;
	outline: none;
}
a.button-link:active {
	background-color: rgb(24, 88, 159); /* blue */
	color: rgb(255, 255, 255); /* white */
	text-decoration: none;
	outline: none;
}

@media (min-width: 1600px) { /* Large Desktops - 1440px */
	
}
@media (max-width: 1599px) { /* Small Desktops - 920px */
	
}

/*****************
 * Form elements *
 *****************/
/*** Sectioning ***/
form {
	padding: 20px;
	text-align: center;
	line-height: 0; /* ensure <br> does not consume space */
}
fieldset {
	text-align: left;
}

/*** Label / Select / Input / Textarea ***/
label, select, input, textarea {
	padding: 0 20px;
	box-shadow: none;
	border: none;
	outline: none;
	background-color: rgb(255, 255, 255); /* white */
	text-align: left;
	opacity: 1;
}
label {
	color: rgb(181, 205, 224); /* light blue */
}
select, option, input, textarea {
	font-weight: bold;
	color: rgb(24, 88, 159); /* blue */
}
fieldset > label,
fieldset > select,
fieldset > input,
fieldset > textarea {
	padding: 9.5px 20px;
	border-bottom: 1px solid rgb(238, 238, 238); /* lighter gray */
	text-align: left;
	line-height: 20px;
}

/* Select & Option */
select {
	-webkit-appearance: none; /* hides drop-down arrow on webkit */
	-moz-appearance: none;    /* hides drop-down arrow on FF */
	appearance: none;         /* hides drop-down arrow (W3C) */
	background-image: url('/img/ui/down-arrow-18589F.svg'); /* Note: can't use ::before and ::after on form elements, so have to use bg-img instead of unicode chars */;
	background-repeat: no-repeat;
	background-size: 10px 10px;
	background-position: right 10px center;
	cursor: pointer;
}
select::-ms-expand {display: none;} /* hides drop-down arrow on IE */
select::-ms-value {
	background-color: transparent; /* don't give selected value special color */
	color: rgb(24, 88, 159); /* blue */
}
select:focus {
	color: transparent;
	text-shadow: 0 0 0 rgb(24, 88, 159); /* blue - hack to set text color without dotted outline */
}
select:-moz-focusring { 
	color: transparent;
	text-shadow: 0 0 0 rgb(24, 88, 159); /* blue - hack to set text color without dotted outline */
}
select:disabled {
	box-shadow: none;
	background-color: rgb(238, 238, 238); /* lighter gray */
	color: transparent;
	text-shadow: 0 0 0 rgb(153, 153, 153); /* gray - hack to change text color without dotted outline */
}
option:hover {
	box-shadow: 0 0 0 100px rgb(180, 217, 250) inset; /* lighter blue */
	background-color: rgb(180, 217, 250); /* lighter blue */
}
option:checked {
	background-color: rgb(181, 205, 224); /* light blue */
}
option:active {
	background-color: rgb(24, 88, 159); /* blue */
}
option:disabled {
	background-color: rgb(238, 238, 238); /* lighter gray */
}

/* Input & Textarea */
textarea {
	resize: none;
}
input[readonly],
textarea[readonly] {
	color: rgb(238, 238, 238); /* lighter gray */
}
input:disabled,
textarea:disabled {
	box-shadow: none;
	background-color: rgb(238, 238, 238); /* lighter gray */
	color: rgb(153, 153, 153); /* gray */
}
input:invalid {
	outline:none;
}
::-ms-clear  { /* clear input buttons for MS browsers */
	margin-right: -12px; /* position it closer to the right side of the input */
	width: 38px;
	height: 38px;
}

/*** Number inputs ***/
input[type=number] {
	-moz-appearance: textfield; /* Hide spinner FF */
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none; /* Hide spinner webkit */
	margin: 0;
}

/***  Custom Radios & Checkboxes ***/
input[type=radio],
input[type=checkbox] {
	position: absolute; /* hack to remove from document flow, but still keyboard accessible via tabs */
	width: 0;
	height: 0;
	opacity: 0;
}
input[type=radio] + label,
input[type=checkbox] + label {
	padding-left: 21px; /* pad to make text appear 6px after icon */
	background-repeat: no-repeat;
	background-size: 15px 15px;
	background-position: 0 3px; /* center over 21px */
	line-height: 21px;
	text-align: left;
	white-space: normal;
	cursor: pointer;
}
input[type=radio]:focus + label,
input[type=checkbox]:focus + label {
	outline: none;
	opacity: 0.75;
}
input[type=radio] + label:hover,
input[type=checkbox] + label:hover {
	opacity: 0.75;
}
input[type=radio]:disabled + label,
input[type=radio]:disabled + label:hover,
input[type=checkbox]:disabled + label,
input[type=checkbox]:disabled + label:hover {
	opacity: 0.25;
	cursor: default;
}

input[type=radio] + label {
	background-image: url('/img/ui/radio-unchecked-DDDDDD.svg');
}
input[type=radio]:checked + label {
	background-image: url('/img/ui/radio-checked-18589F.svg');
}

input[type=checkbox] + label {
	background-image: url('/img/ui/checkbox-unchecked-18589F.svg');
}
input[type=checkbox]:checked + label {
	background-image: url('/img/ui/checkbox-checked-18589F.svg');
}

/*** TODO: Custom file picker ***/
input[type=file] {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}
input[type=file] + label { /* simulate button - use same styles as button */
	border: none;
	border-radius: 3px;
	background-color: rgb(24, 88, 159); /* dark blue */
	color: rgb(255, 255, 255); /* white */
	line-height: 40px;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	transition: background-color 0.1s, box-shadow 0.1s;
}

input[type=file]:focus + label,
input[type=file] + label:hover {
	background-color: rgb(181, 205, 224); /* light blue */
	outline: none;
}
input[type=file]:active + label {
	box-shadow: 0 0 2px rgb(181, 205, 224); /* light blue */
	background-color: rgb(24, 88, 159); /* dark blue */
}
input[type=file]:disabled + label {
	box-shadow: none;
	background-color: rgba(113, 115, 117, 0.25); /* gray */
	cursor: default;
}

/*** Custom search bar ***/
input[type=search] {
	padding-right: 0;
	background: none;
	text-align: right;
}
input[type=search] + button {
	border: none;
	box-shadow: none;
	background-color: transparent;
	background-image: url('/img/ui/search-B5CDE0.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40% 40%;
}
input[type=search] + button:focus,
input[type=search] + button:hover,
input[type=search] + button:active {
	background-image: url('/img/ui/search-18589F.svg');
}
input[type=search] + button::before,
input[type=search] + button::after {
	display: none; /* remove any arrow icons affixed to buttons */
}

/*** Output ***/
output {
	padding: 10px 20px;
	font-style: italic;
	color: rgb(24, 88, 159); /* blue */
	white-space: nowrap;	
	line-height: 20px;
	opacity: 0;
	transition: opacity 0.2s;
}
output.shown {
	opacity: 1;
}
output.error {
	color: rgb(239, 67, 60); /* red */
}
fieldset > output {
	border-bottom: 1px solid rgb(238, 238, 238); /* lighter gray */
	text-align: left;
	opacity: 1;
}

/*** Placeholders & Pseudo-Elements ***/
::-webkit-input-placeholder {
	color: rgb(181, 205, 224); /* light blue */
	opacity: 1;
}
::-moz-placeholder {
	color: rgb(181, 205, 224); /* light blue */
	opacity: 1;
}
:-ms-input-placeholder {
	color: rgb(181, 205, 224); /* light blue */
	opacity: 1;
}

/* Hide placeholders on focus */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }
textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

/* Hide placeholders for disabled fileds */
input:disabled::-webkit-input-placeholder { color:transparent; }
input:disabled::-moz-placeholder { color:transparent; }
input:disabled:-ms-input-placeholder { color:transparent; }
textarea:disabled::-webkit-input-placeholder { color:transparent; }
textarea:disabled::-moz-placeholder { color:transparent; }
textarea:disabled:-ms-input-placeholder { color:transparent; }

/*** Button ***/
button {
	border: none;
	border-radius: 3px;
	background-color: rgb(24, 88, 159); /* blue */
	font-weight: bold;
	color: rgb(255, 255, 255); /* white */
	line-height: 40px;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	transition: background-color 0.1s;
}
button:focus,
button:hover {
	background-color: rgba(24, 88, 159, 0.7); /* blue */
	outline: none;
}
button:active {
	background-color: rgb(24, 88, 159); /* blue */
}
button:disabled {
	background-color: rgba(181, 205, 224, 0.2); /* light blue */
	cursor: default;
}

/*****************
 * Custom Forms  *
 *****************/
/*** Overlay Form ***/
.overlay-form {
	padding: 0;
	text-align: left;
	color: rgb(181, 205, 224); /* light blue */
}
.overlay-form label {
	padding: 0;
	font-size: 12px;
	font-weight: normal;
	color: rgb(24, 88, 159); /* blue */
	line-height: 12px;
}
.overlay-form input[type=text],
.overlay-form input[type=url],
.overlay-form input[type=email],
.overlay-form input[type=password] {
	padding: 0 10px;
	background-color: rgb(24, 88, 159); /* blue */
	color: rgb(255, 255, 255); /* white */
	line-height: 30px;
}

.overlay-form input:invalid {
	background-color: rgb(239, 67, 60); /* red */
}

.overlay-form button {
	background-color: rgb(181, 205, 224); /* light blue */
	line-height: 30px;
}
.overlay-form button::before {
	content: "▶"; /* Unicode right arrow U+25B6 */
	display: none; /* to be shown on focus,hover */
	height: 0; /* so that it doesn't "push text to next line */
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	color: rgb(255, 255, 255); /* white */
}
.overlay-form button:focus,
.overlay-form button:hover,
.overlay-form button:active {
	background-color: rgb(24, 88, 159); /* blue */
	color: transparent; /* Hide text to show arrow instead */
}
.overlay-form button:disabled {
	background-color: rgba(181, 205, 224, 0.2); /* light blue */
	cursor: default;
}
.overlay-form button:focus::before,
.overlay-form button:hover::before,
.overlay-form button:active::before {
	display: block;
}

.overlay-form output {
	font-size: 12px;
	text-align: center;
}

.overlay-form a {
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	line-height: 30px;
	color: rgb(24, 88, 159); /* blue */
}
.overlay-form a:focus,
.overlay-form a:hover,
.overlay-form a:active {
	color: rgb(181, 205, 224); /* light blue */
}

/********************
 *  Custom Buttons  *
 ********************/
/*** Close buttons ***/
.close-button {
	background-color: transparent;
	color: rgb(175, 178, 181); /* lighter gray */
	transition: color 0.2s, text-shadow 0.2s;
}
.close-button::after {
	content:'×';
	font-size: 24px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.close-button:focus,
.close-button:hover,
.close-button:active {
	background-color:  transparent;
	color: rgb(248, 250, 252); /* off white */
	text-shadow: 0 0 2px rgb(30, 30, 30); /* dark gray */
}

/*** TODO: Download button ***/
.download-button {
	background-color: transparent;
}
.download-button::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	background-size: contain;
	background-position: right center;
}

/*** TODO: Add / Edit / Delete buttons */
.edit-button,
.delete-button {
	opacity: 0.5;
	line-height: 20px;
	background-color: transparent;
}
.edit-button:focus,
.edit-button:hover,
.edit-button:active,
.delete-button:focus,
.delete-button:hover,
.delete-button:active {
	opacity: 1;
	background-color: transparent;
}
.edit-button::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 18px;
	height: 18px;
	background-size: contain;
	background-position: center;
}
.delete-button::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	background-size: contain;
	background-position: center;
}

.edit-button::before {
	background-image: url('/img/ui/pen-999999.svg');
	background-repeat: no-repeat;
}
.delete-button::before {
	background-image: url('/img/ui/bin-999999.svg');
	background-repeat: no-repeat;
}
.download-button::before {
	background-image: url('/img/ui/download-FFFFFF.svg');
	background-repeat: no-repeat;
}

/*** Pagination Buttons ***/
.page-button {
	background: none;
	font-weight: bold;
	color: rgb(255, 255, 255); /* white */
}
.page-button.current,
.page-button:focus,
.page-button:hover,
.page-button:active {
	background: none;
	color: rgb(24, 88, 159); /* blue */
}
.spacer {
	display: inline;
}
.spacer::after {
	content:"...";
}

/*** Results Display Control Buttons ***/
.results-display-controls > button {
	background: none;
	font-weight: bold;
	color: rgb(255, 255, 255); /* white */
}
.results-display-controls > button.current,
.results-display-controls > button:focus,
.results-display-controls > button:hover,
.results-display-controls > button:active {
	background: none;
	color: rgb(24, 88, 159); /* blue */
}

/**************************
 * Common Pseudo-Elements *
 **************************/
/* processing spinners */
table.processing::after,
form.processing::after { /* pseudo overlay with loading spinner */
	content:"";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* black */
	background-image: url('/img/ui/loading-spinner-18589F.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px 40px;
}

/************************
 * Common Site Elements *
 ************************/
.module-header,
.module-footer {
	border-top: 1px solid rgb(181, 205, 224); /* light blue */
	border-bottom: 1px solid rgb(181, 205, 224); /* light blue */
}

.results-section,
.add-section,
.edit-section {
	background-color: rgb(255, 255, 255); /* white */
	border-radius: 5px;
}

.results-section > header,
.results-section > footer {
	background-color: rgb(181, 205, 224); /* light blue */
}

.document-preview-area {
	border: 1px solid rgb(181, 205, 224); /* light blue */
}
.document-preview-area > a {
	background-size: auto 50%;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 20px;
	line-height: 200px;
}
.document-preview-area > a::after {
	content:"No document uploaded";
}
.document-preview-area > a[href] {
	background-image: url('/img/ui/document-B5CDE0.svg');
}
.document-preview-area > a[href]::after {
	content: "";
}
.image-preview-area {
	border: 1px solid rgb(181, 205, 224); /* light blue */
	background-image: url('/img/ui/pat-checker.jpg');
}
.upload-instructions {
	color: rgb(24, 88, 159); /* blue */
	text-align: left;
}

.add-section > h2,
.edit-section > h2 {
	background-color: rgb(24, 88, 159); /* blue */
	line-height: 44px; /* same as height */
	text-align: center;
}
.add-section > form,
.edit-section > form {
	padding: 20px 40px;
}


/************
 * Other Site stuff - defined here so that we can keep site.css free of color-related appearance styles
 ************/
#main.loading::after,
#overlay.loading {
	background-image:url('/img/ui/loading-spinner-18589F.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
}

#site-header,
#site-footer {
	background-color: rgb(181, 205, 224); /* light blue */
	color: rgb(255, 255, 255); /* white */
}
#header-user-controls > a {
	color: rgb(255, 255, 255); /* white */
}
#header-user-controls > a:hover,
#header-user-controls > a:focus,
#header-user-controls > a:active {
	color: rgb(24, 88, 159); /* blue */
}

#main {
	background-color: rgb(238, 238, 238); /* lighter gray */
}

#overlay {
	background-color: rgba(0, 0, 0, 0.8); /* black */
}
#overlay-panel {
	background-color: rgb(255, 255, 255); /* white */
	box-shadow: 2px 2px 5px 0 rgba(24, 88, 159, 0.25); /* blue */
}

/*** Dashboard Page ***/
#activity-module > #activity-log > h2,
#module-links > .module-link > h2 {
	background-color: rgb(24, 88, 159); /* blue */
	color: rgb(255, 255, 255); /* white */
}


/**************
 *    Text    *
 **************/
p {
	margin-bottom: 21px;
}

/*********
 * Lists *
 *********/
ul, ol {
	margin-bottom: 21px;
}

/*****************************
 * Figures & Enclosed Blocks *
 *****************************/
figure, blockquote, pre {
	margin-bottom: 21px;
}

/**********
 * Tables *
 **********/
table {
	width: 100%;
}
tr {
	width: 100%;
}
th, td {
	min-height: 40px;
	overflow: hidden;
}


/*********************
 * Details / Summary *
 *********************/

/***************************
 *         Progress        *
 ***************************/

/**************************
 *  Other Block Elements  *
 **************************/

/*****************
 * Context Menus * 
 *****************/


/****************
 * Nav elements *
 ****************/
.aux-nav {
	margin-bottom: 40px;
}
.aux-nav > a {
	margin-right: 20px;
}
a.breadcrumb {
	display: inline-block;
	vertical-align: top;
	height: 44px;
}

/*** Back to Top ***/
.back-to-top-link {
	position: absolute;
	top: 0;
	right: 0;
}

/*****************************
 *  Special Links (Anchors)  *
 *****************************/
a.button-link {
	display: inline-block;
	height: 40px;
}

/*****************
 * Form elements *
 *****************/
form {
	
}
fieldset {
	display: block;
	padding: 0;
}

form.hide,
form label.hide,
form input.hide,
form select.hide,
form textarea.hide {
	display: none;
}

fieldset > label,
fieldset > input,
fieldset > select,
fieldset > textarea,
fieldset > output {
	display: inline-block;
	vertical-align: top;
}

fieldset > label,
fieldset > input,
fieldset > select {
	height: 40px;
}

fieldset > textarea {
	height: 40px;
}

fieldset > output {
	height: 40px;
}
fieldset > .upload-instructions > output {
	display: block;
}

form > button {
	margin: 40px 20px 20px 20px;
	min-width: 120px;
}
form > output {
	display: block;
	border-bottom: none;
}

fieldset > .document-preview-area > a {
	display: block;
	height: 100%;
	width: 100%;
}

@media (min-width: 1600px) { /* Large Desktops - 1440px */
	fieldset {
		width: 1360px;
	}
	fieldset > label {
		width: 230px;
	}
	fieldset > input,
	fieldset > select,
	fieldset > textarea {
		width: 800px;
	}
	fieldset > output {
		width: 330px;
	}
	form > output {
		width: 100%;
	}

	fieldset > .document-preview-area,
	fieldset > .image-preview-area,
	fieldset > .upload-instructions {
		display: inline-block;
		vertical-align: top;
		margin: 40px 20px;
	}

	fieldset > .document-preview-area {
		width: 420px;
		height: 210px;
	}
	fieldset > .image-preview-area {
		width: 420px;
		height: 420px;
	}
	fieldset > .upload-instructions {
		width: 860px;
	}
}
@media (max-width: 1599px) { /* Small Desktops - 920px */
	fieldset {
		width: 880px;
	}
	fieldset > label {
		width: 160px;
	}
	fieldset > input,
	fieldset > select,
	fieldset > textarea {
		width: 480px;
	}
	fieldset > output {
		width: 200px;
	}
	form > output {
		width: 100%;
	}

	fieldset > .document-preview-area,
	fieldset > .image-preview-area,
	fieldset > .upload-instructions {
		display: inline-block;
		vertical-align: top;
		margin: 40px 20px;
	}

	fieldset > .document-preview-area {
		width: 400px;
		height: 200px;
	}
	fieldset > .image-preview-area {
		width: 400px;
		height: 400px;
	}
	fieldset > .upload-instructions {
		width: 400px;
	}
}

input[type=search] {
	display: inline-block;
	vertical-align: top;
	height: 44px;
}
input[type=search] + button {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	min-width: 40px;
	width: 40px;
	height: 44px;
}

input[type=file] + label {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	width: 180px;
}
/*****************
 * Custom Forms  *
 *****************/
/*** Overlay Form ***/
.overlay-form label {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}
.overlay-form input[type=text],
.overlay-form input[type=url],
.overlay-form input[type=email],
.overlay-form input[type=password] {
	margin-bottom: 10px;
	width: 100%;
	height: 30px;
}

.overlay-form button {
	margin: 0;
	width: 100%;
	height: 30px;
}

.overlay-form output {
	height: 0;
	transition: height 0.2s ease-out;
}
.overlay-form output.shown {
	height: 40px;
}

.overlay-form a {
	display: block;
	margin-bottom: 10px;
	height: 30px;
}

/*** Search Form ***/
.search-form {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
}

/********************
 *  Custom Buttons  *
 ********************/
/*** Pagination Buttons ***/
.page-button {
	min-width: 30px;
}

/*** Results Display Control Buttons ***/
.results-display-controls > button {
	min-width: 40px;	
}

/**************************
 * Common Pseudo-Elements *
 **************************/



/************************
 * Common Site Elements *
 ************************/
.module-header,
.module-footer {
	position: relative;
	height: 46px;
}

.results-section,
.add-section,
.edit-section {
	position: relative;
	margin-bottom: 40px;
	overflow: hidden;
}

.results-section > header,
.results-section > footer {
	position: relative;
	height: 44px;
}

.results-pagination {
	position: absolute;
	top: 0;
	left: 15px;
}
.results-display-controls {
	position: absolute;
	top: 0;
	right: 15px;
}
.image-preview-area {
	position: relative;
}
.image-preview-area > img {
	display: block;
	position: absolute;
	top: 0; bottom: 0;
	left:0; right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

.add-section,
.edit-section {
	display: none;
}

.add-section.shown,
.edit-section.shown {
	display: block;
}
.add-section > h2,
.edit-section > h2 {
	height: 44px;
}

@media (min-width: 1600px) { /* Large Desktops - 1440px */

}
@media (max-width: 1599px) { /* Small Desktops - 920px */
	
}

/************
 * Other Site stuff - defined here so that we can keep site.css free of color-related appearance styles
 ************/
