#hero {
	background-image: url('/img/hero-2.jpg');
}

#main {
	background-repeat: no-repeat;
	background-image: url('/img/bg-mountains.jpg');
	background-size: cover;
	background-position: center;
}
#about-panels {
	position: relative;
}
.panel {
	position: relative;
}
#about-panels h2 {
	margin-bottom: 21px;
}
@media (min-width: 1366px) { /* Desktop */
	.panel {
		display: inline-block;
		vertical-align: top;
		margin-right: 40px;
		width: 280px;
	}
	.panel:last-of-type {
		margin-right: 0;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	.panel {
		display: inline-block;
		vertical-align: top;
		margin-right: 40px;
		width: 200px;
	}
	.panel:last-of-type {
		margin-right: 0;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	.panel {
		display: block;
		margin-bottom: 20px;
	}
}
