#hero {
    background-image: url('/img/hero-happening.jpg');
}
#event-banner-wrapper {
    background-color: rgb(220, 19, 81);
    position: relative;
}
#promotions a {
    display: block;
}

#promotions a img {
    display: block;
}
#main {
    padding: 0;
}
#happening-event-filter {
    width: 280px;
    position: absolute;
    top: 60px;
    left: 63px;
    z-index: 2;
}

#selected-sub-category:not(:empty)::before {
    color: rgb(137, 127, 113);
    content: "/";
    margin: 0 10px;
}
.category-button {
    background-image: url("/img/ui/drop-down-arrow-FFFFFF.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    display: inline-block;
    height: 40px;
    padding-left: 15px;
    text-align: left;
    vertical-align: top;
    width: 100%;
}
.sub-category-menu {
    background-color: rgb(204, 204, 204);
    border-radius: 3px;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: margin-bottom 0.2s ease 0s, padding 0.2s ease 0s, max-height 0.2s ease 0s;
    width: 100%;
}
.sub-category-menu.shown {
    margin-bottom: 10px;
    max-height: 246px;
    overflow: visible;
    padding: 3px;
}
.sub-category-menu::before {
    border-color: -moz-use-text-color rgba(0, 0, 0, 0) rgb(204, 204, 204);
    border-style: none solid solid;
    border-width: 0 6px 6px;
    content: "";
    position: absolute;
    right: 12px;
    top: -6px;
    width: 0;
}
.sub-category-button {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 9px;
    text-align: left;
    text-transform: none;
    width: 100%;
}
.sub-category-button:focus, .sub-category-button:hover, .sub-category-button:active, .sub-category-button.current {
    background-color: rgb(170, 170, 170);
    color: rgb(255, 255, 255);
}

.activity {
    position: relative;
}

.activity:before {
    width: 100%;
    height: 278px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=0 );
    z-index: 1;
}

.activity article {
    height: 240px;
    position: relative;
    padding: 46px 0 0;
    background-color: rgb(220, 19, 81);
    color: rgb(255, 255, 255);
    text-align: center;
}

.activity article:before {
    width: 100%;
    height: 278px;
    content: "";
    position: absolute;
    top: -278px;
    left: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
}

#main .activity article h2 {
    display: block;
    margin: 0 0 15px;
    padding: 0;
    border: none;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    line-height: 27px;
}

.activity span {
    display: inline-block;
    margin: 2px 0 24px;
}

.activity p {
    width: 821px;
    margin: 0 auto;
}

.owl-prev,
.owl-next {
    width: 30px;
    height: 50px;
    position: absolute;
    bottom: 95px;
    background-size: 30px 50px;
    color: rgb(255, 255, 255);
    font-size: 0;
    opacity: .2;
    transition: 400ms ease;
}

.owl-next {
    background-image: url(/img/banner/icon-arrow-next.svg);
    right: 32px;
}

.owl-prev {
    background-image: url(/img/banner/icon-arrow-prev.svg);
    left: 32px;
}

.owl-prev:hover,
.owl-next:hover {
    opacity: 1;
}

@media (max-width: 1023.9px) { /* Mobile */
    #main {
        padding: 0 15px;
    }
    #happening-event-filter {
        top: 20px;
        left: 20px;
    }
    #happening-event-filter {
        width: 240px;
    }
    .activity article {
        height: auto;
        padding: 46px 0;
    }
    .owl-prev, .owl-next {
        top: 100px;
        bottom: auto;
    }
    .activity p {
        width: 100%;
        padding: 0 10px;
    }
}

@media(min-width:600px) and (max-width:1023.9px) {
    .activity:before {
        height: 278px;
    }
    .activity article:before {
        height: 278px;
    }
    .owl-prev, .owl-next {
        top: 220px;
        bottom: auto;
    }
}