#hero {
    background-image: url('/img/hero-landing.jpg');
}

#main {
    padding: 4px 0 0;
    background-color: rgb(255, 255, 255); /* white */
}
#features {
	text-align: center;
}
.feature {
    position: relative;
    color: rgb(220, 19, 81); /* pink */
    text-align: center;
}
.feature > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.feature > h3,
.feature > p,
.feature > .button-link {
	position: relative;
}
.feature > h3 {
    font-size: 18px;
    text-transform: uppercase;
}
#banner-info {
    padding: 36px 0 0;
}
.feature > h3 span {
    display: block;
}
.feature .button-link {
    width: 190px;
}
.feature a.button-link::after {
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
#therapy-categories {
	position: relative;
	text-align: center;
}
.category {
	position: relative;
	background-repeat: repeat;
	background-image: url('/img/ui/bg-tile-2.png');
	background-size: 31px 55px;
	color: rgb(137, 127, 113); /* sand */
	text-align: center;
}
.category > img {
	position: absolute;
	top: 0;
	left: 0;
}
.category > h3,
.category > p,
.category > .button-link {
	position: relative;
}
a.button-link {
    background-color: rgb(220, 19, 81);
}
#header-reservations-link {
    background-color: rgb(137, 127, 113);
}
@media (min-width: 1366px) { /* Desktop */
	.feature {
            height: 276px;
            display: inline-block;
            vertical-align: top;
            margin: 0 0 4px 0;
            width: 50%;
	}
	.feature > h3 {
		padding-top: 80px;
		margin: 0;
	}
	.feature > p {
		margin-bottom: 16px;
	}
	.category {
		display: inline-block;
		vertical-align: top;
		margin: 0 2px 4px 2px;
		width: 450px;
		height: 200px;
	}
	.category > img {
		width: 200px;
	}
	.category > h3 {
		margin-left: 200px;
		padding-top: 65px;
		color: inherit;
		text-transform: none;
	}
	.category > .button-link {
		margin-left: 200px;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	.feature {
            width: 50%;
            height: 206px;
            display: inline-block;
            vertical-align: top;
            margin: 0 0 4px 0;
	}
	.feature > h3 {
		padding-top: 50px;
	}
	.feature > p {
		margin-bottom: 14px;
	}
	.category {
		display: inline-block;
		vertical-align: top;
		margin: 0 2px 4px 2px;
		width: 336px;
		height: 150px;
	}
	.category > .button-link {
		margin-left: 150px;
	}
	.category > img {
		width: 150px;
	}
	.category > h3 {
		margin-left: 150px;
		padding-top: 40px;
		color: inherit;
		text-transform: none;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	.feature {
		display: block;
		height: 316px;
	}
	.feature > img {
		width: 100%;
		height: auto;
		min-height: 100%;
		overflow: auto;
	}
	.feature > h3 {
		padding-top: 45px;
	}
	.feature > p {
		margin-bottom: 14px;
	}
	#therapy-categories {
		display: none;
	}
}
