#hero {
    background-image: url('/img/hero-media.jpg');
}

#press,
#accolades {
    position: relative;
    margin: 0 0 12px;
}
#press h2,
#accolades h2{
    display: block;
}
/*************
 *  Content  *
 *************/
#main > section > h2 {
    margin-bottom: 21px;
}
#header-reservations-link {
    background-color: rgb(137, 127, 113);
}
.feature > img {
    margin-bottom: 10px;
    width: 280px;
    height: 280px;
    border: 2px solid rgb(238, 238, 238); /* lighter gray */
}
.feature > .title {
    text-transform: none;
}

.feature > .details {
    height: 80px;
    margin-bottom: 25px;
    line-height: 21px;
}
.pagination {
    position: absolute;
    right: 0;
    top: 14px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}
.pagination a {
    display: inline-block;
    padding: 0 8px;
    color: rgb(196, 191, 184);
    font-size: 18px;
}
.pagination a.active {
    color: rgb(220, 19, 81);
}
a.paginate-prev, 
a.paginate-next {
    display: none;
    padding: 12px;
    background-color: rgb(196, 191, 184);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 7px auto;
    border-radius: 3px;
    vertical-align: middle;
}
a.paginate-prev.active,
a.paginate-next.active {
    background-color: rgb(220, 19, 81);
}
a.paginate-prev:hover, 
a.paginate-next:hover,
a.paginate-prev:focus, 
a.paginate-next:focus {
    background-color: rgb(165, 14, 61);
}
.paginate-prev {
    background-image: url("/img/banner/icon-arrow-prev.svg");
}
.paginate-next {
    background-image: url("/img/banner/icon-arrow-next.svg");
}
a.button-link {
    background-color:rgb(220, 19, 81);
}
@media (min-width: 1366px) { /* Desktop */
    #main {
        padding: 50px 63px;
    }
    .feature {
        display: inline-block;
        vertical-align: top;
        margin: 0 20px 40px;
        width: 280px;
    }
    .feature:nth-of-type(4n - 3) {
        margin-left: 0;
    }

    .feature:nth-of-type(4n) {
        margin-right: 0;
    }
	
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
    .feature {
        display: inline-block;
        vertical-align: top;
        margin: 0 20px 40px;
        width: 280px;
    }
    .feature:nth-of-type(3n - 2) {
        margin-left: 0;
    }
    .feature:nth-of-type(3n) {
        margin-right: 0;
    }
}
@media (max-width: 1023.9px) { /* Mobile */
    .feature {
        display: block;
        margin: 0 0 30px 0;
    }
    .pagination {
        top: 10px;
    }
    .pagination a {
        display: none;
    }
    a.paginate-prev, 
    a.paginate-next {
        display: inline-block;
    }
}