#hero {
    background-image: url('/img/hero-3.jpg');
}

#main {
    background-repeat: no-repeat;
    background-position: center bottom;

  background-image: url('/img/bg-flower.png'), -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(207,212,216) 100%);
  background-image: url('/img/bg-flower.png'), -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(207,212,216) 100%);
  background-image: url('/img/bg-flower.png'), -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(207,212,216) 100%);
 

}
#philosophy {
    position: relative;
    margin: 0 0 270px;
}

#main h2 {
    display: block;
    padding: 0 0 10px;
}

#philosophy h2 {
    margin-bottom: 21px;
}

.panel {
    position: relative;
    font-weight: bold;
}

#sign-off {
    text-align: center;
}
#signature {
    width: 100%;
}
#signator {
    color: rgb(220, 19, 81); /* pink */
}
@media (min-width: 1366px) { /* Desktop */
    .panel {
        display: inline-block;
        vertical-align: top;
        margin-right: 40px;
        width: 280px;
    }
    .panel:last-of-type {
        margin-right: 0;
    }
    #sign-off {
        padding: 40px 0;
        width: 280px;
    }
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
    .panel {
        display: inline-block;
        vertical-align: top;
        margin-right: 40px;
        width: 200px;
    }
    .panel:last-of-type {
        margin-right: 0;
    }
/*    #sign-off {
        padding: 40px 0;
        width: 200px;
    }*/
}
@media (max-width: 1023.9px) { /* Mobile */
    #main {
        padding: 30px 15px 600px;
    }
/*    #sign-off {
        padding: 20px 0;
        width: 320px;
    }*/
}