#hero {
    background-image: url('/img/hero-promotions.jpg');
}

/*************
 *  Content  *
*************/
#main {
    padding: 0;
}
#main > section > h2 {
    margin-bottom: 21px;
}
.feature > img {
    margin-bottom: 10px;
    width: 280px;
    height: 280px;
    border: 2px solid rgb(238, 238, 238); /* lighter gray */
}
.feature > .title {
    text-transform: none;
}

.feature > .details {
    margin-bottom: 15px;
    line-height: 21px;
}

#promotions a {
    display: block;
}

#promotions a img {
    width: 100%;
    display: block;
}

@media (min-width: 1366px) { /* Desktop */
    .feature {
        display: inline-block;
        vertical-align: top;
        margin: 0 20px 40px;
        width: 280px;
    }
    .feature:nth-of-type(4n - 3) {
        margin-left: 0;
    }

    .feature:nth-of-type(4n) {
        margin-right: 0;
    }
	
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
    .feature {
        display: inline-block;
        vertical-align: top;
        margin: 0 20px 40px;
        width: 280px;
    }
    .feature:nth-of-type(3n - 2) {
        margin-left: 0;
    }
    .feature:nth-of-type(3n) {
        margin-right: 0;
    }
}
@media (max-width: 1023.9px) { /* Mobile */
    .feature {
        display: block;
        margin: 0 0 30px 0;
    }
}