#hero {
    background-image: url('/img/hero-refer.jpg');
}
#main {
    padding: 10px 0;
}
#refer {
    margin: 0 -5px;
}
#refer .refer-wrap {
    width: 50%;
    display: inline-block;
    padding: 0 5px;
    position: relative;
    vertical-align: top;
}
#refer .refer-wrap:after {
    width: calc(100% - 10px);
    height: 70%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    background: -moz-linear-gradient(top, rgba(220,19,81,0) 0%, rgba(220,19,81,1) 65%, rgba(220,19,81,1) 100%);
    background: -webkit-linear-gradient(top, rgba(220,19,81,0) 0%,rgba(220,19,81,1) 65%,rgba(220,19,81,1) 100%);
    background: linear-gradient(to bottom, rgba(220,19,81,0) 0%,rgba(220,19,81,1) 65%,rgba(220,19,81,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dc1351', endColorstr='#dc1351',GradientType=0 );
    transform: translateX(-50%);
}
#refer .refer-wrap img {
    width: 100%;
    display: block;
}
.detail-refer {
    width: 512px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 2;
}
.detail-refer h3 {
    margin: 0 0 27px;
    font-weight: normal;
    line-height: 12px;
}
.detail-refer p {
    margin: 0 0 28px;
}
.detail-refer p a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.book-refer {
    width: 103px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 8px;
    border-radius: 3px;
}
.book-refer:after {
    width: 11px;
    height: 11px;
    background-image: url("/img/ui/more-DC1351.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    margin-left: 6px;
    vertical-align: baseline;
}
@media (max-width: 1023.9px) { /* Mobile */ 
    #refer .refer-wrap {
        width: 100%;
        margin: 0 0 20px;
    }
    #refer .refer-wrap:after {
        height: 90%;
    }
    #refer .refer-wrap:last-child {
        margin: 0;
    }
    #refer .refer-wrap:first-child::before {
        display: none;
    }
    .detail-refer {
        width: 100%;
        padding: 0 10px;
    }
    .detail-refer h3 {
        margin: 0 0 10px;
        line-height: 24px;
    }
    .detail-refer p {
        margin: 0 0 14px;
    }
}