#hero {
	background-image: url('/img/hero-therapy.jpg');
}

@media (max-width: 1023.9px) { /* Mobile */
	#selector {
		display: block; /* show selector even for mobile */
		margin-bottom: 30px;
	}
}
#main h2 {
    display: block;
}
/************
 * Selector *
 ************/
#selected-sub-category:not(:empty)::before {
	content: "/";
	margin: 0 10px;
	color: rgb(137, 127, 113); /* sand */
}

.category-button {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 40px;
	padding-left: 15px;
	background-image: url('/img/ui/drop-down-arrow-FFFFFF.svg');
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 40px 40px;
	text-align: left;
}
.sub-category-menu {
	position: relative;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	padding: 0;
	border-radius: 3px;
	background-color: rgb(204, 204, 204); /* light gray */
	transition: margin-bottom .2s, padding .2s, max-height .2s;
}
.sub-category-menu.shown {
	overflow: visible;
	margin-bottom: 10px;
	padding: 3px;
	max-height: 246px; /* room for 8 items  */
}
.sub-category-menu::before {
	content: "";
	position: absolute;
	top: -6px;
	right: 12px;
	width: 0;
	border-top: none;
	border-bottom: 6px solid rgb(204, 204, 204); /* light gray */
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}
.sub-category-button {
	display: block;
	padding: 0 9px;
	margin: 0;
	width: 100%;
	height: 30px;
	border-radius: 0;
	background-color: transparent;
	color: rgb(255, 255, 255); /* white */
	line-height: 30px;
	text-align: left;
	text-transform: none;
	cursor: pointer;
}
.sub-category-button:focus,
.sub-category-button:hover,
.sub-category-button:active,
.sub-category-button.current {
	background-color: rgb(170, 170, 170); /* gray */
	color: rgb(255, 255, 255); /* white */
}


/*************
 *  Content  *
 *************/
.therapy {
	position: relative;
	background-repeat: repeat;
	background-image: url('/img/ui/bg-tile-2.png');
	background-size: 31px 55px;
	color: rgb(137, 127, 113); /* sand */
	text-align: left;
}
.therapy > .title {
	text-transform: none;
}
.therapy > .details.promotion {
	color: rgb(220, 19, 81); /* pink */
}
@media (min-width: 1366px) { /* Desktop */
	.therapy {
		padding: 30px;
		margin-bottom: 20px;
		/*height: 200px;*/
	}
	.therapy > .title,
	.therapy > .description,
	.therapy > .benefits,
	.therapy > .promotion-terms,
	.therapy > .details {
		margin-left: 200px;
	}
	
	.therapy > img {
		position: absolute;
		top: 0;
		left: 0;
		width: 200px;
		height: 200px;
	}
	.therapy > .details {
		/*
		position: absolute;
		bottom: 30px;
		left: 30px;
		*/
		padding: 0;
		line-height: 30px;
	}
	.therapy > .button-link {
		position: absolute;
		bottom: 30px;
		right: 30px;
	}
	.details > .duration::after {
		content: " / ";
	}
	.details > br {
		display: none;
	}
}
@media (min-width: 1024px) and (max-width: 1365.9px) { /* Tablet */
	.therapy {
		padding: 25px 30px;
		margin-bottom: 20px;
		/*height: 200px;*/
	}
	.therapy > .title,
	.therapy > .description,
	.therapy > .benefits,
	.therapy > .promotion-terms,
	.therapy > .details {
		margin-left: 200px;
	}
	.therapy > img {
		position: absolute;
		top: 0;
		left: 0;
		width: 200px;
		height: 200px;
	}
	.therapy > .details {
		/*
		position: absolute;
		bottom: 30px;
		left: 30px;
		*/
		padding: 0;
		line-height: 30px;
	}
	.therapy > .button-link {
		position: absolute;
		bottom: 30px;
		right: 30px;
	}
	.details > .duration::after {
		content: " / ";
	}
	.details > br {
		display: none;
	}
}
@media (max-width: 1023.9px) { /* Mobile */
	.therapy {
		padding: 30px 15px 110px;
		margin-bottom: 15px;
	}
	.therapy > img {
		position: absolute;
		bottom: 30px;
		left: 15px;
		width: 80px;
		height: 80px;
	}
	.therapy > .details {
		position: absolute;
		bottom: 75px;
		left: 110px;
		padding: 0;
		line-height: 21px;
	}
	.therapy > .button-link {
		position: absolute;
		bottom: 30px;
		left: 110px;
	}
}

