<header class="module-header" id="accolades-module-header">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Accolades</a>

	<form class="search-form" id="accolades-search-form">
		<input type="search" name="search" placeholder="Search here"><!--
		--><button type="submit" class="search-button"></button>
	</form>
</header>

<section class="results-section" id="view-accolades-section">
	<header>
		<nav class="results-pagination" id="results-section-header-pagination"></nav>
		<nav class="results-display-controls" id="results-section-header-display-controls">
			Results per page
			<button class="show-5-result-button" data-count="5">5</button><!--
			--><button class="show-10-result-button active" data-count="10">10</button><!--
			--><button class="show-20-result-button" data-count="20">20</button><!--
			--><button class="show-50-result-button" data-count="50">50</button>
		</nav>
	</header>
	<table id="accolades-table">
		<thead>
			<tr>
				<th class="sortable title" data-field="title">Title</th>
				<th class="sortable displayPriority" data-field="displayPriority">Display Priority</th>
				<th class="actions"></th>
			</tr>
		</thead>
		<tbody id="accolades-tbody">
		</tbody>
	</table>
	<footer>
		<nav class="results-pagination" id="results-section-footer-pagination"></nav>
		<nav class="results-display-controls" id="results-section-footer-display-controls">
			Results per page
			<button class="show-5-result-button" data-count="5">5</button><!--
			--><button class="show-10-result-button active" data-count="10">10</button><!--
			--><button class="show-20-result-button" data-count="20">20</button><!--
			--><button class="show-50-result-button" data-count="50">50</button>
		</nav>
	</footer>
</section>

<section class="edit-section" id="edit-accolade-section">
	<h2>Edit Accolade</h2>
	<form id="edit-accolade-form">
		<input type="hidden" name="id" />
		<input type="hidden" name="downloadFileName" />
		<fieldset>
			<label for="edit-accolade-title-input">Title</label><!--
			--><input type="text" id="edit-accolade-title-input" name="title" maxlength="128" placeholder="(Max. 128 characters)" /><!--
			--><output for="edit-accolade-title-input"></output>
		</fieldset>
		<fieldset>
			<label for="edit-accolade-description-textarea">Description</label><!--
			--><textarea id="edit-accolade-description-textarea" name="description" maxlength="512" placeholder="(Max. 512 characters)"></textarea><!--
			--><output for="edit-accolade-description-textarea"></output>
		</fieldset>
		<fieldset>
			<div id="edit-accolade-image-preview-area" class="image-preview-area">
				<img id="edit-accolade-preview-img" src="" alt="" />
			</div><!--
			--><div class="upload-instructions">
				<p>Set thumbnail image of the accolade by uploading an image on your computer.</p>
				<p>Please use a square image of at least 200 x 200 pixels.<br>
				   Recommended: 400 x 400 pixels.
				</p>
				<input type="file" id="edit-accolade-img-input" name="img" /><label for="edit-accolade-img-input">Browse</label><!--
				--><output for="edit-accolade-img-input"></output>
			</div>
		</fieldset>
		<fieldset>
			<div id="edit-accolade-preview-doc" class="document-preview-area">
				<a target="_blank"></a>
			</div><!--
			--><div class="upload-instructions">
				<p>Upload a PDF document that visitors can download to view more details about the accolade.</p>
				<input type="file" name="doc" id="edit-accolade-doc-input" accept=".pdf" /><label for="edit-accolade-doc-input">Browse</label><!--
				--><output for="edit-accolade-doc-input"></output>
			</div>
		</fieldset>
		<fieldset>
			<label for="edit-accolade-display-priority-input">Display Priority</label><!--
			--><input type="text" id="edit-accolade-display-priority-input" name="displayPriority" placeholder="(Higher priority will be shown first; set to 0 to hide)" /><!--
			--><output for="edit-accolade-display-priority-input"></output>
		</fieldset>
		<button type="submit">Submit</button>
		<button type="reset">Cancel</button>
		<output></output>
	</form>
</section>

<section class="add-section shown" id="add-accolade-section">
	<h2>Add Accolade</h2>
	<form id="add-accolade-form">
		<input type="hidden" name="downloadFileName" />
		<fieldset>
			<label for="add-accolade-title-input">Title</label><!--
			--><input type="text" id="add-accolade-title-input" name="title" maxlength="128" placeholder="(Max. 128 characters)" /><!--
			--><output for="add-accolade-title-input"></output>
		</fieldset>
		<fieldset>
			<label for="add-accolade-description-textarea">Description</label><!--
			--><textarea id="add-accolade-description-textarea" name="description" maxlength="512" placeholder="(Max. 512 characters)"></textarea><!--
			--><output for="add-accolade-description-textarea"></output>
		</fieldset>
		<fieldset>
			<div id="add-accolade-image-preview-area" class="image-preview-area">
				<img id="add-accolade-preview-img" src="" alt="" />
			</div><!--
			--><div class="upload-instructions">
				<p>Set thumbnail image of the accolade by uploading an image on your computer.</p>
				<p>Please use a square image of at least 200 x 200 pixels.<br>
				   Recommended: 400 x 400 pixels.
				</p>
				<input type="file" id="add-accolade-img-input" name="img" /><label for="add-accolade-img-input">Browse</label><!--
				--><output for="add-accolade-img-input"></output>
			</div>
		</fieldset>
		<fieldset>
			<div id="add-accolade-preview-doc" class="document-preview-area">
				<a target="_blank"></a>
			</div><!--
			--><div class="upload-instructions">
				<p>Upload a PDF document that visitors can download to view more details about the accolade.</p>
				<input type="file" name="doc" id="add-accolade-doc-input" accept=".pdf" /><label for="add-accolade-doc-input">Browse</label><!--
				--><output for="add-accolade-doc-input"></output>
			</div>
		</fieldset>
		<fieldset>
			<label for="add-accolade-display-priority-input">Display Priority</label><!--
			--><input type="text" id="add-accolade-display-priority-input" name="displayPriority" placeholder="(Higher priority will be shown first; set to 0 to hide)" /><!--
			--><output for="add-accolade-display-priority-input"></output>
		</fieldset>
		<button type="submit">Submit</button>
		<button type="reset">Cancel</button>
		<output></output>
	</form>
</section>

<footer class="module-footer" id="accolades-module-footer">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Accolades</a>

	<a class="back-to-top-link" href="#">Back to top</a>
</footer>




