<header class="module-header" id="account-module-header">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Account Settings</a>
</header>

<section class="edit-section shown" id="edit-account-section">
	<h2>Edit Account Information</h2>
	<form id="edit-profile-form">
		<fieldset>
			<label for="edit-profile-name-input">Name</label><!--
			--><input type="text" name="name" id="edit-profile-name-input" /><!--
			--><output for="edit-profile-name-input"></output>
		</fieldset>
		<fieldset>
			<label for="edit-profile-phone-input">Phone Number</label><!--
			--><input type="text" name="phone" id="edit-profile-phone-input" /><!--
			--><output for="edit-profile-phone-input"></output>
		</fieldset>
		<fieldset>
			<label for="edit-profile-email-input">Email</label><!--
			--><input type="email" name="email" id="edit-profile-email-input" readonly="readonly" /><!--
			--><output for="edit-profile-email-input"></output>
		</fieldset>
		<button type="submit">Save</button><button type="reset">Reset</button>
		<output></output>
	</form>
</section>

<section class="edit-section shown" id="change-password-section">
	<h2>Change Password</h2>
	<form id="change-password-form">
		<fieldset>
			<label for="edit-profile-old-password-input">Old Password</label><!--
			--><input type="password" name="old-password" id="edit-profile-old-password-input" /><!--
			--><output for="edit-profile-old-password-input"></output>
		</fieldset>
		<fieldset>
			<label for="edit-profile-new-password-input">New Password</label><!--
			--><input type="password" name="new-password" id="edit-profile-new-password-input" /><!--
			--><output for="edit-profile-new-password-input"></output>
		</fieldset>
		<fieldset>
			<label for="edit-profile-retype-password-input">New Password</label><!--
			--><input type="password" name="retype-password" id="edit-profile-retype-password-input" /><!--
			--><output for="edit-profile-retype-password-input"></output>
		</fieldset>
		<button type="submit">Save</button><button type="reset">Reset</button>
		<output></output>
	</form>
</section>

<footer class="module-footer" id="account-module-footer">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Account Settings</a>
</footer>



