<aside id="activity-module">
	<article id="activity-log">
		<h2>Activity Log</h2>
		<div id="activity-list">
			<!-- Staff Activity Listing to be appended in JS -->
		</div>
	</article>
	<button id="newer-log-button" class="activity-nav" data-page="0" disabled="disabled">Newer</button><!--
	--><button id="older-log-button" class="activity-nav" data-page="0" disabled="disabled">Older</button>
</aside><!--
--><section id="module-links">
	<a class="module-link" href="/categories">
		<h2>Categories</h2>
		<img class="icon" src="/img/ui/module-icon-categories.svg" alt=":)" />
	</a><!--
	--><a class="module-link" href="/sub-categories">
		<h2>Sub Categories</h2>
		<img class="icon" src="/img/ui/module-icon-sub-categories.svg" alt=":)" />
	</a><!--
	--><a class="module-link" href="/therapies">
		<h2>Therapies</h2>
		<img class="icon" src="/img/ui/module-icon-therapies.svg" alt=":)" />
	</a><!--
	--><a class="module-link" href="/articles">
		<h2>Articles</h2>
		<img class="icon" src="/img/ui/module-icon-articles.svg" alt=":)" />
	</a><!--
	--><a class="module-link" href="/careers">
		<h2>Careers</h2>
		<img class="icon" src="/img/ui/module-icon-careers.svg" alt=":)" />
	</a><!--
	--><a class="module-link" href="/accolades">
		<h2>Accolades</h2>
		<img class="icon" src="/img/ui/module-icon-accolades.svg" alt=":)" />
	</a>
</section>





