<header class="module-header" id="sub-categories-module-header">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Sub Categories</a>

	<form class="search-form" id="sub-categories-search-form">
		<input type="search" name="search" placeholder="Search here"><!--
		--><button type="submit" class="search-button"></button>
	</form>
</header>

<nav class="aux-nav">
	<a class="button-link" href="/categories">Categories</a><!--
	--><a class="button-link current" href="">Sub-Categories</a><!--
	--><a class="button-link" href="/therapies">Therapies</a>
</nav>

<section class="results-section" id="view-sub-categories-section">
	<header>
		<nav class="results-pagination" id="results-section-header-pagination"></nav>
		<nav class="results-display-controls" id="results-section-header-display-controls">
			Results per page
			<button class="show-5-result-button" data-count="5">5</button><!--
			--><button class="show-10-result-button active" data-count="10">10</button><!--
			--><button class="show-20-result-button" data-count="20">20</button><!--
			--><button class="show-50-result-button" data-count="50">50</button>
		</nav>
	</header>
	<table id="sub-categories-table">
		<thead>
			<tr>
				<th class="sortable name" data-field="name">Name</th>
				<th class="sortable category" data-field="categoryID">Category</th>
				<th class="sortable displayPriority" data-field="displayPriority">Display Priority</th>
				<th class="actions"></th>
			</tr>
		</thead>
		<tbody id="sub-categories-tbody">
		</tbody>
	</table>
	<footer>
		<nav class="results-pagination" id="results-section-footer-pagination"></nav>
		<nav class="results-display-controls" id="results-section-footer-display-controls">
			Results per page
			<button class="show-5-result-button" data-count="5">5</button><!--
			--><button class="show-10-result-button active" data-count="10">10</button><!--
			--><button class="show-20-result-button" data-count="20">20</button><!--
			--><button class="show-50-result-button" data-count="50">50</button>
		</nav>
	</footer>
</section>

<section class="edit-section" id="edit-sub-category-section">
	<h2>Edit Sub Category</h2>
	<form id="edit-sub-category-form">
		<input type="hidden" name="id" />
		<fieldset>
			<label for="edit-sub-category-name-input">Name</label><!--
			--><input type="text" id="edit-sub-category-name-input" name="name" maxlength="128" placeholder="(Max. 128 characters)" /><!--
			--><output for="edit-sub-category-name-input"></output>
		</fieldset>
		<fieldset>
			<label for="edit-sub-category-description-textarea">Description</label><!--
			--><textarea id="edit-sub-category-description-textarea" name="description" maxlength="1024" placeholder="(Max. 1024 characters)"></textarea><!--
			--><output for="edit-sub-category-description-textarea"></output>
		</fieldset>
		<fieldset>
			<label for="edit-sub-category-category-id">Category</label><!--
			--><select id="edit-sub-category-category-id" name="categoryID"></select><!--
			--><output for="edit-sub-category-category-id"></output>
		</fieldset>
		<fieldset>
			<label for="edit-sub-category-display-priority-input">Display Priority</label><!--
			--><input type="text" id="edit-sub-category-display-priority-input" name="displayPriority" placeholder="(Higher priority will be shown first; set to 0 to hide)" /><!--
			--><output for="edit-sub-category-display-priority-input"></output>
		</fieldset>
		<button type="submit">Submit</button>
		<button type="reset">Cancel</button>
		<output></output>
	</form>
</section>

<section class="add-section shown" id="add-sub-category-section">
	<h2>Add Sub Category</h2>
	<form id="add-sub-category-form">
		<fieldset>
			<label for="add-sub-category-name-input">Name</label><!--
			--><input type="text" id="add-sub-category-name-input" name="name" maxlength="128" placeholder="(Max. 128 characters)" /><!--
			--><output for="add-sub-category-name-input"></output>
		</fieldset>
		<fieldset>
			<label for="add-sub-category-description-textarea">Description</label><!--
			--><textarea id="add-sub-category-description-textarea" name="description" maxlength="1024" placeholder="(Max. 1024 characters)"></textarea><!--
			--><output for="add-sub-category-description-textarea"></output>
		</fieldset>
		<fieldset>
			<label for="add-sub-category-category-id">Category</label><!--
			--><select id="add-sub-category-category-id" name="categoryID"></select><!--
			--><output for="add-sub-category-category-id"></output>
		</fieldset>
		<fieldset>
			<label for="add-sub-category-display-priority-input">Display Priority</label><!--
			--><input type="text" id="add-sub-category-display-priority-input" name="displayPriority" placeholder="(Higher priority will be shown first; set to 0 to hide)" /><!--
			--><output for="add-sub-category-display-priority-input"></output>
		</fieldset>
		<button type="submit">Submit</button>
		<button type="reset">Cancel</button>
		<output></output>
	</form>
</section>

<footer class="module-footer" id="sub-categories-module-footer">
	<a class="breadcrumb" href="/dashboard">Overview</a>
	<a class="breadcrumb">Sub Categories</a>

	<a class="back-to-top-link" href="#">Back to top</a>
</footer>




