<p>We were trying to log out, but the server seems to have encountered an unexpected error.
   The logout operation may not have been completed. Please refresh the page and try again.
</p>
<p>If you continue to see this message every time you reach this site, or if you are unable to
   log in, please <a href="mailto:support@techplusart.com">contact us</a> for help.
</p>