/********* Colors **************
   Name            RGB              HEX
  ------          -----            -----
 black           0, 0, 0           #000000
 dark gray       30, 30, 30        #1E1E1E
 gray            153, 153, 153     #999999
 light gray      204, 204, 204     #CCCCCC
 lighter gray    238, 238, 238     #EEEEEE
 off white       246, 246, 246     #F6F6F6
 white           255, 255, 255     #FFFFFF

 blue            24, 88, 159       #18589F
 light blue      181, 205, 224     #B5CDE0

 orange          231, 167, 96      #E7A760
 *******************************/
#dialog-overlay  {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.85); /* black */
	opacity: 0;
	
	visibility: hidden;
	opacity: 0;
	transition: visibility 1ms 0.1s, opacity 0.1s; /* fade out duration */
}
#dialog-overlay.shown {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s linear; /* fade in duration */
}

#dialog-box {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	background-color: rgb(248, 250, 252); /* off white */
	border-style: solid;
	border-color: rgb(236, 240, 244); /* lighter gray */
	text-align: center;
}

/* Close button */
#dialog-close-button { /* same as UI's close button */
	position: fixed;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	box-shadow: none;
	background-color: transparent;
	color: rgb(175, 178, 181); /* light gray */
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	transition: color 0.2s, box-shadow 0.2s;
}
#dialog-close-button::after {
	content:'×';
	font-size: 24px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#dialog-close-button:focus,
#dialog-close-button:hover,
#dialog-close-button:active {
	box-shadow: none;
	background-color: transparent;
	color: rgb(248, 250, 252); /* off white */
	text-shadow: 0 0 2px rgb(69, 70, 71); /* dark gray */
}

#dialog-box-message {
	text-align: center;
	/*border-bottom: 2px solid rgb(175, 178, 181); /* light gray */
}
#dialog-box-message .error-message {
	font-weight: bold;
	color: rgb(243, 150, 140); /* salmon */
}

@media (min-width: 1440px) { /* min-content: 1280px, margin: 80px */
	#dialog-box {
		width: 1200px;
		height: 640px;
		padding: 80px;
		border-width: 20px;
	}
	#dialog-box-message {
		margin-bottom: 40px;
	}
	#dialog-box > button {
		min-width: 200px;
		margin: 0 20px;
	}
}
@media (min-width: 1024px) and (max-width: 1439.9px) { /* min-content: 920px, margin: 52px */
	#dialog-box {
		width: 816px;
		height: 568px;
		padding: 52px;
		border-width: 16px;
	}
	#dialog-box-message {
		margin-bottom: 26px;
	}
	#dialog-box > button {
		min-width: 136px;
		margin: 0 13px;
	}
}
@media (min-width: 768px) and (max-width: 1023.9px) { /* min-content: 680px, margin: 44px */
	#dialog-box {
		width: 100%;
		height: 100%;
		padding: 50px 44px;
	}
	#dialog-box-message {
		margin-bottom: 15px;
	}
	#dialog-box > button {
		min-width: 128px;
		margin: 0 11px;
	}
}
@media (max-width: 767.9px) { /* min-content: 570px, margin: 30px */
	#dialog-box {
		width: 100%;
		height: 100%;
		padding: 50px 10px;
	}
	#dialog-box-message {
		margin-bottom: 10px;
	}
	#dialog-box > button {
		min-width: 80px;
		margin: 0 5px;
	}
}

/**********
 *  Halt  *
 **********/
#dialog-box.halt {
	width: 100%;
	height: 100%;
}
#dialog-box.halt + #dialog-close-button {
	display: none;
}
#dialog-box.halt > #dialog-box-message::before {
	content:"";
	position: relative;
	display: block;
	margin-bottom: 5vh;
	height: 10vh;
	background-image: url("/img/ui/warning-FFFFFF.svg");
	background-position: center bottom 10%;
	background-size: contain;
	background-repeat: no-repeat;
}

/*****************
 * Select Images *
 *****************/
#dialog-box.select-image {
	width: 100%;
	height: 100%;
	text-align: left;
}
.dialog-box-image {
	display: inline-block;
	vertical-align: top;
	
	opacity: 0.6;
	cursor: pointer;
}
.dialog-box-image:focus,
.dialog-box-image:hover {
	opacity: 0.8;
	outline: 2px dashed rgb(128, 187, 227); /* light blue */
	box-shadow: 0px 0px 5px rgb(37, 95, 148); /* dark blue */
}
.dialog-box-image.selected {
	opacity: 1;
	box-shadow: 0px 0px 15px rgb(37, 95, 148); /* dark blue */
}
.dialog-box-image > img {
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.dialog-box-image-title {
	overflow: hidden;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}
.dialog-box-image-dimensions {
	text-align: center;
}
.dialog-box-image-dimensions::before {
	content: "Size: ";
}
@media (min-width: 1440px) { /* min-content: 1280px, margin: 80px */
	.dialog-box-image {
		margin: 0 20px 20px 0;
		width: 240px;
	}
	.dialog-box-image-title {
		font-size: 20px;
		line-height: 30px;
	}
	.dialog-box-image-dimensions {
		margin-bottom: 20px;
		font-size: 13px;
		line-height: 19.5px;
	}
	#dialog-box.select-image > button {
		margin: 40px 20px 20px 0;
		width: 240px;
	}
}
@media (min-width: 1024px) and (max-width: 1439.9px) { /* min-content: 920px, margin: 52px */
	.dialog-box-image {
		margin: 0 13px 13px 0;
		width: 200px;
	}
	.dialog-box-image-title {
		font-size: 18px;
		line-height: 27px;
	}
	.dialog-box-image-dimensions {
		margin-bottom: 13px;
		font-size: 12px;
		line-height: 18px;
	}
	#dialog-box.select-image > button {
		margin: 26px 13px 13px 0;
		width: 200px;
	}
}
@media (min-width: 768px) and (max-width: 1023.9px) { /* min-content: 680px, margin: 44px */
	.dialog-box-image {
		margin: 0 11px 11px 0;
		width: 160px;
	}
	.dialog-box-image-title {
		font-size: 17px;
		line-height: 26px;
	}
	.dialog-box-image-dimensions {
		margin-bottom: 11px;
		font-size: 11px;
		line-height: 16.5px;
	}
	#dialog-box.select-image > button {
		margin: 22px 11px 11px 0;
		width: 160px;
	}
}
@media (max-width: 767.9px) { /* min-content: 570px, margin: 30px */
	.dialog-box-image {
		margin: 0 10px 10px 0;
		width: 135px;
	}
	.dialog-box-image-title {
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 24px;
	}
	.dialog-box-image-dimensions {
		display: none;
	}
	#dialog-box.select-image > button {
		margin: 20px 10px 10px 0;
		width: 135px;
	}
}
