/********* Colors **************
   Name            RGB              HEX
  ------          -----            -----
 black           0, 0, 0           #000000
 dark gray       30, 30, 30        #1E1E1E
 gray            153, 153, 153     #999999
 light gray      204, 204, 204     #CCCCCC
 lighter gray    238, 238, 238     #EEEEEE
 off white       246, 246, 246     #F6F6F6
 white           255, 255, 255     #FFFFFF

 blue            24, 88, 159       #18589F
 light blue      181, 205, 224     #B5CDE0

 orange          231, 167, 96      #E7A760
 red             239, 67, 60       #EF433C
 *******************************/

/******* Z-Indices ************
 0         : Normal
 1         : Fixed Navs
 99        : Overlays
 999       : Critical Dialogs
 ******************************/

/*******************
 * Site Dimensions *
 *******************/
@-ms-viewport{width:device-width}
 
html, body, #page, #overlay, noscript {
	width:100%;
	height:100%;
	min-width: 320px;
	min-height: 372px;
}
html, body {
	overflow: hidden;
	-ms-scroll-chaining:none;
	-ms-overflow-style:none;
	-ms-touch-action: none;
	touch-action: none;
}
#page {
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-ms-scroll-chaining: none;
	-ms-overflow-style:-ms-autohiding-scrollbar;
}
#overlay, noscript {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
#overlay {
	z-index: 99;
}
noscript {
	z-index: 999;
}

/*****************
 *  Site Header  *
 *****************/
#site-header {
	position: relative;
	width: 100%;
	height: 100px;
}
#header-logo-link {
	display: block;
	position: relative;
	width: 200px;
	height: 40px;
}
#header-logo-link > img {
	width: 100%;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
}
#header-logo-link {
	position: relative;
}
#header-user-controls {
	position: relative;
	line-height: 40px;
}
#header-user-controls > #account-link {
	margin-right: 30px;
}
#header-user-controls > #account-link::after {
	content: "⚙"; /* Unicode gear U+2699 */
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 24px;
	/*
	background-image: url('/img/ui/gear.svg');
	background-position: right center;
	background-repeat: no-repeat;
	color: red;
	*/
}

#header-start-button {
	display: none; /* only show on login page */
	width: 120px;
}

@media (min-width: 1600px) { /* Large Desktops - 1440px */
	#header-logo-link {
		position: absolute;
		top: 30px;
		left: calc(50% - 720px);
	}
	#header-user-controls {
		position: absolute;
		top: 30px;
		right: calc(50% - 720px);
	}
}
@media (max-width: 1599px) { /* Small Desktops - 920px */
	#header-logo-link {
		position: absolute;
		top: 30px;
		left: calc(50% - 460px);
	}
	#header-user-controls {
		position: absolute;
		top: 30px;
		right: calc(50% - 460px);
	}
}

/**********
 *  Main  *
 **********/
#main {
	visibility: visible; /* to be switched during page transition */
	position: relative;
	min-height: calc(100% - 229px);
	opacity: 1; /* to be switched during page transition */

	transition: opacity 0.15s;
}
#main::after { /* pseudo overlay with loading spinner */
	content: "";
	visibility: hidden; /* to be switched during page transition */
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#main.loading {
	visibility: hidden;
	opacity: 0;
	transition: visibility 1ms 0.1s, opacity 0.1s; /* fade in duration */
}
#main.loading::after {
	visibility: visible;
	opacity: 1;
}
#main > section,
#main > header,
#main > footer {
	position: relative;
	margin: 0 auto 40px;
}
@media (min-width: 1600px) { /* Large Desktops - 1440px */
	#main {
		padding: 40px calc(50% - 720px);
	}
	#main > section,
	#main > header,
	#main > footer {
		width: 1440px;
	}
}
@media (max-width: 1599px) { /* Small Desktops - 920px */
	#main {
		padding: 40px calc(50% - 460px);
	}
	#main > section,
	#main > header,
	#main > footer {
		width: 920px;
	}
}

/**********
 * Footer *
 **********/
#site-footer {
	position: relative;
	padding: 40px 0;
	width: 100%;
	height: 129px;
	font-weight: bold;
	text-align: center;
}
#footer-logo-link {
	display: block;
	margin: 0 auto 15px;
	width: 86px;
}
#footer-logo-link > img {
	width: 86px;
	height: 20px;
}

/***********
 * Overlay *
 ***********/
#overlay {
	visibility: hidden; /* to be switched during activation */
	z-index: 99;
	opacity: 0; /* to be transition-ed during activation */
	transition: visibility 1ms 200ms, opacity 200ms; /* fade out duration */
}
#overlay.loading {
	visibility: visible;
	opacity: 0.8;
	transition: opacity 200ms; /* fade in duration */
}
#overlay.shown {
	visibility: visible;
	background-image: none;
	opacity: 1;
	transition: opacity 200ms; /* fade in duration */
}

#overlay-panel {
	overflow: auto;
}
#overlay-close-button {
	position: fixed;
	top: 0;
	right: 0;
}
@media (min-width: 1600px) { /* Large Desktops - 1440px */
	#overlay-panel {
		position: absolute;
		top: 80px;
		right: 80px;
		padding: 40px 120px;
		width: calc(100% - 160px);
		height: calc(100% - 160px);
		border-radius: 5px;
	}
	#overlay-panel section {
		padding: 40px 0;
	}
}
@media (max-width: 1599px) { /* Small Desktops - 920px */
	#overlay-panel {
		position: absolute;
		top: 52px;
		right: 52px;
		padding: 26px 78px;
		width: calc(100% - 104px);
		height: calc(100% - 104px);
		border-radius: 4px;
	}
	#overlay-panel section {
		padding: 26px 0;
	}
}

/************
 * noscript *
 ************/
noscript {
	background-color: rgba(0, 0, 0, 0.8); /* black */
}
noscript > p {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 200px;
	padding: 120px 0 20px 0;
	color: rgb(255, 255, 255); /* white */
	line-height: 20px;
	text-align: center;
	background-color: rgb(0, 0, 0); /* black */
	background-image: url('/img/ui/warning-FFFFFF.svg');
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: center 50px;
}
