/**************
 *    Text    *
 **************/
p {
	margin-bottom: 21px;
}

/*********
 * Lists *
 *********/
ul, ol {
	margin-bottom: 21px;
}

/*****************************
 * Figures & Enclosed Blocks *
 *****************************/
figure, blockquote, pre {
	margin-bottom: 21px;
}

/**********
 * Tables *
 **********/
table {
	width: 100%;
}
tr {
	width: 100%;
}
th, td {
	min-height: 40px;
	overflow: hidden;
}


/*********************
 * Details / Summary *
 *********************/

/***************************
 *         Progress        *
 ***************************/

/**************************
 *  Other Block Elements  *
 **************************/

/*****************
 * Context Menus * 
 *****************/


/****************
 * Nav elements *
 ****************/
.aux-nav {
	margin-bottom: 40px;
}
.aux-nav > a {
	margin-right: 20px;
}
a.breadcrumb {
	display: inline-block;
	vertical-align: top;
	height: 44px;
}

/*** Back to Top ***/
.back-to-top-link {
	position: absolute;
	top: 0;
	right: 0;
}

/*****************************
 *  Special Links (Anchors)  *
 *****************************/
a.button-link {
	display: inline-block;
	height: 40px;
}

/*****************
 * Form elements *
 *****************/
form {
	
}
fieldset {
	display: block;
	padding: 0;
}

form.hide,
form label.hide,
form input.hide,
form select.hide,
form textarea.hide {
	display: none;
}

fieldset > label,
fieldset > input,
fieldset > select,
fieldset > textarea,
fieldset > output {
	display: inline-block;
	vertical-align: top;
}

fieldset > label,
fieldset > input,
fieldset > select {
	height: 40px;
}

fieldset > textarea {
	height: 40px;
}

fieldset > output {
	height: 40px;
}
fieldset > .upload-instructions > output {
	display: block;
}

form > button {
	margin: 40px 20px 20px 20px;
	min-width: 120px;
}
form > output {
	display: block;
	border-bottom: none;
}

fieldset > .document-preview-area > a {
	display: block;
	height: 100%;
	width: 100%;
}

@media (min-width: 1600px) { /* Large Desktops - 1440px */
	fieldset {
		width: 1360px;
	}
	fieldset > label {
		width: 230px;
	}
	fieldset > input,
	fieldset > select,
	fieldset > textarea {
		width: 800px;
	}
	fieldset > output {
		width: 330px;
	}
	form > output {
		width: 100%;
	}

	fieldset > .document-preview-area,
	fieldset > .image-preview-area,
	fieldset > .upload-instructions {
		display: inline-block;
		vertical-align: top;
		margin: 40px 20px;
	}

	fieldset > .document-preview-area {
		width: 420px;
		height: 210px;
	}
	fieldset > .image-preview-area {
		width: 420px;
		height: 420px;
	}
	fieldset > .upload-instructions {
		width: 860px;
	}
}
@media (max-width: 1599px) { /* Small Desktops - 920px */
	fieldset {
		width: 880px;
	}
	fieldset > label {
		width: 160px;
	}
	fieldset > input,
	fieldset > select,
	fieldset > textarea {
		width: 480px;
	}
	fieldset > output {
		width: 200px;
	}
	form > output {
		width: 100%;
	}

	fieldset > .document-preview-area,
	fieldset > .image-preview-area,
	fieldset > .upload-instructions {
		display: inline-block;
		vertical-align: top;
		margin: 40px 20px;
	}

	fieldset > .document-preview-area {
		width: 400px;
		height: 200px;
	}
	fieldset > .image-preview-area {
		width: 400px;
		height: 400px;
	}
	fieldset > .upload-instructions {
		width: 400px;
	}
}

input[type=search] {
	display: inline-block;
	vertical-align: top;
	height: 44px;
}
input[type=search] + button {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	min-width: 40px;
	width: 40px;
	height: 44px;
}

input[type=file] + label {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	width: 180px;
}
/*****************
 * Custom Forms  *
 *****************/
/*** Overlay Form ***/
.overlay-form label {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}
.overlay-form input[type=text],
.overlay-form input[type=url],
.overlay-form input[type=email],
.overlay-form input[type=password] {
	margin-bottom: 10px;
	width: 100%;
	height: 30px;
}

.overlay-form button {
	margin: 0;
	width: 100%;
	height: 30px;
}

.overlay-form output {
	height: 0;
	transition: height 0.2s ease-out;
}
.overlay-form output.shown {
	height: 40px;
}

.overlay-form a {
	display: block;
	margin-bottom: 10px;
	height: 30px;
}

/*** Search Form ***/
.search-form {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
}

/********************
 *  Custom Buttons  *
 ********************/
/*** Pagination Buttons ***/
.page-button {
	min-width: 30px;
}

/*** Results Display Control Buttons ***/
.results-display-controls > button {
	min-width: 40px;	
}

/**************************
 * Common Pseudo-Elements *
 **************************/



/************************
 * Common Site Elements *
 ************************/
.module-header,
.module-footer {
	position: relative;
	height: 46px;
}

.results-section,
.add-section,
.edit-section {
	position: relative;
	margin-bottom: 40px;
	overflow: hidden;
}

.results-section > header,
.results-section > footer {
	position: relative;
	height: 44px;
}

.results-pagination {
	position: absolute;
	top: 0;
	left: 15px;
}
.results-display-controls {
	position: absolute;
	top: 0;
	right: 15px;
}
.image-preview-area {
	position: relative;
}
.image-preview-area > img {
	display: block;
	position: absolute;
	top: 0; bottom: 0;
	left:0; right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

.add-section,
.edit-section {
	display: none;
}

.add-section.shown,
.edit-section.shown {
	display: block;
}
.add-section > h2,
.edit-section > h2 {
	height: 44px;
}

@media (min-width: 1600px) { /* Large Desktops - 1440px */

}
@media (max-width: 1599px) { /* Small Desktops - 920px */
	
}

/************
 * Other Site stuff - defined here so that we can keep site.css free of color-related appearance styles
 ************/
