<article class="feature">
	<img src="{{img-file}}" alt="{{img-alt}}" />
	<h3 class="title">{{title}}</h3>
	<div class="details">
		<p class="excerpt">{{excerpt}}</p>
	</div>
	<a class="button-link" href="{{href}}" target="_blank">More Info</a>
</article>




