<p id="intro">An oasis of tranquility in the city centre, the new TaraBliss spa is designed to soothe all the stresses of urban living. Step into this meditative space of calm and discover the dramatic skin transformation that our highly advanced treatments can wield.</p>

<section id="features">
	<article class="feature">
		<img src="/img/uploads/wheat-1.jpg" alt="Wheat 1" />
		<h3>The Perfect Gift Anytime</h3>
		<p>Get your TaraBliss Complimentary Trial now.</p>
		<a class="button-link" href="/trial">Complimentary Trial</a>
	</article><!--
	--><article class="feature">
		<img src="/img/uploads/wheat-2.jpg" alt="Wheat 2" />
		<h3>Enjoy Spa Benefits Together</h3>
		<p>Take part in our Refer-A-Friend program.</p>
		<a class="button-link" href="/refer">Referrals</a>
	</article>
</section>
<section id="therapy-categories">
	<article class="category">
		<img src="/img/categories/1/main.jpg" alt="Hi-Tech Aesthetics" />
		<h3>Hi-Tech Aesthetics</h3>
		<a class="button-link" href="/therapies" data-category-id="1">More</a>
	</article><!--
	--><article class="category">
		<img src="/img/categories/2/main.jpg" alt="Body Pampering" />
		<h3>Body Pampering</h3>
		<a class="button-link" href="/therapies" data-category-id="2">More</a>
	</article><!--
	--><article class="category">
		<img src="/img/categories/3/main.jpg" alt="Skin Deep" />
		<h3>Skin Deep</h3>
		<a class="button-link" href="/therapies" data-category-id="3">More</a>
	</article><!--
	--><article class="category">
		<img src="/img/categories/4/main.jpg" alt="No More Fuzz" />
		<h3>No More Fuzz</h3>
		<a class="button-link" href="/therapies" data-category-id="4">More</a>
	</article><!--
	--><article class="category">
		<img src="/img/categories/5/main.jpg" alt="Lux Indulgence" />
		<h3>Lux Indulgence</h3>
		<a class="button-link" href="/therapies" data-category-id="5">More</a>
	</article><!--
	--><article class="category">
		<img src="/img/categories/6/main.jpg" alt="Gentlemen" />
		<h3>Gentlemen</h3>
		<a class="button-link" href="/therapies" data-category-id="6">More</a>
	</article>
</section>




