<p id="intro"></p>

<section id="selector">	
	<h2>Select A Page</h2>
	<a class="button-link" href="/accolades#main">Accolades</a>
	<a class="button-link" href="/refer#main">Refer-A-Friend</a>
	<a class="button-link" href="/trial#main">Complimentary Trial</a>
	<a class="button-link" href="/etiquette#main">Spa Etiquette</a>
	<!--<a class="button-link" href="/careers#main">Career Opportunities</a>-->
	<!--<a class="button-link" href="/community#main">Community Commitment</a>-->
	<a class="button-link" href="/disclaimer#main">Spa Disclaimer</a>
	<a class="button-link" href="/terms#main">Terms &amp; Conditions</a>
	<a class="button-link" href="/privacy#main">Privacy Policy</a>
</section><!--
--><section id="selected-content">
	<h2>Privacy Policy</h2>
	<p>This privacy policy aims to better serve those concerned with how their personal information and circumstances are being used online or disclosed.</p>
	
	<p>All references made here, such as “we”, “us” and “our” refer to the TaraBliss team, and all references such as “you” and “your”, refer to our existing and potential customers who have patronized and accepted products and services from TaraBliss.</p>

	<p>We appreciate your trust in us when sharing your information, so please read our privacy policy below carefully for a clear understanding of how we collect, use, protect and handle your Personal Information. We adhere to the principles of applicable data protection and privacy laws in accordance with Singapore Privacy Laws.</p>

	<h3>Information Collected</h3>
	<p>TaraBliss collects the following information: </p>
	<ul>
		<li>Name, ID and job title</li>
		<li>Contact information including email address</li>
		<li>Demographic information such as postcode, preferences and interests</li>
		<li>Other information relevant to customer surveys and/or offers</li>
	</ul>
	<p>We collect this information for the purposes of internal record keeping, in improving our products and services, in the production of our promotional emails on new products, special offers and other information we think would be of interest to you, and for market research purposes. We may contact your by email, phone, text messages, fax or mail, and use the information to customize the website according to your interests.</p>

	<p>Our website uses “cookies and similar tracking technology that allows us to track your browsing history on our website. This information collected is non-personally identifiable.</p>

	<h3>Information Sharing and Disclosure</h3>
	<p>Personally identifiable information is usually collected through the use of our website, mobile services and other platforms including emails, phone conversations, and face-to-face interactions with our employees and directors.</p>
	<p>The information provided to our employees, contractors, agents and designees is however needed for the purpose of providing the best services for your needs.</p>
	<p>TaraBliss also reserves the right to disclose any personally identifiable information collected to any third party under the following conditions: law enforcement, complying with legal processes and government requests, to prevent, investigate, detect, or prosecute criminal offences or attacks on the technical integrity of our website with our network and/or for the purposes of protecting the rights, property, safety and security of TaraBliss and its employees, our website visitors, and/or the public.</p>

	<h3>Changing or Deleting your Information</h3>
	<p>We keep a record of all contacts made by email through our website, in order to respond to you and send you marketing material of our products and services. This information, however, is not shared with outside parties.</p>
	<p>If you would like to change your personally identifiable information or would like to to be removed from our database, please email us at xxx. We also provide an option to unsubscribe from our mailing list via an “unsubscribe” link should you decide you no longer want to receive information or materials from us.</p>

	<h3>Security</h3>
	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

	<h3>Modification of Policy</h3>
	<p>Pacodis Group and TaraBliss reserve the right to modify this Privacy policy to better serve our customers, so we advise you to check in occasionally to review any changes made.</p>
</section>




