<p id="intro">A facial is not just an ordinary facial here at TaraBliss. We make every treatment a genuinely bespoke, luxurious and truly results-oriented experience.</p>

<section id="promotions">
	<h2>Ongoing Promotions</h2>
	
</section>




