<p id="intro">Beyond its skin-transformative face treatments and luxurious body pampering, TaraBliss is also a space dedicated to inner wellbeing.</p>

<section id="articles">
	<h2>Featured Articles</h2>
	<article class="feature">
		<img src="/img/articles/1/thumbnails/main.jpg" alt="Sunscreen" />
		<h3 class="title">Why You Should Take Your Sunscreen Seriously</h3>
		<div class="details">
			<p class="excerpt">Many of us know from all the hardcore marketing from sunscreen companies
			that sunblock is an absolute necessity but...</p>
		</div>
		<a class="button-link" href="https://blog.tarabliss.com.sg/2016/02/04/why-your-should-take-your-sunscreen-seriously/" target="_blank">More Info</a>
	</article><!--
	--><article class="feature">
		<img src="/img/articles/2/thumbnails/main.jpg" alt="Pigmentation" />
		<h3 class="title">Plagued by Pigmentation?</h3>
		<div class="details">
		First things first, what is pigmentation? Pigmentation is ageing dark spots usually caused by sun exposure specifically the...
		</div>
		<a class="button-link" href="https://blog.tarabliss.com.sg/2016/03/21/plagued-by-pigmentation/" target="_blank">More Info</a>
	</article><!--
	--><article class="feature">
		<img src="/img/articles/3/thumbnails/main.jpg" alt="Spray" />
		<h3 class="title">Spray-On Beauty Products, Yay or Nay?</h3>
		<div class="details">
		Recently, spray on beauty products are making waves. From spray on nail polish to spray on blush, there is something for...
		</div>
		<a class="button-link" href="https://blog.tarabliss.com.sg/2016/03/24/spray-makeup-yay-nay/" target="_blank">More Info</a>
	</article>
</section>
<section id="promotions">
	<h2>Ongoing Promotions</h2>
	
</section>




