<div class="activity">
    <img src="{{img-file}}" alt="{{img-alt}}" />
    <article>
        <h2>{{title}}</h2>
        <span>{{event-date}}</span>
        <p>{{description}} </p>
    </article>
</div>