<!--<h2>Ongoing Promotions</h2>-->
<!--{{{promotions-html}}}-->
<a href=""><img src="../../../img/promotions/august-off-peak.jpg" alt=""/></a><!--
--><a href=""><img src="../../../img/promotions/facial-treatment-month.jpg" alt=""/></a><!--
--><a href=""><img src="../../../img/promotions/body-treatment-month.jpg" alt=""/></a>