<form id="reservation-popup-form">
    <h3>RESERVATION FORM</h3>
    <input type="text" name="Name" placeholder="Name*" />
    <input type="text" name="mobile" placeholder="Mobile*" />
    <input type="text" name="nirc" placeholder="NIRC*" />
    <input type="email" name="email" placeholder="Email*" />
    <input type="email" name="email" placeholder="Preferred Date (dd/mm/yy)*" />
    <div class="control-group">
	<label class="control control--radio">
            Morning
            <input type="radio" name="prefer_time" checked="checked"/>
            <div class="control__indicator"></div>
	</label><!--
	--><label class="control control--radio">
            Afternoon
            <input type="radio" name="prefer_time"/>
            <div class="control__indicator"></div>
	</label><!--
	--><label class="control control--radio">
            Evening
            <input type="radio" name="prefer_time" />
            <div class="control__indicator"></div>
	</label>
    </div>
    <input type="text" name="treatment name" placeholder="Treament Name*" />
    <input type="text" name="promo code" placeholder="Promo Code" />
    <textarea placeholder="Any special requests? Let us know :)"></textarea>
    <span id="custom-checkbox">
        <input type="checkbox" name="agevalid" id="accept-terms">
        <label for="accept-terms"></label>
    </span>
    <div id="subscription-terms">
        <p class="label-info">By checking this box, you are deemed to have read and agreed to be bound by Tarabliss Spa & Pacodis Private Limited Group of Companies <a href="">Terms & Conditions</a> and <a href="">Privacy Policy</a>.</p>
        <p class="label-info">You declare that the information that you have supplied is true and correct, and you are deemed to have agreed for us to collect, use, disclose and/or process all personal data submitted for the purpose of sending you notices, information, promotions and updates including marketing and advertising materials in relation to our goods and services and those of third party organizations selected by us. </p>
        <p class="label-info">You also agree to us contacting you with regards to the promotion even though you are registered with the DNC registry. The management reserves all rights to make any amendments to the terms and conditions  without prior notice.</p>
    </div>
    <button type="submit">Submit</button>
</form>