<article class="therapy">
	<h3 class="title">{{title}}</h3>
	<p class="description">{{description}}</p>
	<p class="benefits"><strong>Benefits: </strong>{{benefits}}</p>
	<p class="promotion-terms"><strong>Promotion Terms: </strong>{{promotion-terms}}<br><a href="/terms">Other terms and conditions apply</a>.</p>
	<img src="{{img-file}}" alt="{{img-alt}}" />
	<div class="details promotion">
		Duration: <span class="duration">{{duration}}</span><br>
		<span class="price">{{promotion-price}} <strong><s>(U.P. {{price}})</s></strong></span>
	</div>	
	<a class="button-link" href="mailto:reservations@tarabliss.com.sg?subject=Booking:%20{{title}}&body=Hi,%0A%0AI'd%20like%20to%20book%20a%20session%20on%20">Book Now</a>
</article>




