<form id="pop-up-newsletter-form">
	<img id="logo" src="/img/ui/logo-FFFFFF.svg" alt="TaraBliss" />
	<h3>Be The First To Know!</h3>
	<p>Don't miss our weekly updates on wellbeing news and essential health and beauty tips!
	   Sign up now to receive our e-newsletter and get started on your journey towards a more beautiful &amp;
	   blissful life.
	</p>
	<input type="email" name="email" placeholder="Email*" />
<!-- Development
	<input type="hidden" name="listID" value="f71b72a32a59325dda0f7ee2fb78f6e3" />
<!-- End of Development ListID -->
<!-- Staging
	<input type="hidden" name="listID" value="5911fb580b50ea21bfb84857077b5d13" />
<!-- End of Staging ListID -->
<!-- Production -->
	<input type="hidden" name="listID" value="5911fb580b50ea21bfb84857077b5d13" />
<!-- End of Production ListID -->
	<button type="submit">Subscribe</button>
	<output></output>
</form>




